<%= if @featured_content do SiteWeb.PartialView.teaser(@featured_content, class: "m-schedule-page__teaser") end %>
<%= unless Enum.empty?(@news) do content_tag(:h2, "News", class: "h2") end %>
<%= for news_item <- @news do SiteWeb.PartialView.news_entry(news_item, class: "m-schedule-page__news") end %>
