<%= if @stop.station_info.closed_stop_info do %>
  <%= render "_line_page_stop_closed_text_icons.html", stop: @stop.station_info %>
<% else %>
  <div class="trip-info-stop-name-times">
    <div class="stop-info-column trip-info-name" role="cell">
      <%= stop_name_link_with_alerts(@stop.name, @href, @alerts) %>
    </div>
    <div class="stop-info-column trip-info-time" role="cell">
      <%= PredictedSchedule.Display.time(@predicted_schedule) %>
    </div>
  </div>
<% end %>
