<div class="page-section m-schedule-line">
  <div class="row">
    <div class="col-xs-12 col-lg-3">
      <%= DotcomWeb.PartialView.alert_time_filters(@alerts_timeframe, [
        method: :alerts_path,
        item: @route
      ]) %>
    </div>
    <div class="col-xs-12 col-lg-8 col-lg-offset-1">
      <h2>Alerts</h2>
      <%= DotcomWeb.AlertView.group(alerts: @alerts, route: @route, date_time: @date_time, show_empty?: true, timeframe: @alerts_timeframe) %>
    </div>
  </div>
</div>
