<div class="page-section m-schedule-line">
  <div class="row">
    <div class="col-xs-12 col-lg-3">
      <h3>Jump to</h3>
      <DotcomWeb.Components.Alerts.Subway.titles_by_effect alerts={@alerts} />
    </div>
    <div class="col-xs-12 col-lg-8 col-lg-offset-1">
      <h2>Alerts</h2>
      <DotcomWeb.Components.Alerts.Subway.alerts_by_effect alerts={@alerts} />
    </div>
  </div>
</div>
