<div class={"schedule__header #{ header_class(@route) }"}>
  <div class="schedule__header-container">
    <DotcomWeb.Components.ScheduleHeaderComponents.route_header route={@route} />
    {route_header_description(@route)}
    {route_feature_badge(@route)}
    <div class="schedule__header-tabs">
      {route_header_tabs(@conn)}
    </div>
  </div>
</div>
