<div class="callout schedule-empty">
  {~t(The interactive timetable for)} {@formatted_date} {~t(is temporarily unavailable due to a service change.)}
  <div>
    <%= if @alert.url do %>
      {link(~t(View PDF Timetable), to: @alert.url)}
    <% else %>
      {~t(PDF Upcoming)}
    <% end %>
  </div>
</div>
