<% track_template() %>
<div class="callout schedule-empty">
  <div>
    <.link href="#pdf-schedules">
      {~t(View PDF Timetable)} <span aria-label="Below">&#8595;</span>
    </.link>
  </div>
</div>
