<div class="page-section">
  <div class="container p-0">
    <div class="col-xs-10 col-sm-12 col-offset-1">
      <div class="m-homepage__fares">
        <%= render_paragraph(@homepage_fares, @conn) %>
      </div>
    </div>
  </div>
</div>
