*~
Mnesia*
_build
deps
node_modules
test
cache
rel
!rel/vm.args
!rel/config.exs
erl_crash.dump
build.sh
deploy.sh

# Elastic Beanstalk Files
.elasticbeanstalk/*
.git
.gitignore
.dockerignore
.semaphore-cache
apps/site/node_modules
apps/site/vendor/nodep-date-input-polyfill/node_modules
apps/site/test
apps/site/assets/test
apps/site/assets/node_modules
aws
site-build.zip
