/_build
/cover
/**/cover
*.coverdata
/deps
erl_crash.dump
*.ez
.DS_Store
.ruby-version
.vscode
.elixir_ls
.env

# Elastic Beanstalk Files
.elasticbeanstalk/*
/dotcom-build.zip
ts-build
stats.json
npm-debug.log
doc/
coverage
cover/

.iex.exs

# App artifacts
/_build
/cover
/db
/deps
/*.ez
/lib/css-styleguide-compiler-brunch/assets/node_modules
# Generate on crash by the VM
erl_crash.dump

# Cache files
/assets/.sass-cache/
/assets/namespaced_header_footer/.sass-cache/

# Files for compiled header and footer
/assets/namespaced_header_footer/compiled/
/priv/compiled_header_footer/*/*

# Static artifacts
node_modules

# Since we are building assets from assets,
# we ignore certain directories in priv/static.
/priv/static/css
/priv/static/js

# The config/prod.secret.exs file by default contains sensitive
# data and you should not commit it into version control.
#
# Alternatively, you may comment the line below and commit the
# secrets file as long as you replace its contents by environment
# variables.
/config/prod.secret.exs

# Benchmark results
/bench/snapshots

# Wallaby screenshots
/screenshots
.VSCodeCounter

playwright-report
test-results
