/_build
/cover
/**/cover
*.coverdata
/deps
erl_crash.dump
*.ez
.DS_Store
.ruby-version
.vscode
.elixir_ls
.envrc

# Elastic Beanstalk Files
.elasticbeanstalk/*
/site-build.zip
ts-build
stats.json
npm-debug.log
/apps/news/posts.zip
doc/
coverage
/rel/app.js
cover/

.iex.exs
package-lock.json