/_build
/cover
/**/cover
*.coverdata
/deps
erl_crash.dump
*.ez
.DS_Store
.ruby-version
.vscode
.elixir_ls
.envrc

# Elastic Beanstalk Files
.elasticbeanstalk/*
/site-build.zip
/apps/site/test/backstop_data/bitmaps_test
/apps/site/test/backstop_data/html_report
ts-build
stats.json
npm-debug.log
/apps/news/posts.zip
excoveralls.json
doc/
coverage
/rel/app.js
