<div class={"m-event__status-message #{@class}"}>
  <%= if not @event_started do %>
    <a
      href={event_icalendar_path(@conn, @path)}
      class="btn btn-secondary btn-lg m-event__add-button"
      title={~t(Add event to calendar)}
      aria-label={gettext("Add %{title} to calendar", title: @title)}
    >
      {fa("calendar-plus-o")}
      <span :if={@class == "list-version"} class="m-event__add-text">{~t(Add)}</span>
    </a>
  <% end %>
  <%= if @event_ended do %>
    <%= if @class=="list-version" do %>
      <div class="m-event__ended-message">{~t(Ended)}</div>
    <% else %>
      <button class="btn btn-secondary m-event__add-button" disabled>
        {fa("calendar-times-o")}
      </button>
    <% end %>
  <% end %>
</div>
