<% track_template() %>
<div>
  <span class="event-info-label">Location:</span>
  <%= if @event.location do %>
    <%= @event.location %> • <%= @event.street_address %> • <%= city_and_state(@event) %>
  <% else %>
    <%= @event.imported_address %>
  <% end %>
</div>
