<% track_template() %>
<select class="c-select m-event-list__select">
  <option disabled selected value="">{~t(Jump to)}</option>
  <%= for month <- 1..12 do %>
    {content_tag(
      :option,
      Timex.month_name(month),
      value: build_nav_path(@conn, month, @year),
      selected: month == @month
    )}
  <% end %>
</select>
