<% track_template() %>
<select class="c-select m-event-list__select">
  <option disabled selected value="">Jump to</option>
  <%= for year <- years_for_selection(@conn) do %>
    <%= content_tag(
      :option,
      year,
      [
        value: build_nav_path(@conn, 1, year),
        selected: year == @year
      ]
    ) %>
  <% end %>
</select>
