<h2 className="hidden-sm-down featured-project-subheader">More Projects</h2>
<script data-for="more_projects" id="js-more-projects-data" type="text/plain">
  <%= raw Poison.encode!(@projects) %>
</script>
<div id="react-more-projects-table-root"></div>
