<script data-for="project-teasers" id="js-project-teasers-data" type="text/plain">
  <%= raw Poison.encode!(%{banner: @featured_projects}) %>
</script>

<div id="react-project-teasers-root">
  <%= Site.React.render("ProjectBanner", %{banner: @featured_projects}) %>
</div>
