<%
  {:safe, body} = ContentRewriter.rewrite(@content.body, @conn)
%>

<%= extend_width_if DescriptiveLink.is_alone?(@content), :cards do %>
  <mbta-descriptive-link props-json='<%= Jason.encode! %{
    href: if(@content.link, do: cms_static_page_path(@conn, @content.link.url), else: ""),
    title: ContentRewriter.rewrite(@content.title, @conn),
    bodyTextOrHtml: body
  } %>'></mbta-descriptive-link>
<% end %>
