<div class="events-paragraph">
  <%= SiteWeb.EventView.render "_event_list.html",
    events: @content.events,
    conn: @conn,
    title: "Upcoming Board Meetings",
    empty_placeholder_text: "There are no upcoming board meetings" %>
  <div class="row">
    <div class="col-xs-12">
      <p>
        <%= link to: event_path(@conn, :index), class: "c-call-to-action" do %>
          View all upcoming meetings
        <% end %>
      </p>
    </div>
  </div>
</div>
