<% alias Phoenix.HTML.{Tag, Link} %>
<%= Tag.content_tag :div, class: String.trim("button-group #{args.class}"), id: args.id do %>
  <%= for {text, href} <- args.links do %>
    <%= Tag.content_tag :div, class: "button-container" do %>
      <%= Link.link(text, to: href, class: "btn button") %>
    <% end %>
  <% end %>
<% end %>
