.c-accordion-ui {
  border: solid $border-width $brand-primary-dark;
  border-bottom: 0;
  margin: $base-spacing 0;
}

.c-accordion-ui__heading {
  &.sticky-top {
    background-color: $white;
  }
}

.c-accordion-ui__trigger {
  @include icon-size-inline(1.5em);
  background-color: transparent;
  border-bottom: solid $border-width $brand-primary-dark;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  color: $brand-primary;
  // Flexbox used to keep indicator icon right
  display: flex;
  justify-content: space-between;
  text-align: left;
  text-decoration: none;
  width: 100%;

  &:hover {
    background-color: $brand-primary-lightest;
    color: $brand-primary-darkest;
  }
}

.c-accordion-ui__indicator {
  align-self: center;
  display: flex;
  padding-left: $base-spacing * 2;
}

.c-indicator__content {
  &.c-indicator__content--angle {
    @include fa-icon-solid($fa-var-angle-up);
  }

  .collapsed &.c-indicator__content--angle {
    @include fa-icon-solid($fa-var-angle-down);
  }
}

.c-accordion-ui__content-nojs {
  border-bottom: 1px solid $brand-primary-dark;
}

.c-accordion-ui__trigger,
.c-accordion-ui__content {
  // Character/line-height includes some space, so here we
  // reduce the vertical spacing slightly to account for this
  padding: calc(#{$base-spacing} / 1.5) $base-spacing;

  // Prevent tables from breaking out of accordion boxes:
  .c-media--table {
    @include media-breakpoint-up(sm) {
      .c-media__content {
        max-width: 100%;
        overflow-x: auto;
      }
    }

    @include media-breakpoint-up(md) {
      .c-media__element {
        font-size: .875rem;
      }
    }
  }
}

.c-accordion-ui__target {
  // Borders on this element are hidden while collapsed
  border-bottom: solid $border-width $brand-primary-dark;
}

.c-expandable-block__header {
  background-color: $brand-primary-lightest-contrast;
  cursor: pointer;
  margin-bottom: 0;
  padding: $base-spacing calc(#{$base-spacing} / 2);
}

.c-expandable-block__header-icon {
  display: block;
  float: left;
  height: 1em;
  margin-right: $base-spacing;
  position: relative;
  top: .125em;
  width: 1em;
}

.c-expandable-block__header-caret--black {
  @include caret($color: $black);
}

.c-expandable-block__header-caret {
  @include caret($color: $brand-primary);
}

.c-expandable-block__header-caret--white {
  @include caret($color: $white);
}

.c-expandable-block__panel {
  border: 1px solid $gray-lightest;
  padding: $base-spacing calc(#{$base-spacing} / 2);

  p:last-child {
    margin-bottom: 0;
  }
}

// handles collapse functionality w/o bs
.c-accordion-ui--no-bootstrap {
  .c-accordion-ui__heading {
    margin: 0;
  }

  [data-accordion-expanded='false'] + .c-accordion-ui__content {
    display: none; // start hidden
  }

  .c-indicator__content--angle {
    @include fa-icon-solid($fa-var-angle-down);
  }

  [data-accordion-expanded='true'] .c-indicator__content--angle {
    @include fa-icon-solid($fa-var-angle-up);
  }
}
