.c-amenity-modal {
  padding: .5rem 1rem;

  h1 {
    background-color: $brand-primary-lightest-contrast;
    margin: -.75rem -1rem 1rem;
    padding: 1rem 4.063rem 1rem 1rem;
  }

  .c-modal__content {
    padding-bottom: 1rem;
  }

  .c-modal__close {
    margin: .65rem;
  }

  .fare-sales-table {
    border: $border;
    width: 100%;

    thead tr {
      @extend %table-header;
    }

    th,
    td {
      padding: $base-spacing calc(#{$grid-gutter-width} / 2);
    }

    tbody tr:nth-of-type(even) {
      background-color: $gray-bordered-background;
    }
  }
}

.access-amenities-header {
  background: $brand-primary-darkest;
  color: $white;
  font-size: .875rem;
  height: 3.75rem;
}

.access-amenities-row {
  height: 4rem;

  &:nth-child(2n+3) {
    background-color: $gray-lightest;
  }
}

.status {
  padding-right: 1rem;
  white-space: nowrap;
}

.amenity-status {
  font-size: .5rem;
  padding-right: .625rem;
  vertical-align: middle;
}

.amenity-working {
  color: $brand-success;
}

.amenity-out {
  color: $error-text;
}

.access-amenities-table {
  border: solid .063rem $gray-lightest;
  margin-bottom: 1rem;
  width: 100%;
}
