.c-amenity-modal {
  padding: .5rem 1rem;

  h1 {
    background-color: $brand-primary-lightest-contrast;
    margin: -.75rem -1rem 1rem;
    padding: 1rem;
  }

  .c-modal__content {
    padding-bottom: 1rem;
  }

  .c-modal__close {
    margin: .65rem;
  }
}

.facilities-list-header {
  background: $brand-primary-darkest;
  color: $white;
  height: 3.75rem;
  padding-top: 0 !important;
}


.access-amenities-container {
  border: solid .063rem $gray-lightest;
  .access-amenities-row:nth-child(2n) {
    background: $gray-lightest;
  }
}

.access-amenities-row {
  display: grid;
  grid-template-columns: 66.667% 33.334%;
  height: 5rem;
  padding-bottom: .625rem;
  padding-left: .625rem;
  padding-top: 1.25rem;
}

.access-amenities-name {
  padding-right: 3.125rem;
}

.access-amenities-text {
  font-size: .875rem;
  font-weight: 400;
}

.amenity-status {
  padding-right: .625rem;
}

.amenity-working {
  color: green;
}

.amenity-out {
  color: red;
}
