.c-teaser-list {
  margin-top: $base-spacing;

  // Alternative grid layout: arranges teasers into
  // columns when displayed in the main body area.
  @include media-breakpoint-up(sm) {
    .c-cms__body &--grid {
      @include teaser-grid();
    }
  }

  // When multiple teasers are shown in series, add
  // adequate vertical spacing between items.
  .c-content-teaser {
    margin-bottom: $base-spacing;
    margin-top: 0;
  }
}

.c-content-teaser {
  border: 0;
  color: inherit;
  display: block;
  margin-top: $base-spacing;
  position: relative;
  text-decoration: none;

  &--event,
  &--news-entry {
    .c-content-teaser__title {
      color: $brand-primary;
      font-weight: 500;
    }
  }

  &.u-linked-card:focus-within {
    @include tab-focus();
  }

  // Primary links
  &.u-linked-card:hover {
    .c-content-teaser__title {
      color: $brand-primary;
    }

    .c-content-teaser__topic:hover ~ .c-content-teaser__title {
      color: $black;
    }
  }

  &.c-content-teaser--news-entry.u-linked-card:hover,
  &.c-content-teaser--event.u-linked-card:hover {
    .c-content-teaser__title {
      text-decoration: underline;
    }
  }

  // Secondary links
  a {
    color: inherit;

    &:hover {
      color: $brand-primary;
      text-decoration: none;
    }
  }

  &:nth-child(odd) {
    clear: both;
  }

  &--news-entry {
    border-left: calc(#{$base-spacing} / 2) solid $brand-primary;
    padding-left: $base-spacing;
  }

  &--orange-line {
    border-color: $brand-orange-line;
  }

  &--green-line {
    border-color: $brand-green-line;
  }

  &--red-line {
    border-color: $brand-red-line;
  }

  &--blue-line {
    border-color: $brand-blue-line;
  }

  &--silver-line {
    border-color: $brand-silver-line;
  }

  &--mattapan-line {
    border-color: $brand-red-line;
  }

  &--commuter-rail {
    border-color: $brand-commuter-rail;
  }

  &--bus {
    border-color: $brand-bus;
  }

  &--ferry {
    border-color: $brand-ferry;
  }

  &--subway {
    border-color: $brand-subway;
  }

  &--the-ride {
    border-color: $brand-the-ride;
  }
}

.c-content-teaser__image {
  margin-bottom: calc(#{$base-spacing} / 2);
  width: 100%;

  &:last-child {
    margin-bottom: 0;
  }
}

.c-content-teaser__date,
.c-content-teaser__topic {
  font-weight: 700;
}

.c-content-teaser__title {
  margin-top: 0;

  .c-content-teaser--diversion & {
    margin-bottom: 0;
  }
}
