.desktop-menu--language {
  background-color: $white;
  background-image: none;
  box-shadow: 0 2px 4px 0 $drop-shadow-color;
  left: auto;
  right: auto;
  transform: translateX(-194px);
  width: 275px;

  @include media-breakpoint-down(lg) {
    transform: translateX(-204px);
  }
}

.language__linkcontainer {
  margin-top: $space-8;
}

.language__link {
  display: block;
  font-weight: bold;
  padding-top: $space-8;
  text-align: left;

  // this gets added by Google Translate and causes problems
  font {
    pointer-events: none;
  }
}

.language__link--mobile {
  color: $white;
  font-weight: normal;
  margin-left: $base-spacing;
}

.language__link--active {
  color: $black;
}

.language__link--mobile-active {
  font-weight: bold;
}

.navbar-toggle-moble--language {
  margin-right: $base-spacing;
}
