.dl {
  @include make-row();
  border-bottom: 1px solid $gray-light;
  margin: .5rem 0 0;
}

.dl--item {
  // added this because at larger breakpoints items float into different rows
  @include media-breakpoint-up(md) {
    clear: both;
  }
}

.dt {
  @include make-col();
  padding-left: ($grid-gutter-width / 2);
  padding-right: ($grid-gutter-width / 2);
  border-top: 1px solid $gray-light;
  padding-top: 1rem;

  @include media-breakpoint-up(sm) {
    border-top: 1px solid $gray-light;
    padding-left: 0;
  }

  @include media-breakpoint-only(xs) {
    padding-left: 0;
    padding-right: 0;
  }
}

.dd {
  @include make-col();
  padding-left: ($grid-gutter-width / 2);
  padding-right: ($grid-gutter-width / 2);
  margin-bottom: 0;
  padding-top: 1rem;

  @include media-breakpoint-up(sm) {
    border-top: 1px solid $gray-light;
    padding-right: 0;
  }

  @include media-breakpoint-down(xs) {
    padding: 0;
  }

  h1:first-child,
  h2:first-child,
  h3:first-child,
  h4:first-child,
  h5:first-child,
  h6:first-child {
    margin-top: 0;
  }
}
