.m-detailed-stops {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.m-detailed-stop {
  border: $border;
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
  flex-wrap: wrap;
  margin-left: -1px;
  margin-top: -1px;

  @include media-breakpoint-only(xs) {
    flex-basis: 100%;
  }

  @include media-breakpoint-only(sm) {
    flex-basis: 50%;
  }

  @include media-breakpoint-up(md) {
    flex-basis: 33%;
  }

  &.c-search-bar__result {
    padding-bottom: calc(#{$base-spacing} / 2);
    padding-top: calc(#{$base-spacing} / 2);
  }
}

.m-detailed-stop__features,
.m-detailed-stop__name {
  flex-basis: 0;
}

.m-detailed-stop__name {
  flex-basis: auto;
  flex-grow: 1;
  flex-shrink: 0;
  justify-self: flex-start;
  order: 1;

  .c-search-bar__result & {
    font-weight: bold;
  }
}

.m-detailed-stop__features {
  flex-basis: auto;
  flex-grow: 1;
  flex-shrink: 1;
  float: none;
  justify-self: flex-end;
  order: 2;
  text-align: right;

  .c-search-bar__result & {
    order: 3;
  }
}

.m-detailed-stop__zone {
  flex-basis: 100%;
  flex-grow: 1;
  flex-shrink: 0;
  justify-self: flex-end;
  order: 3;

  .c-search-bar__result & {
    flex-basis: auto;
    order: 2;
    padding-right: $base-spacing;
    text-align: right;
  }
}
