@import 'variables';

// Used in the error layout page
.error-page {
  @include media-breakpoint-between(md, xxl) {
    margin-top: $base-spacing__new * 10;
  }
  @include media-breakpoint-only(sm) {
    margin: $base-spacing__new * 6 $base-spacing__new * 10;
  }
  @include media-breakpoint-only(xs) {
    margin: $base-spacing__new * 4 $base-spacing__new * 6;
  }
}
.error-pre-title + .error-title {
  @include media-breakpoint-between(md, xxl) {
    display: none;
  }
}
.error-details-container .error-title {
  margin-bottom: 40px;
  @include media-breakpoint-between(xs, sm) {
    display: none;
  }
}
.error-pre-title {
  color: $gray;
  margin-bottom: $base-spacing__new * 4;
  line-height: 1.4;
  @include media-breakpoint-only(sm) {
    margin-bottom: $base-spacing__new * 2;
  }
}
.error-pre-title, .error-title {
  @include media-breakpoint-only(xs) {
    text-align: center;
  }
}
.error-page-flex {
  display: flex;
  flex-direction: column;
  @include media-breakpoint-up(sm) {
    flex-direction: row-reverse;
    margin-top: $base-spacing__new * 6;
  }
  @include media-breakpoint-up(xxl) {
    margin-top: 0;
  }
}
.error-details-container {
  @include media-breakpoint-only(sm) {
    margin-top: $base-spacing__new * 4;
    margin-right: $base-spacing__new * 6;
  }
  @include media-breakpoint-between(md, lg) {
    margin-right: $base-spacing__new * 10;
  }
  @include media-breakpoint-only(xxl) {
    margin-right: $base-spacing__new * 15;
  }
}
.error-svg-container {
  flex: 0 0 auto;
  @include media-breakpoint-only(xxl) {
    width: 380px;
    margin: 0 $base-spacing__new * 20;
  }
  @include media-breakpoint-between(md,lg) {
    width: 280px;
    margin: 0 $base-spacing__new * 10;
  }
  @include media-breakpoint-down(sm) {
    width: 220px;
    margin: 0 $base-spacing__new * 6;
  }
  @include media-breakpoint-only(xs) {
    align-self: center;
    margin: $base-spacing__new * 5;
  }
}
.error-paragraph {
  line-height: 1.5;
}
.error-links {
  line-height: 1.5;
  margin-top: 1.5rem;
}

// Bus SVG animation
@keyframes blink {
  0% { opacity: 0; }
  25% { opacity: 0.8; }
  75% { opacity: 0.8; }
  100% { opacity: 0; }
}
#LIGHT---NOTINSERVICE {
  animation: blink 1s infinite;
}
@keyframes light {
  0% { opacity: 0; }
  25% { opacity: 1; }
  75% { opacity: 1; }
  100% { opacity: 0; }
}
[id$=--ON] {
  animation: light 1s infinite;
}

// Error for search box
%error-message {
  background-color: $form-error-message;
  color: $error-text;
  padding: .375rem .75rem;
}

// Transit Near Me error
.c-fullscreen-error__container {
  @extend %error-message;
}

.c-fullscreen-error__heading {
  margin: $base-spacing 0 0;
}

.c-fullscreen-error__dismiss {
  color: $error-text;
  cursor: pointer;
  float: right;
  text-decoration: none;

  &:hover, &:focus, &:active {
    color: $error-text;
  }
}

// Used in the redirect/show.html.eex
.errorview {
  flex: 0 0 auto;
}
.error-card {
  background: $white;
  color: $gray-dark;
  text-align: center;
}
.error-card-header {
  border-bottom: 0;
  font-size: 4rem;

  @include media-breakpoint-down(sm) {
    h1 {
      padding-bottom: 0;
    }
  }
}
.error-card-subheader {
  margin-bottom: $base-spacing;
}
.error-card-content {
  margin-left: auto;
  margin-right: auto;
  text-align: center;

  @include media-breakpoint-down(sm) {
    width: 80%;
  }
}
.error-card-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.error-card-button {
  @include media-breakpoint-up(md) {
    margin-bottom: $base-spacing * 3;
    margin-top: $base-spacing * 3;
  }
  @include media-breakpoint-down(sm) {
    margin-bottom: $base-spacing * 4;
    margin-top: $base-spacing * 4;
  }
}