@import 'variables';

.error-page {
  display: flex;
  flex-direction: column;
  @include media-breakpoint-down(xxl) {
    margin-top: $base-spacing__new * 10;
  }
  @include media-breakpoint-down(md) {
    margin-top: $base-spacing__new * 6;
  }
  @include media-breakpoint-down(sm) {
    margin: $container-margin-sm;
  }
  @include media-breakpoint-down(xs) {
    margin: $container-margin-xs;
  }
  @include media-breakpoint-up(xxl) {
      display: none;
  }
  &.xl-only {
    display: none;
    @include media-breakpoint-up(xxl) {
      display: block;
    }
  }
}
.error-pre-title {
  color: $gray;
  margin-bottom: $base-spacing__new * 4;
  @include media-breakpoint-down(lg) {
    margin-bottom: $base-spacing__new * 2;
  }
}
.error-title {
  @include media-breakpoint-up(xxl) {
    margin-bottom: 40px;
  }
}
.error-pre-title, .error-title {
  @include media-breakpoint-down(xs) {
    text-align: center;
    margin-bottom: $base-spacing__new;
  }
}
.error-page-flex {
  display: flex;
  flex-direction: column;
  @include media-breakpoint-up(sm) {
    flex-direction: row-reverse;
    margin-top: $base-spacing__new * 10;
  }
  @include media-breakpoint-up(xxl) {
    margin-top: 0;
  }
}
.error-details-container {
  @include media-breakpoint-up(sm) {
    margin-right: $base-spacing__new * 6;
  }
  @include media-breakpoint-up(md) {
    margin-right: $base-spacing__new * 10;
  }
  @include media-breakpoint-up(xxl) {
    margin-right: $base-spacing__new * 15;
  }
}
.error-svg-container {
  flex: 0 0 auto;
  @include media-breakpoint-down(xxl) {
    width: 380px;
    margin: 0 $base-spacing__new * 20;
  }
  @include media-breakpoint-down(lg) {
    width: 220px;
    margin: 0 $base-spacing__new * 10;
  }
  @include media-breakpoint-down(sm) {
    width: 160px;
    margin: 0 $base-spacing__new * 6;
  }
  @include media-breakpoint-down(xs) {
    align-self: center;
    margin: $base-spacing__new * 5;
  }
}
.error-paragraph {
  margin-bottom: 0;
  @include media-breakpoint-up(md) {
    margin-bottom: $base-spacing__new * 4;
  }
}
.error-description {
  font-weight: bold;
}
.error-links {
  margin-top: $base-spacing__new * 3;
  @include media-breakpoint-up(md) {
    margin-top: $base-spacing__new * 6;
  }
}

@keyframes blink {
  0% { opacity: 0; }
  25% { opacity: 0.8; }
  75% { opacity: 0.8; }
  100% { opacity: 0; }
}
#LIGHT---NOTINSERVICE {
  animation: blink 1s infinite;
}
@keyframes light {
  0% { opacity: 0; }
  25% { opacity: 1; }
  75% { opacity: 1; }
  100% { opacity: 0; }
}
[id$=--ON] {
  animation: light 1s infinite;
}

// Wonder if any of this is used

%error-message {
  background-color: $form-error-message;
  color: $error-text;
  padding: .375rem .75rem;
}

.c-fullscreen-error__container {
  @extend %error-message;
}

.c-fullscreen-error__heading {
  margin: $base-spacing 0 0;
}

.c-fullscreen-error__dismiss {
  color: $error-text;
  cursor: pointer;
  float: right;
  text-decoration: none;

  @include hover-focus-active {
    color: $error-text;
  }
}
