@import 'variables';

.event-hr-row {
  border-top: $border;
  margin-top: $base-spacing-lg;
  padding-top: $base-spacing-lg;
}

.arrow-icon:hover {
  color: $brand-primary-lightest;
  text-decoration: none;
}

.event-info-label {
  font-weight: bold;

  @include media-breakpoint-down(sm) {
    display: block;
  }
}

.events-paragraph {
  margin: $base-spacing-lg 0;
}

.events-paged-list-header {
  background-color: $brand-primary-darkest;
  color: $white;
  line-height: 2em;
  margin-bottom: 0;
  text-align: center;
  text-transform: uppercase;

  a {
    color: $white;
    display: inline-block;
    padding: 0 $space-12;
    vertical-align: bottom;
  }
}

.event-inline-block {
  display: inline-block;
}

.m-event__date-circle {
  display: flex;
  flex-direction: column;
  height: 4rem;
  width: 4rem;
  background-color: $gray-bordered-background;
  border-radius: 2rem;
  justify-content: center;
  align-items: center;
  margin-right: 1.5rem;
  text-transform: uppercase;
  color: $gray;
  @include media-breakpoint-down(xs) {
    display: none;
  }
}
.m-date-range {
  font-size: .88rem;
  color: $gray;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 1.5rem;
}
.m-event__day {
  margin: 0;
}
