.m-event-details {

  .c-cms__title {
    margin-top: 2.5rem;
  }

  .c-cms__title-text {
    margin-top: 0;
  }

  .m-event__date-range {
    font-size: 16px;
    font-weight: bold;
  }

  .c-paragraph {
    padding-bottom: $base-spacing * 2;
    .add-to-calendar-link {
      font-weight: 500;
    }
  }

  .m-event-section {
    padding-bottom: $base-spacing-lg;
  }

  .m-event__registration {
    display: flex;
    justify-content: space-between;
    
    &-header {
      flex: 0 1 40%;
      margin: 0;
      align-self: center;
    }

    @include media-breakpoint-down(xs) {
      display: block;
      .m-event__registration-header {
        margin-bottom: $base-spacing / 2;
      }
    }
  }
}

.m-event__livestream {
  width: 100%;
  height: 56vw;
  max-height: 560px;
}
