.event-hr-row {
  border-top: $border;
  margin-top: $base-spacing-lg;
  padding-top: $base-spacing-lg;
}

.event-info-label {
  font-weight: bold;

  @include media-breakpoint-down(sm) {
    display: block;
  }
}

.events-paragraph {
  margin: $base-spacing-lg 0;
}

.event-inline-block {
  display: inline-block;
}
