@import 'variables';

.event-hr-row {
  border-top: $border;
  margin-top: $base-spacing-lg;
  padding-top: $base-spacing-lg;
}

.arrow-icon:hover {
  color: $brand-primary-lightest;
  text-decoration: none;
}

.event-info-label {
  font-weight: bold;

  @include media-breakpoint-down(sm) {
    display: block;
  }
}

.events-paged-list-header {
  background-color: $brand-primary-darkest;
  color: $white;
  line-height: 2em;
  margin-bottom: 0;
  text-align: center;
  text-transform: uppercase;

  a {
    color: $white;
    display: inline-block;
    padding: 0 $space-12;
    vertical-align: bottom;
  }
}

.event-inline-block {
  display: inline-block;
}

.m-event {
  padding: 0 16px;
  @include media-breakpoint-down(xs) {
    padding: 0 24px;
  }
}
.m-event__date-circle {
  display: flex;
  flex-direction: column;
  height: 64px;
  width: 64px;
  background-color: $gray-bordered-background;
  border-radius: 32px;
  justify-content: center;
  align-items: center;
  margin: 17px 24px 0 0;
  color: $gray;
  font-family: $headings-font-family;
  text-transform: uppercase;
  @include media-breakpoint-down(xs) {
    display: none;
  }
}
.m-event__month {
  font-size: 14px;
  line-height: 17px;
}
.m-event__day {
  font-size: 23.62px;
  line-height: 28px;
  margin: 0;
}
.m-event__date-range {
  font-size: 14px;
  color: $gray;
  line-height: 22.95px;
  text-transform: uppercase;
  font-weight: 500;
  padding-top: 21px;
  padding-bottom: 4px;
  @include media-breakpoint-down(xs) {
    font-size: 12px;
    padding-top: 13px;
    padding-bottom: 9px;
  }
}
.m-event__title {
  font-size: 18px;
  line-height: 24px;
  padding-bottom: 25px;
  @include media-breakpoint-down(xs) {
    font-size: 14px;
    line-height: 21px;
    padding-bottom: 19px;
  }
}
