.event-hr-row {
  border-top: $border;
  margin-top: $base-spacing-lg;
  padding-top: $base-spacing-lg;
}

.event-info-label {
  font-weight: bold;

  @include media-breakpoint-down(md) {
    display: block;
  }
}

.event-inline-block {
  display: inline-block;
}

.m-events-hub {
  header {
    align-items: baseline;
    display: flex;
    justify-content: space-between;

    h1 { margin-bottom: 0; }
  }
}

.m-event-listing {
  @include media-breakpoint-down(sm) {
    /* stylelint-disable-next-line scss/operator-no-unspaced */
    margin: 0 -$base-spacing;
  }
}

$mobile-control-height: 73px;

.m-event-list__month {

  &-header {
    margin: 0;
  }

 .c-expandable-block__link {
    background-color: $white;
    padding: $base-spacing calc(#{$base-spacing} / 2);

    &.sticky-top {
      @include media-breakpoint-down(xs) {
        padding-left: $base-spacing;
        transition: top .2s ease-in-out;

        .js-nav-down & {
          top: 0;
        }

        .js-nav-up & {
          top: $mobile-control-height;
        }
      }
    }

    &[stuck] {
      /* stylelint-disable-next-line scss/operator-no-unspaced */
      box-shadow: 0 $space-16 $space-16 -1rem $drop-shadow-color;
    }
  }
}

.m-events-header {
  margin-bottom: 20px;
}

.m-event-list__nav {
  background-color: $white;
  padding-top: $base-spacing;

  a {
    display: block;
    font-size: 18px;
    margin-bottom: calc(#{$base-spacing} / 2);
  }

  &.sticky-top {
    top: $base-spacing;
  }

  @include media-breakpoint-down(sm) {
    display: none;
  }
}

.m-events-content {
  @include media-breakpoint-down(sm) {
    margin-top: 1.044rem;
  }
}

.m-events-hub__nav--controls {
  display: flex;
  @include media-breakpoint-down(md) {
    display: none;
  }
}

.m-events-hub__nav--navigation-toggle {
  align-items: center;
  border: 1px solid $gray-lightest;
  border-radius: 4px;
  display: flex;
  margin-left: $space-12;
  padding: 4px;

  a {
    color: $gray-lighter;
    text-decoration: none;
  }
}

.m-nav-toggle-icon {
  border-radius: 2px;
  padding: 9px 12px 9px 13px;
}

.active-view {
  background-color: $brand-primary;
  color: $white;
}

.m-event-list__nav--mobile-controls {
  background-color: $white;
  border-bottom: 1px solid $gray-lightest;
  display: none;
  height: $mobile-control-height;
  padding: $base-spacing;
  transition: top .2s ease-in-out;
  position: sticky;
  z-index: 14; // one-up value so the mobile nav shows on top

  .m-event-list__select {
    height: 100%;

    &:first-child {
      flex: 1;
      margin-right: $base-spacing;
    }
  }

  // show on scrolling up, hide on down
  .js-nav-up & {
    @include media-breakpoint-down(sm) {
      display: flex;
      top: 0;
    }
  }

  .js-nav-down & {
    @include media-breakpoint-down(sm) {
      display: flex;
      top: -$mobile-control-height;
    }
  }
}

.m-event-list__select {
  border-radius: 4px;
  border-width: 1px;
  padding: .5 * $base-spacing 2 * $base-spacing .5 * $base-spacing $base-spacing;
  display: none;
  body.js & {
    display: block;
  }
}

.list-group-flush:first-child .list-group-item:first-child {
  border-top: unset;
  border: solid $gray-lightest;
  border-width: 1px 0;
}

.m-previous-events-button {
  cursor: pointer;
}

.hidden {
  display: none !important;
}

.m-event {
  padding: 16px;
  @include media-breakpoint-down(sm) {
    padding: 13px 24px 17px 24px;
  }
}

.m-event__date-circle {
  display: flex;
  flex-direction: column;
  height: 64px;
  width: 64px;
  background-color: $gray-bordered-background;
  border-radius: 32px;
  justify-content: center;
  align-items: center;
  margin-right: 24px;
  color: $gray;
  font-family: $headings-font-family;
  text-transform: uppercase;
  @include media-breakpoint-down(sm) {
    display: none;
  }
}
.m-event__month {
  font-size: 14px;
  line-height: 17px;
}
.m-event__day {
  font-size: 23.62px;
  line-height: 28px;
  margin: 0;
}
.m-event__date-range {
  font-size: 14px;
  line-height: 22.95px;
  text-transform: uppercase;
  font-weight: 500;
  padding-top: 4px;
  padding-bottom: 4px;
  @include media-breakpoint-down(sm) {
    font-size: 12px;
    padding-top: 0;
    padding-bottom: 9px;
  }
  &.gray {
    color: $gray;
  }
}
.m-event__title {
  font-size: 18px;
  line-height: 24px;
  padding-bottom: 9px;
  font-weight: 500;
  @include media-breakpoint-down(sm) {
    font-size: 14px;
    line-height: 21px;
    padding-bottom: 0;
  }

  a {
    color: inherit;
    &:hover {
      color: $brand-primary;
    }
  }
}

.m-event__status-message {

  &.list-version {
    margin-left: 30px;
    text-align: right;
    .m-event__add-button {
      padding: 9px 12px;
    }
  }
  &.popup-version {
    margin-right: $base-spacing;
    .m-event__add-button {
      padding: 13px;
    }
  }
  .m-event__add-button {
    align-items: center;
    display: flex;
    font-weight: 500;
    font-size: 21px;

    &:disabled {
      color: $gray-light;
      border-color: $gray-light;
      &:hover {
        background-color: $gray-lightest;
      }
    }

    i {
      margin-left: 1px;
    }

    .m-event__add-text {
      padding-left: 8px;
      font-size: 18px;
      @include media-breakpoint-down(sm) {
        display: none;
      }
    }
  }
}

.m-event__ended-message {
  width: 96px;
  color: $gray;
  font-weight: 500;
  font-size: 18px;
}

.m-event-calendar {
  font-size: small;
  table-layout: fixed;
  width: 100%;

  th {
    color: $gray;
    font-family: $headings-font-family;
    text-align: center;
  }

  &__day {
    border: 1px solid $gray-lightest;
    height: $base-spacing * 6; // works like min-height
    padding: calc(#{$base-spacing} / 4);
    vertical-align: top;
  }

  &__day-label {
    color: $gray;
    font-family: $headings-font-family;
    font-weight: bold;
    margin-bottom: calc(#{$base-spacing} / 2);
  }

  &__event {
    display: flex;
    width: 100%;
    font-size: 12px;
    align-items: center;
    color: $gray-dark;
    background-color: $white;
    border: 0;
    padding: 0;

    // hide when JS is disabled
    .no-js &[data-a11y-dialog-show] {
        display: none;
    }

    .fa-circle {
      font-size: xx-small;
      padding-right: 8px;
      color: $brand-primary;
      &.ended {
        color: $gray;
      }
    }
    &-time {
      flex-shrink: 0;
      padding-right: 4px;
    }
    &-title {
      font-weight: 700;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      &:hover, &:focus {
        color: $brand-primary;
        text-decoration: none;
      }
    }
  }
}

.m-hide-show-calendar {
  @include media-breakpoint-down(md) {
    display: none;
  }
}

.m-list-view-instead-of-calendar {
  display: none;
  @include media-breakpoint-down(md) {
    display: block;
  }
}

.c-expandable-block-caret--black {
  @include expandable-block-caret($color: $black);
}
