.m-event-details {

  .c-cms__title {
    margin-top: 2.5rem;
  }

  .c-cms__title-text {
    margin-top: 0;
  }

  .m-event__date-range {
    font-size: 16px;
    font-weight: bold;
  }

  .c-paragraph {
    padding-bottom: $base-spacing * 2;
  }

  .m-event__section-padding {
    padding-bottom: $base-spacing-lg;
  }
  
  .m-event__section-border {
    border-bottom: $border;
    &:last-child {
      border-bottom: none;
    }
  }

  .m-event__registration {
    padding: $base-spacing * 2 0 $base-spacing 0;
    
    &-header {
      flex: 0 1 40%;
      margin: 0;
      align-self: center;
    }
    &-container {
      flex: 1 0 auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    @include media-breakpoint-down(xs) {
      flex-direction: column;
      a {
        width: 100%;
      }
      .m-event__registration-header {
        align-self: unset;
        margin-bottom: $base-spacing / 2;
      }
      .m-event__registration-container {
        align-items: flex-start;
      }
    }
  }
}
