.fare-summary-container {
  @include clearfix();

  border-collapse: collapse;
  padding-top: $base-spacing;
}

.fare-summary-entry {
  background-color: $white;
  border: 1px solid $gray-lightest;
  color: $gray-dark;
  display: block;
  margin-bottom: $base-spacing;
  margin-top: -$space-1 - $base-spacing;
  padding: $base-spacing-sm $base-spacing;
  width: 100%;

  &[href] {
    @extend %button-focus-color;
  }
}

.fare-summary-container-table-multi-col {
  @include media-breakpoint-up(sm) {
    // add back the bottom margin removed by the display: table
    margin-bottom: $base-spacing;
    padding-top: 0;

    > * {
      @include clearfix();
      display: table;
      width: 100%;
    }

    > * + * {
      // collapse subsequent rows
      margin-top: -$space-1;
    }

    .fare-summary-entry {
      display: table-cell;
      width: 50%;
    }
  }
}

.fare-summary-title {
  margin-bottom: $base-spacing-sm;
}

.fare-summary-name {
  display: inline-block;
  font-weight: bold;
  padding-right: $base-spacing-sm;

  a & {
    color: $link-color;
  }
}

.fare-summary-mode-icons {
  @include icon-size-inline(1.25em);

  [class*='c-svg__icon'] {
    margin-right: calc(#{$base-spacing} / 4);
  }
}

.fare-summary-fare {
  margin: $base-spacing-sm 0;
}

.fare-summary-fare-name {
  display: inline-block;
  max-width: 75%;
}

.fare-summary-fare-price {
  float: right;
  font-weight: normal;
}
