$font-family-sans-serif: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-family-base: 'Inter UI', $font-family-sans-serif;

$headings-font-family: 'Helvetica Neue', Helvetica, Arial, $font-family-sans-serif;
$headings-font-weight: 700;

$h1-font-size: 2.5rem;
$h2-font-size: 1.75rem;
$h3-font-size: 1.3125rem;
$h4-font-size: 1.125rem;
$h5-font-size: 1rem;
$h6-font-size: 1rem;

// TODO figure out where these belong
$headings-margin-top: 1.075em;
$headings-line-height: 1.275em;
$headings-margin-bottom: .375em;

// TODO figure out where this belongs
$link-decoration: none;