@import 'variables';

.desktop-menu-nav {
  float: right;

  @include media-breakpoint-down(md) {
    display: none;
  }

  .nav-item {
    float: left;
    height: $header-navbar-height;
    text-align: right;

    > a {
      line-height: $base-spacing * $header-navbar-height-multiplier;
      text-decoration: none;
      vertical-align: middle;
    }
  }

  .nav-pull-right {
    float: right;
  }
}

.desktop-nav-link {
  color: $link-color;
  display: inline-block;
  display: flex;
  justify-content: space-between;
  position: relative;

  &::before {
    border-bottom-color: $brand-secondary;
    border-bottom-style: solid;
    border-bottom-width: $space-6;
    bottom: 0;
    content: ' ';
    position: absolute;
    width: 100%;
  }

  &.collapsed {
    color: $gray-dark;

    &::before {
      border-bottom-width: 0;
    }
  }
}

.nav-link-content {
  align-items: center;
  display: flex;
  flex: 0 0 auto;
  padding-left: $base-spacing / 2;
  padding-right: $base-spacing / 2;

  @include media-breakpoint-down(md) {
    padding: 0;
  }

  @include media-breakpoint-up(lg) {
    @include hover-focus-active {
      background-color: $brand-primary-lightest;
    }
  }
}

.nav-link-arrows {
  width: $base-spacing;
}

.nav-search-icon {
  align-items: center;
  display: flex;

  svg {
    display: inline;
  }
}

#more {
  .header-column {
    &:first-child {
      padding-left: $grid-gutter-width / 2;
    }

    &:last-child {
      padding-right: $grid-gutter-width / 2;
    }
  }
}

.menu-row {
  display: table;
  margin-bottom: $space-36;
  padding-top: $space-36;
  width: 100%;

  &.searchbar-input-container {
    margin-bottom: $space-24;
    // the alignment of the form on the header should match the search page header
    padding-top: 3.9rem;
  }
}

.menu-link-row {
  padding-bottom: $space-24;
}

.header-column {
  border-left: 1px solid $brand-primary-darkest;
  display: table-cell;
  float: none;
  padding-left: $space-24;
  padding-right: $space-24;

  &:first-child {
    border-left-width: 0;
  }
}

.nav-title {
  font-weight: bold;
  margin-bottom: .5rem;
}

.header {
  background-color: $brand-primary;
  color: $white;

  @include media-breakpoint-up(lg) {
    background-color: $body-bg;
    color: $body-color;
  }
}

.header-border {
  @include media-breakpoint-up(lg) {
    border-bottom: $border;
  }
}

.header-navbar {
  // required for the mobile button to be vertically centered
  height: $header-navbar-height;
  display: flex;
}

.navbar-logo {
  display: block;
  margin-right: auto;

  svg {
    display: block;
    height: $header-navbar-height;
    // setting the width keeps the rendered logo proportional,
    // while adding space above and below inside the svg.
    width: $base-spacing * 12;
  }
}

.navbar-toggle {
  border: 0;
  height: 100%;

  .down {
    display: none;
  }

  .up {
    display: inline;
  }

  &.collapsed {
    .down {
      display: inline;
    }

    .up {
      display: none;
    }
  }
}

.navbar-toggle-mobile {
  background-color: $brand-primary;
  float: right;
  font-size: $font-size-base-sm;
  padding: 0;
  text-align: right;

  @include media-breakpoint-only(md) {
    font-size: $font-size-base;
  }

  @include media-breakpoint-up(lg) {
    display: none;
  }
}

.mobile-nav {
  @include list-unstyled();
  text-align: center;
  width: 100%;

  @include media-breakpoint-up(lg) {
    display: none;

    a {
      height: 3rem;
    }
  }
}

.mobile-nav-item-header {
  font-size: $font-size-h2;
  font-weight: bold;
}

.mobile-nav-link {
  color: $white;
  display: block;
  font-size: $font-size-h2;
  margin-bottom: $base-spacing;

  @include hover-focus-active {
    color: $white;
  }
}

.mobile-nav-description {
  color: $gray-lightest;
  font-size: $font-size-base;
}

.mobile-search-text {
  font-size: $font-size-h2;
  font-weight: bold;
  line-height: $headings-line-height;
}

nav.m-menu, .m-menu__toggle,
.header-navbar .search {
  @include media-breakpoint-up(lg) {
    display: none;
  }
}
.header-navbar {
  .search {
    @include media-breakpoint-only(xs) {
      display: none;
    }
  }
  .header-search__toggle {
    @include media-breakpoint-up(sm) {
      display: none;
    }
  }
}
nav.m-menu {
  position: absolute;
  z-index: $z-index-modal;
}
.m-menu__cover {
  background-color: rgba($black, .15);
  height: 100%;
  position: fixed;
  top: $header-navbar-height;
  width: 100%;
  display: none;
}

.m-menu__content,
.m-menu__search {
  width: 0px;
  white-space: nowrap;
  transition: width .25s ease;
  overflow-y: auto;
  z-index: 1;
  background-color: $brand-primary-darkest;
  position: fixed;
  top: $header-navbar-height;
  &::-webkit-scrollbar {
    display: none; /* Chrome */
  }
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.m-menu__content {
  bottom: 0
}
.m-menu__search {
  bottom: auto;
}
.header-search__toggle .fa-close {
  display: none;
}

header.header.menu-open {
  .m-menu__cover {
    display: unset;
  }
  .m-menu__content {
    width: 220px;
    @include media-breakpoint-only(xs) {
      width: 100%;
    }
  }
  .search {
    display: none;
  }
  .header-search__toggle {
    display: none;
  }
}

header.header.search-open {
  .m-menu__cover {
    display: unset;
  }
  .m-menu__search {
    width: 100%;
  }
  .m-menu__toggle {
    display: none;
  }
  .fa-search {
    display: none;
  }
  .fa-close {
    display: unset;
  }
}
