@import 'variables';
@import 'typography';

.desktop-menu-nav {
  float: right;

  @include media-breakpoint-down(md) {
    display: none;
  }

  .nav-item {
    float: left;
    height: $header-navbar-height;
    text-align: right;

    > a {
      line-height: $base-spacing * $header-navbar-height-multiplier;
      text-decoration: none;
      vertical-align: middle;
    }
  }

  .nav-pull-right {
    float: right;
  }
}

.desktop-nav-link {
  color: $link-color;
  display: inline-block;
  display: flex;
  justify-content: space-between;
  position: relative;

  &::before {
    border-bottom-color: $brand-secondary;
    border-bottom-style: solid;
    border-bottom-width: $space-6;
    bottom: 0;
    content: ' ';
    position: absolute;
    width: 100%;
  }

  &.collapsed {
    color: $gray-dark;

    &::before {
      border-bottom-width: 0;
    }
  }
}

.nav-link-content {
  align-items: center;
  display: flex;
  flex: 0 0 auto;
  padding-left: $base-spacing / 2;
  padding-right: $base-spacing / 2;

  @include media-breakpoint-down(md) {
    padding: 0;
  }

  @include media-breakpoint-up(lg) {
    @include hover-focus-active {
      background-color: $brand-primary-lightest;
    }
  }
}

.nav-link-arrows {
  width: $base-spacing;
}

.nav-search-icon {
  align-items: center;
  display: flex;

  svg {
    display: inline;
  }
}

#more {
  .header-column {
    &:first-child {
      padding-left: $grid-gutter-width / 2;
    }

    &:last-child {
      padding-right: $grid-gutter-width / 2;
    }
  }
}

.menu-row {
  display: table;
  margin-bottom: $space-36;
  padding-top: $space-36;
  width: 100%;

  &.searchbar-input-container {
    margin-bottom: $space-24;
    // the alignment of the form on the header should match the search page header
    padding-top: 3.9rem;
  }
}

.menu-link-row {
  padding-bottom: $space-24;
}

.header-column {
  border-left: 1px solid $brand-primary-darkest;
  display: table-cell;
  float: none;
  padding-left: $space-24;
  padding-right: $space-24;

  &:first-child {
    border-left-width: 0;
  }
}

.header-border {
  @include media-breakpoint-up(lg) {
    border-bottom: $border;
  }
}

.header-navbar {
  // required for the mobile button to be vertically centered
  height: $header-navbar-height;
  display: flex;
}

.header-navbar.new {
  height: $header-navbar-height-new;

  @include media-breakpoint-only(xs) {
    height: $header-navbar-height-xs;
  }

  .c-svg__mbta-name-and-logo {
    @include media-breakpoint-down(md) {
      margin-left: 24px;
    }
  }

  .navbar-logo {
    .svg-container {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
    }
    .c-svg__mbta-logo {
      display: none;
    }

    // At XS size, use T logo only
    @include media-breakpoint-only(xs) {
      flex-grow: 1;

      svg {
        display: unset;
        height: 24px;
      }
      .c-svg__mbta-logo {
        display: unset;
        height: 24px;
      }
      .c-svg__mbta-name-and-logo {
        display: none;
      }
    }

    svg {
      @include media-breakpoint-between(xs, md) {
        width: unset;
      }
      @include media-breakpoint-only(sm) {
        height: 24px;
      }
      @include media-breakpoint-up(md) {
        height: 40px;
      }
    }
  }

  @include media-breakpoint-up(sm) {
    .search-wrapper {
      flex-grow: 1;
      height: 100%;
      > div { height: 100%; }
    }
  }
}

.header-navbar.new, .m-menu__search {
  .search {
    height: 100%;
    display: flex;
    align-items: center;
    form {
      flex-grow: 1;
    }
    .c-form__input-container {
      height: 44px;
      border-radius: 4px;
      margin-left: auto;
    }
    button.c-form__submit-btn {
      background-color: unset;
      > i {
        color: $brand-primary;
        display: inline-block !important;
      }
    }
    .c-svg__icon-search-reverse-default {
      display: none;
    }
  }
}

.header-navbar.new .search {
  padding-left: 24px;
  .c-form__input-container {
    max-width: 350px;
  }
  @include media-breakpoint-only(xs) {
    display: none;
  }
}

.navbar-logo {
  display: block;
  margin-right: auto;

  svg {
    display: block;
    height: $header-navbar-height;
    // setting the width keeps the rendered logo proportional,
    // while adding space above and below inside the svg.
    width: $base-spacing * 12;
  }
}

.navbar-toggle {
  border: 0;
  height: 100%;

  .down {
    display: none;
  }

  .up {
    display: inline;
  }

  &.collapsed {
    .down {
      display: inline;
    }

    .up {
      display: none;
    }
  }
}

.navbar-toggle-mobile {
  background-color: $brand-primary;
  float: right;
  font-size: $font-size-base-sm;
  padding: 0;
  text-align: right;

  @include media-breakpoint-only(md) {
    font-size: $font-size-base;
  }

  @include media-breakpoint-up(lg) {
    display: none;
  }
}

.mobile-nav {
  @include list-unstyled();
  text-align: center;
  width: 100%;

  @include media-breakpoint-up(lg) {
    display: none;

    a {
      height: 3rem;
    }
  }
}

.mobile-nav-item-header {
  font-size: $font-size-h2;
  font-weight: bold;
}

.mobile-nav-link {
  color: $white;
  display: block;
  font-size: $font-size-h2;
  margin-bottom: $base-spacing;
}

.mobile-nav-description {
  color: $gray-lightest;
  font-size: $font-size-base;
}

.mobile-search-text {
  font-size: $font-size-h2;
  font-weight: bold;
  line-height: $headings-line-height;
}

nav.m-menu, .m-menu__toggle {
  @include media-breakpoint-up(lg) {
    display: none;
  }
}
.header-navbar {
  .search {
    @include media-breakpoint-only(xs) {
      display: none;
    }
    @include media-breakpoint-up(lg) {
      display: none;
    }
  }
  .header-search__toggle {
    @include media-breakpoint-up(sm) {
      display: none;
    }
  }
}
nav.m-menu--mobile {
  position: absolute;
  z-index: $z-index-modal;
}
.m-menu__title {
  background-color: $brand-primary-darkest;
  margin: 0;
  padding: 10px 12px;

  @include media-breakpoint-up(sm) {
    display: none;
  }
}

.m-menu__content,
.m-menu__search {
  display: none;
  white-space: nowrap;
  transition: all .25s ease;
  position: fixed;
  &::-webkit-scrollbar {
    display: none; /* Chrome */
  }
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */

  @include media-breakpoint-up(lg) {
    display: none;
  }
}

.m-menu__content,
.m-menu-search {
  top: $header-navbar-height-new;

  @include media-breakpoint-only(xs) {
    top: $header-navbar-height-xs;
  }
}

.m-menu__search {
  height: 0px;
  width: 100%;
  background-color: $brand-primary-darkest;
  padding: 0 12px 16px 12px;
  display: none;

  .c-form__input-container {
    border: none;
    border-radius: 4px;
  }
}

.m-menu__link {
  @include font-link();

  align-items: center;
  display: flex;
  padding: 12px 12px 12px 24px;

  span {
    margin-left: $base-spacing / 2;
  }
}

.m-menu__content {
  bottom: 0;
  overflow-y: auto;
  box-shadow: 0px 7px 14px 0px $gray-shadow;
  width: 0px;
  background-color: $brand-primary;
  padding-bottom: calc(200px - $base-spacing);

  .m-menu__section-heading {
    color: $brand-primary-lightest;
    margin: $space-4_new 0 0 $space-4_new;
  }

  .m-menu__section {
    padding-bottom: $space-4_new;
    padding-top: $space-2_new;
    border-bottom: 1px solid $brand-primary-light-contrast;

    @include media-breakpoint-only(sm) {
      margin-left: 40px;
    }
    @include media-breakpoint-only(md) {
      margin-left: 63px;
    }
  }

  // Accordion stuff
  .c-accordion-ui {
    border: 0;
    margin: 0;

    .c-accordion-ui__trigger {
      @include heading-4();
      border: 2px solid $brand-primary;
      color: $white;

      &:hover,
      &:active {
        background-color: inherit;
      }

      &:focus {
        border-color: $brand-secondary;
        outline: none;
      }
    }

    .c-accordion-ui__content {
      background-color: $brand-primary-lightest-contrast;
      padding-left: 0;

      @include media-breakpoint-up(sm) {
        border-radius: 0 0 0 8px;
      }
    }
  }

  .m-menu__link {
    &:focus {
      color: $link-color;
      outline: none;
      text-decoration: none;

      div {
        border-radius: 4px;
        box-shadow: 0 0 0 2px currentColor,
          0 0 0 3px $brand-primary-lightest-contrast, 0 0 0 4px $brand-primary-darkest;
      }
    }
  }

  .m-menu__language {
    border-bottom: unset;
    padding: $base-spacing;
  }
}

.header-search__toggle .fa-close {
  display: none;
}

.header--new .c-search-bar__autocomplete {
  // stylelint-disable-next-line declaration-no-important
  z-index: calc(#{$z-index-modal} + 1) !important; // = 102. overwrites the 100 value added by autocomplete.js
}

%hide-button {
  opacity: 0;
  pointer-events: none;
}

// show mobile menu, hide search button, hide search bar in tablet size
.header--new.menu-open {
  .m-menu__content {
    display: block;
    overflow-y: scroll;
    width: auto;

    // Safari workaround
    @supports (-webkit-touch-callout: none) {
      min-height: -webkit-fill-available;
    }

    @include media-breakpoint-only(xs) {
      width: 100%;
    }

    @include media-breakpoint-only(sm) {
      width: 360px;
    }

    @include media-breakpoint-only(md) {
      width: 384px;
    }
  }

  .header-search__toggle {
    @extend %hide-button;
  }

  // Hide search bar on tablet view
  @include media-breakpoint-down(md) {
    .search {
      opacity: 0;
      pointer-events: none;
    }
  }
}

// when search activated on mobile, switch icon from search to close
.header-search__toggle[aria-expanded="true"] {
  .fa-search {
    display: none;
  }

  .fa-close {
    display: inline;
  }
}

// show search bar, hide menu button
.header--new.search-open {
  .m-menu__search {
    display: block;
    height: 60px;
  }

  .m-menu__toggle {
    @extend %hide-button;
  }
}

@mixin focus-visible {
  &.focus-visible {
    empty-cells: inherit;
    @content;
  }

  &:focus-visible {
    @content;
  }
}

.m-menu__toggle, .m-menu--desktop__toggle, .header-search__toggle {
  background-color: unset;
  border: 2px solid $brand-primary-light-contrast;
  border-radius: 4px;
  margin: auto 0;

  &:hover {
    background-color: $brand-primary-darkest;
  }

  @include focus-visible {
    background-color: $brand-primary-darkest;
    outline: 2px solid $brand-secondary;
  }

  &[aria-expanded="true"] {
    &:hover {
      background-color: $brand-primary;
    }

    @include focus-visible {
      background-color: $brand-primary;
    }
  }
}

.m-menu__toggle, .m-menu--desktop__toggle {
  padding: 6px 12px 5px;

  // this button is a link when JS is disabled
  // in this case remove link focus/hover styles
  &[href]:focus,
  &[href]:hover {
    color: inherit;
    text-decoration: none;
  }

  @include media-breakpoint-only(md) {
    padding: 7px 12px 6px;
  }
}

// Search button in top nav
.header-search__toggle {
  margin-left: 1.75rem;
  padding: 2px 8px;

  > i {
    width: 16px;
  }
}

// /menu page
.m-menu--page {
  margin-bottom: 4 * $base-spacing;

  .m-menu__link {
    padding-left: 0;
  }

  h3 {
    line-height: 2;
    margin-bottom: .5 * $base-spacing;
    margin-top: $base-spacing;
  }

  hr {
    margin: 0;
  }
}
