@import 'variables';

.desktop-menu {
  // The same pattern repeated thrice upon the y-axis and infinitely along the x-axis
  background-color: $gray-lightest;
  background-image: $gray-stripe-pattern, $gray-stripe-pattern, $gray-stripe-pattern;
  background-position: 0 0, 6px 6px, 12px 12px, 18px 18px;
  background-repeat: repeat no-repeat;
  left: 0;
  margin-bottom: 0;
  padding: 0;
  position: absolute;
  right: 0;
  text-align: left;
  z-index: $z-index-desktop-menu;

  @include media-breakpoint-down(sm) {
    display: none;
  }

  ul {
    @include list-unstyled();
  }

  .desktop-menu-background-image {
    background-image: url('/images/map-abstract-bkg-overlay.png');
    background-size: 100%;
  }
}
