@import 'variables';
@import 'typography';

.desktop-menu-nav {
  float: right;

  @include media-breakpoint-down(md) {
    display: none;
  }

  .nav-item {
    float: left;
    height: $header-navbar-height;
    text-align: right;

    > a {
      line-height: $base-spacing * $header-navbar-height-multiplier;
      text-decoration: none;
      vertical-align: middle;
    }
  }

  .nav-pull-right {
    float: right;
  }
}

.desktop-nav-link {
  color: $link-color;
  display: inline-block;
  display: flex;
  justify-content: space-between;
  position: relative;

  &::before {
    border-bottom-color: $brand-secondary;
    border-bottom-style: solid;
    border-bottom-width: $space-6;
    bottom: 0;
    content: ' ';
    position: absolute;
    width: 100%;
  }

  &.collapsed {
    color: $gray-dark;

    &::before {
      border-bottom-width: 0;
    }
  }
}

.nav-link-content {
  align-items: center;
  display: flex;
  flex: 0 0 auto;
  padding-left: $base-spacing / 2;
  padding-right: $base-spacing / 2;

  @include media-breakpoint-down(md) {
    padding: 0;
  }

  @include media-breakpoint-up(lg) {
    @include hover-focus-active {
      background-color: $brand-primary-lightest;
    }
  }
}

.nav-link-arrows {
  width: $base-spacing;
}

.nav-search-icon {
  align-items: center;
  display: flex;

  svg {
    display: inline;
  }
}

#more {
  .header-column {
    &:first-child {
      padding-left: $grid-gutter-width / 2;
    }

    &:last-child {
      padding-right: $grid-gutter-width / 2;
    }
  }
}

.menu-row {
  display: table;
  margin-bottom: $space-36;
  padding-top: $space-36;
  width: 100%;

  &.searchbar-input-container {
    margin-bottom: $space-24;
    // the alignment of the form on the header should match the search page header
    padding-top: 3.9rem;
  }
}

.menu-link-row {
  padding-bottom: $space-24;
}

.header-column {
  border-left: 1px solid $brand-primary-darkest;
  display: table-cell;
  float: none;
  padding-left: $space-24;
  padding-right: $space-24;

  &:first-child {
    border-left-width: 0;
  }
}

.header {
  background-color: $brand-primary;
  color: $white;

  @include media-breakpoint-up(lg) {
    background-color: $body-bg;
    color: $body-color;
  }
}

.header-border {
  @include media-breakpoint-up(lg) {
    border-bottom: $border;
  }
}

.header-navbar {
  // required for the mobile button to be vertically centered
  height: $header-navbar-height;
  display: flex;
}

.header-navbar.new {
  @include media-breakpoint-only(xs) {
    height: 52px;
  }
  // The between can be removed when the desktop styles are worked out
  @include media-breakpoint-between(sm, md) {
    height: 72px;
  }

  .navbar-logo {
    .svg-container {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
    }
    
    // At XS size, use T logo only
    @include media-breakpoint-only(xs) {
      flex-grow: 2;
      margin-right: 33px;
      svg {
        display: unset;
        height: 24px;
        width: 24px;
      }
      .c-svg__mbta-logo {
        height: 24px;
      }
      .c-svg__mbta-name-and-logo {
        display: none;
      }
    }

    svg {
      @include media-breakpoint-between(xs, md) {
        width: unset;
      }
      @include media-breakpoint-only(sm) {
        height: 24px;
      }
      @include media-breakpoint-only(md) {
        height: 40px;
      }
    }

    .c-svg__mbta-name-and-logo {
      padding-left: 24px;
    }

    @include media-breakpoint-up(sm) {
      .c-svg__mbta-logo {
        display: none;
      }
    }
  }

  @include media-breakpoint-between(sm, md) {
    .search-wrapper {
      flex-grow: 2;
      height: 100%;
      > div { height: 100%; }
    }
    .search {
      height: 100%;
      display: flex;
      align-items: center;
      padding-left: 24px;
      form {
        flex-grow: 1;
      }
      .c-form__input-container {
        height: 44px;
        max-width: 350px;
        border-radius: 4px;
        margin-left: auto;
      }
      input {
        @include base-font__new();
      }
      button.c-form__submit-btn {
        background-color: unset;
        > i {
          color: $brand-primary;
          display: inline-block !important;
        }
      }
      .c-svg__icon-search-reverse-default {
        display: none;
      }
    }
  }
  
}

.navbar-logo {
  display: block;
  margin-right: auto;

  svg {
    display: block;
    height: $header-navbar-height;
    // setting the width keeps the rendered logo proportional,
    // while adding space above and below inside the svg.
    width: $base-spacing * 12;
  }
}

.navbar-toggle {
  border: 0;
  height: 100%;

  .down {
    display: none;
  }

  .up {
    display: inline;
  }

  &.collapsed {
    .down {
      display: inline;
    }

    .up {
      display: none;
    }
  }
}

.navbar-toggle-mobile {
  background-color: $brand-primary;
  float: right;
  font-size: $font-size-base-sm;
  padding: 0;
  text-align: right;

  @include media-breakpoint-only(md) {
    font-size: $font-size-base;
  }

  @include media-breakpoint-up(lg) {
    display: none;
  }
}

.mobile-nav {
  @include list-unstyled();
  text-align: center;
  width: 100%;

  @include media-breakpoint-up(lg) {
    display: none;

    a {
      height: 3rem;
    }
  }
}

.mobile-nav-item-header {
  font-size: $font-size-h2;
  font-weight: bold;
}

.mobile-nav-link {
  color: $white;
  display: block;
  font-size: $font-size-h2;
  margin-bottom: $base-spacing;

  @include hover-focus-active {
    color: $white;
  }
}

.mobile-nav-description {
  color: $gray-lightest;
  font-size: $font-size-base;
}

.mobile-search-text {
  font-size: $font-size-h2;
  font-weight: bold;
  line-height: $headings-line-height;
}

nav.m-menu, .m-menu__toggle {
  @include media-breakpoint-up(lg) {
    display: none;
  }
}
.header-navbar {
  .search {
    @include media-breakpoint-only(xs) {
      display: none;
    }
    @include media-breakpoint-up(lg) {
      display: none;
    }
  }
  .header-search__toggle {
    @include media-breakpoint-up(sm) {
      display: none;
    }
  }
}
nav.m-menu {
  position: absolute;
  z-index: $z-index-modal;
}
.m-menu__cover {
  background-color: rgba($black, .15);
  height: 100%;
  position: fixed;
  top: $header-navbar-height;
  width: 100%;
  display: none;
}

.m-menu__content,
.m-menu__search {
  width: 0px;
  visibility: hidden;
  white-space: nowrap;
  transition: all .25s ease;
  z-index: 1;
  background-color: $brand-primary;
  position: fixed;
  top: $header-navbar-height;
  &::-webkit-scrollbar {
    display: none; /* Chrome */
  }
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */

  @include media-breakpoint-up(lg) {
    display: none;
  }
}

@mixin dark-mode-links {
  color: $brand-primary-light-contrast;
  &:hover, &:focus {
    color: $brand-primary-light;
  }
  &:active {
    color: $brand-primary;
  }
}

@mixin light-mode-links {
  color: $brand-primary;
  &:active {
    color: $brand-primary-darkest;
  }
}

.m-menu__content {
  bottom: 0;
  overflow-y: auto;
  .menu-container {
    background-color: $brand-primary-darkest;
    padding: $space-3_new 0 $space-3_new $space-3_new;
    width: calc(100% - 40px);
    border-radius: 0 $space-2_new $space-2_new 0;
    font-size: 14px;

    // Description list
    dl {
      overflow: auto;
    }
    dt, dd {
      width: 50%;
    }
    dt {
      float: left;
      font-weight: normal;
    }
    dd {
      float: right;
      margin-bottom: none;
      text-align: right;
    }
    
    &_header {
      font-size: 12px;
      padding-bottom: $base-spacing__new;
    }
    &_row {
      display: flex;
      justify-content: space-between;
      padding: $space-2_new $space-4_new $space-2_new 0;
      border-bottom: 1px solid $brand-primary;
      &:last-child {
        border-bottom: unset;
      }
    }
    &_phone {
      padding-top: $space-3_new;
      > a {
        font-weight: 500;
        @include media-breakpoint-down(md) {
          @include dark-mode-links();
        }
        @include media-breakpoint-up(lg) {
          @include light-mode-links();
        }
      }
    }
    &_smaller-font {
      font-size: 12px;
      line-height: 21px;
    }
    
    @include media-breakpoint-up(sm) {
      border-radius: 0 $space-2_new $space-2_new;
    }
    @include media-breakpoint-up(lg) {
      background-color: $brand-primary-lightest;
      color: $gray-dark;
      &_header {
        color: $gray;
      }
      &_row {
        border-color: $gray-lighter;
      }
    }

    // CSS for the Contact Numbers split-container
    &.top-half {
      margin-bottom: 2px;
      border-radius: 0 $space-2_new 0 0;
    }
    &.bottom-half {
      border-radius: 0 0 $space-2_new;
      @include media-breakpoint-up(sm) {
        border-radius: 0 0 $space-2_new $space-2_new;
      }
    }
  }
}
.m-menu__search {
  bottom: auto;
}
.header-search__toggle .fa-close {
  display: none;
}

header.header.menu-open {
  .m-menu__cover {
    display: unset;
  }
  .m-menu__content {
    visibility: unset;
    width: auto;
    @include media-breakpoint-only(xs) {
      width: 100%;
    }
    @include media-breakpoint-only(sm) {
      width: 360px;
    }
    @include media-breakpoint-only(md) {
      width: 384px;
    }
  }
  .search {
    display: none;
  }
  .header-search__toggle {
    display: none;
  }
}

header.header.search-open {
  .m-menu__cover {
    display: unset;
  }
  .m-menu__search {
    visibility: unset;
    width: 100%;
  }
  .m-menu__toggle {
    display: none;
  }
  .fa-search {
    display: none;
  }
  .fa-close {
    display: unset;
  }
}

.m-menu__toggle, .header-search__toggle {
 background-color: unset;
 border: 2px solid $brand-primary-light-contrast;
 border-radius: 4px;
 margin: auto 0;
}

.m-menu__toggle {
  padding: 6px 12px 5px 12px;
  @include media-breakpoint-only(md) {
    padding: 7px 12px 6px 12px;
  }
}

.header-search__toggle {
  > i {
    width: 16px;
  }
}
