.no-overflow {
  word-break: break-word;
  word-wrap: break-word;
}

.disabled {
  opacity: .4;
  pointer-events: none;
}

.no-wrap {
  @include no-wrap();
}

.inline-block {
  display: inline-block;
}

.strikethrough {
  color: $gray;
  text-decoration: line-through;
}

.callout {
  background-color: $gray-bordered-background;
  border: $border;
  border-radius: $border-radius;
  margin: $space-12 0 $base-spacing;
  padding: $space-12;

  &:empty {
    display: none;
  }
}

.callout-small {
  padding-bottom: $base-spacing-sm;
  padding-top: $base-spacing-sm;

  .icon-bus,
  .icon-subway,
  .icon-logan-express,
  .icon-massport-shuttle {
    height: 1.25em;
    margin-right: .25em;
    position: relative;
    top: .125em;
    width: 1.25em;
  }
}

.callout-full-height {
  margin: 0;
}

.callout-heading {
  margin-top: 0;
}

.has-element-overlay:hover .element-overlay {
  display: block;
}

.element-overlay {
  background-color: $gray-image-overlay;
  bottom: 0;
  display: none;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.element-overlay-icon {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.sticky-top {
  position: sticky;
  top: 0;
  z-index: $zindex-sticky;
}

.stripe-bar {
  background: $gray-stripe-pattern repeat;
  min-height: 25px;
}

.text-right {
  // official Bootstrap 4 class not in alpha
  text-align: right;
}

.text-center {
  // official Bootstrap 4 class not in alpha
  text-align: center;
}
