// REGULAR --------------------

@font-face {
  font-display: swap;
  font-family: 'Inter UI';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/Inter-UI-Regular.woff2') format('woff2'), // Modern Browsers
       url('/fonts/Inter-UI-Regular.woff') format('woff'), // Modern Browsers
       url('/fonts/Inter-UI-Regular.ttf') format('truetype');
  text-rendering: optimizeLegibility;
}

@font-face {
  font-display: swap;
  font-family: 'Inter UI';
  font-style: italic;
  font-weight: 400;
  src: url('/fonts/Inter-UI-Italic.woff2') format('woff2'),
       url('/fonts/Inter-UI-Italic.woff') format('woff'),
       url('/fonts/Inter-UI-Italic.ttf') format('truetype');
  text-rendering: optimizeLegibility;
}

// MEDIUM ---------------------

@font-face {
  font-display: swap;
  font-family: 'Inter UI';
  font-style: normal;
  font-weight: 500;
  src: url('/fonts/Inter-UI-Medium.woff2') format('woff2'),
       url('/fonts/Inter-UI-Medium.woff') format('woff'),
       url('/fonts/Inter-UI-Medium.ttf') format('truetype');
  text-rendering: optimizeLegibility;
}

// BOLD -----------------------

@font-face {
  font-display: swap;
  font-family: 'Inter UI';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/Inter-UI-Bold.woff2') format('woff2'),
       url('/fonts/Inter-UI-Bold.woff') format('woff'),
       url('/fonts/Inter-UI-Bold.ttf') format('truetype');
  text-rendering: optimizeLegibility;
}
