.m-sales-locations__background-gray {
  background: $gray-lightest;
  margin-top: $space-16;
  padding-top: $space-16;
}

.c-sales-locations__cards {
  display: flex;
  flex-flow: row wrap;
  // IE above, other browsers below
  display: grid;
  grid-gap: $grid-gutter-width / 2;
  grid-template-columns: repeat(auto-fill, [col-start] minmax(240px, 1fr) [col-end]);
  margin-bottom: $base-spacing;
  margin-top: $base-spacing * 2
}

.c-sales-locations__card {
  background-color: $white;
  border: 1px solid $gray-lightest;
  border-radius: 4px;
  padding: $base-spacing;
  
  @include media-breakpoint-up(sm) {
    flex: 1 1 30%;
  }

  // IE only
  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    margin: $base-spacing / 2;
  }

  &-flex-row {
    display: flex;
    justify-content: space-between;
  }

  &-place {
    margin-top: 0;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &-distance {
    font-size: $font-size-base-sm;
    text-align: right;
    white-space: nowrap;
    margin-left: $base-spacing;
  }

  &-location {
    font-size: $font-size-base-xxl;
    font-weight: $headings-font-weight;
    line-height: 1.6rem;
    margin-top: $base-spacing-sm;
    @include media-breakpoint-down(xs) {
      font-size: $font-size-base-sm;
    }
  }
  &-type {
    margin-top: $font-size-base-xs;
    @include media-breakpoint-down(xs) {
      margin-top: .7rem;
    }
  }
  &-directions {
    font-size: $font-size-base-xxl;
    font-weight: $font-weight-medium;
    margin-top: $base-spacing;
    @include media-breakpoint-down(xs) {
      font-size: $font-size-base-sm;
      margin-top: $font-size-base-xs;
    }

    [data-toggle="dropdown"] {
      display: flex;
      text-decoration: none;
      &:hover {
        color: $brand-primary;
        text-decoration: none;
      }

      // do not show Bootstrap's default caret:
      &::after {
        display: none;
      }
    }

    .dropdown-item:hover {
      background-color: $brand-primary-lightest-contrast;
    }
  }
}

.m-sales-locations__caret {
  @include caret($color: $brand-primary);
  margin-left: .3rem;

  &::after {
    content: $fa-var-angle-down;
  }
}

.m-proposed-sales-locations__searchbar {
  @include media-breakpoint-down(sm) {
    display: flex;
    flex-direction: column;
  }
  @include media-breakpoint-down(sm) {
    .c-suggest-retailer {
      order: -1;
    }
  }
}

.m-sales-locations__error-message {
  color: $error-text;
  padding: 7px;
}

.m-retail-sales-locations__upper-page {
  max-width: 600px;
}