.c-location-cards {
  column-gap: $grid-gutter-width / 2;
  display: flex;
  flex-flow: row wrap;
  margin: 0 0 $base-spacing;
  padding: $base-spacing;

  &.empty {
    display: none;
  }
}

.c-location-cards--background-gray {
  background: $gray-lightest;
}

.c-location-cards--background-white {
  background: $white;
}

.c-location-card {
  background-color: $white;
  border: 1px solid $gray-lightest;
  border-radius: $space-1 * 3;
  color: $gray-dark;
  display: inline-block;
  margin: $base-spacing / 2;
  padding: $base-spacing;
  width: 100%;
}

.c-location-card--flex {
  @include media-breakpoint-only(xs) {
    flex: 1 1 100%;
    margin: .25rem;
    padding: .5rem 1rem;
  }

  @include media-breakpoint-only(sm) {
    flex: 1 1 33%;
    margin: .25rem;
    padding: .5rem 1rem;
  }

  @include media-breakpoint-only(md) {
    flex: 1 1 33%;
    padding: .5rem 1rem;
  }

  @include media-breakpoint-up(xl) {
    flex: 1 1 20%;
    padding: .5rem 1rem;
  }
}

.c-location-card__description {
  clear: both;
  color: $gray-dark;

  &:not(:last-child) {
    margin-bottom: .25rem;
  }
}

.c-location-card__name {
  color: $link-color;
  float: left;
  font-size: $font-size-h5;
  font-weight: bold;
  line-height: $headings-line-height;
  margin-bottom: $base-spacing-sm;
  width: 66%;
}

.c-location-card__distance {
  color: $gray-dark;
  float: left;
  font-size: $font-size-base-sm;
  text-align: right;
  width: 33.333%;
}

.c-location-card__accessible-icon {
  @include icon-size-inline(1em);
  clear: both;
  margin-bottom: $base-spacing-sm;
  position: relative;
  top: -$base-spacing-sm;
}

.c-location-card__transit-route-icon {
  @include icon-size-inline(1em);

  float: left;
  width: $space-24;
}

.c-location-card__transit-route-name {
  float: left;
  width: 83%;
}
