.news-entry-hr-row {
  @include media-breakpoint-up(md) {
    border-bottom: $border;
    margin-top: $base-spacing-lg;
    padding-bottom: $base-spacing;
    padding-top: $base-spacing;
  }
}

.news-entry-hr-col {
  @include media-breakpoint-down(sm) {
    border-bottom: $border;
    margin-top: $base-spacing-sm;
    padding-top: $base-spacing-sm;
  }
}

.news-entry-title {
  font-size: $h3-font-size;
  font-weight: bold;
  line-height: $headings-line-height;
}
