.c-news-entry {
  align-items: flex-start;
  border-left: calc(#{$base-spacing} / 2) solid $brand-primary;
  display: flex;
  font-weight: bold;
  margin-bottom: $base-spacing;
  margin-top: 0;

  &:hover {
    color: $brand-primary;
    text-decoration: none;
  }

  &--orange-line {
    border-color: $brand-orange-line;
  }

  &--green-line {
    border-color: $brand-green-line;
  }

  &--red-line {
    border-color: $brand-red-line;
  }

  &--blue-line {
    border-color: $brand-blue-line;
  }

  &--silver-line {
    border-color: $brand-silver-line;
  }

  &--mattapan-line {
    border-color: $brand-red-line;
  }

  &--commuter-rail {
    border-color: $brand-commuter-rail;
  }

  &--bus {
    border-color: $brand-bus;
  }

  &--ferry {
    border-color: $brand-ferry;
  }

  &--subway {
    border-color: $brand-subway;
  }

  &--the-ride {
    border-color: $brand-the-ride;
  }
}

.c-news-entry--small {
  padding-left: $base-spacing;
}

.c-news-entry--large {
  @include media-breakpoint-down(sm) {
    padding-left: $base-spacing;
  }
}

.c-news-entry__date {
  color: $gray;
  flex: 0 0 20%;
  max-width: 20%;
  padding-right: calc(#{$base-spacing} / 2);
  text-align: left;

  @include media-breakpoint-down(xs) {
    flex-basis: 25%;
    max-width: 25%;
  }
}

.c-news-entry__month {
  margin-right: calc(#{$base-spacing} / 4);

  &--large {
    @include media-breakpoint-up(md) {
      font-size: $h3-font-size;
    }
  }
}

.c-news-entry__day--large {
  @include media-breakpoint-up(md) {
    font-size: $h2-font-size;
    line-height: $h2-font-size;
  }
}

.c-news-entry__month--large,
.c-news-entry__day--large {
  @include media-breakpoint-up(md) {
    display: block;
    margin-right: 0;
    text-align: center;
  }
}

.c-news-entry__title {
  color: $gray-dark;
  font-size: $font-size-base-xxl;
  font-weight: $font-weight-medium;
  margin-left: 1rem;

  @include media-breakpoint-down(xs) {
    flex-basis: 75%;
    max-width: 75%;
  }

  &--large {
    @include media-breakpoint-up(md) {
      font-size: $h3-font-size;
    }
  }
}

.m-homepage__news {
  @include media-breakpoint-only(xs) {
    .col-md-6 {
      &:last-of-type {
        display: none;
      }
    }
  }
}
