.c-project-updates-list {
  background-color: $brand-primary-lightest-contrast;

  &.u-full-bleed {
    @include media-breakpoint-up(md) {
      box-shadow: none;
    }
  }
}

.c-project-update {
  color: inherit;
  display: block;
  margin-bottom: 1.5 * $base-spacing;
  text-decoration: none;

  &:hover {
    color: inherit;
    text-decoration: none;

    .c-project-update__title {
      color: $brand-primary;
    }
  }
}

.c-project-update__photo {
  max-width: 100%;
}

.c-project-update__date {
  font-weight: 700;
  margin-top: $base-spacing / 2;
}

.c-project-update__title {
  margin-top: 0;
}

.m-project-updates__teaser {
  margin-bottom: $base-spacing * 2;
}

.m-project-updates__title {
  margin-top: 0;
}
