@import 'variables';

.c-proposed-location-cards {
  column-gap: $grid-gutter-width / 2;
  display: flex;
  flex-flow: row wrap;
  margin-bottom: $base-spacing;
}

#get-directions-dropdown {
  display: flex;
  text-decoration: none;
  &:hover {
    color: $brand-primary;
    text-decoration: none;

  }

  // do not show Bootstrap's default caret:
  &::after {
    display: none;
  }
}

.dropdown-item:hover {
  background-color: $brand-primary-lightest-contrast;
}

.c-caret {
  @include caret($color: $brand-primary);
  margin-left: .3rem;

  &::after {
    content: $fa-var-angle-down;
  }
}

.c-location-card--resp {
  @include media-breakpoint-up(sm) {
    flex: 0 0 30%;
  }
}

.c-finder-results {
  margin-top: $space-16;
  padding-top: $space-16;
}

.c-flex-space-between {
  display: flex;
  justify-content: space-between;
}

.c-finder-section {
  @include media-breakpoint-down(sm) {
    display: flex;
    flex-direction: column;
  }
  @include media-breakpoint-down(sm) {
    .c-suggest-retailer {
      order: -1;
    }
  }
}

.c-location-card {
  &__place {
    font-size: 1.5rem;
    font-weight: $headings-font-weight;
    line-height: 1.9rem;
    @include media-breakpoint-down(xs) {
      font-size: 1.15rem;
    }
  }

  &__distance {
    font-size: $font-size-base-xxl;
    text-align: right;
    @include media-breakpoint-down(xs) {
      font-size: $font-size-base-sm;
    }
  }

  &__location {
    font-size: $font-size-base-xxl;
    font-weight: $headings-font-weight;
    line-height: 1.7rem;
    @include media-breakpoint-down(xs) {
      font-size: $font-size-base-sm;
    }
  }
  &__type {
    margin-top: $font-size-base-xs;
    @include media-breakpoint-down(xs) {
      margin-top: .7rem;
    }
  }
  &__directions {
    font-size: $font-size-base-xxl;
    font-weight: $font-weight-medium;
    margin-top: $font-size-base;
    @include media-breakpoint-down(xs) {
      font-size: $font-size-base-sm;
      margin-top: $font-size-base-xs;
    }
  }
}

.m-error-message {
  color: $error-text;
  padding: 7px;
}
