.c-recently-visited {
  h2 {
    margin-top: 0;
  }

  .c-grid-button {
    flex-basis: 25%;
    margin-right: 16px;

    :nth-last-of-type() {
      margin-right: 0;
    }

    @include media-breakpoint-down(md) {
    }

    @include media-breakpoint-down(sm) {
      margin-right: 8px;
    }

    @include media-breakpoint-down(xs) {
      flex-basis: 100%;
      max-width: 100%;
    }
  }

  .c-grid-button__content {
    background-color: $white;
    color: $gray-dark;
    font-size: $font-size-base-xxl;
    font-weight: $font-weight-medium;
    line-height: $space-27;

    @include media-breakpoint-down(md) {
      font-size: $font-size-base-sm;
      line-height: $space-21;
    }
    
    &:hover {
      border: $border;
    }
  }
}
