.c-recently-visited {
  .c-grid-button {
    flex-basis: 25%;
    max-width: 25%;

    @include media-breakpoint-down(md) {
      flex-basis: 50%;
      max-width: 50%;
    }

    @include media-breakpoint-down(xs) {
      flex-basis: 100%;
      max-width: 100%;
    }
  }
}

