.m-schedule-icon-key-container {
  @include icon-size-inline(1.5em);

  .c-accordion-ui__title {
    display: flex;
  }

  [class*=c-svg__icon],
  [class*=fa] {
    margin-right: $base-spacing;
    top: auto;
  }

  [class*=fa] {
    margin-top: .188rem;
  }

  // Used to remove the margin from the icon in the explainaition text
  .no-margin-right {
    margin-right: 0;
  }
}

.m-schedule-icon-key-suffix {
  display: flex;
}

.m-schedule-icon-key__crowding-row {
  display: flex;
}
