@import 'variables';
@import 'table';
@import 'buttons';
@import 'vendor/sass-svg-uri/svg-uri';

.schedule-block {
  margin-top: $base-spacing;
}

.schedule__route-name {
  display: inline-block;
  margin-bottom: $base-spacing / 2;
  text-transform: uppercase;
}

.schedule-list-group {
  margin-bottom: $base-spacing;
}

.schedule-list-group-item {
  @include clearfix;
  display: block;
  padding: $base-spacing-sm;

  &:first-child {
    border-radius: 0;
  }
}

.schedule-list-group-header {
  background-color: $brand-primary-darkest;
  border-color: $brand-primary-darkest;
  color: $white;
  font-weight: bold;

  a {
    color: $white;

    @include hover-focus-active {
      color: $white;
    }
  }
}

%schedule-col {
  float: left;
  padding-left: $grid-gutter-width / 2;
  padding-right: $grid-gutter-width / 2;

  &.pull-right {
    float: right;
  }
}

.schedule-col-1 {
  @extend %schedule-col;
  width: 100% * (1 / 12);
}

.schedule-col-departure,
.schedule-col-arrival {
  @extend %schedule-col;
  width: 100% * (4 / 12);

  @include media-breakpoint-up(sm) {
    width: 100% * (3 / 12);
  }

  @include media-breakpoint-up(md) {
    width: 100% * (2 / 12);
  }
}

.schedule-col-departure {
  .fa-exclamation-triangle {
    color: $gray-dark;
  }
}

.schedule-col-departure-subway {
  @extend %schedule-col;
  width: 100% * (6 / 12);

  @include media-breakpoint-up(md) {
    width: 100% * (3 / 12);
  }
}

.schedule-col-pair-notes {
  @extend %schedule-col;
  width: 100% * (3 / 12);

  @include media-breakpoint-up(sm) {
    width: 100% * (5 / 12);
  }

  @include media-breakpoint-up(md) {
    width: 100% * (7 / 12);
  }
}

.schedule-col-group {
  @extend %schedule-col;
  width: 100% * (7 / 12);

  @include media-breakpoint-up(md) {
    width: 100% * (8 / 12);
  }

  @include media-breakpoint-up(md) {
    width: 100% * (9 / 12);
  }
}

.schedule-col-group-subway {
  @extend %schedule-col;
  width: 100% * (5 / 12);

  @include media-breakpoint-up(md) {
    width: 100% * (7 / 12);
  }
}

.schedule-time {
  color: $link-color;
}

.bus-schedule-time {
  display: inline-block;
  width: 3.1rem;

  @include media-breakpoint-up(md) {
    width: 4rem;
  }
}

a {
  &.schedule-list-group-item {
    @include hover-focus-active {
      background-color: $brand-primary-lightest;
      border-color: $brand-primary-lightest;
    }
  }

  &.selected-period-header {
    @include plain-hover-focus {
      background-color: $brand-primary-dark;
      border-color: $brand-primary-dark;
      color: $white;

      .alert-image {
        fill: $white;
      }
    }

    @include hover-focus {
      // we override the default and keep the same colors in the hover state.
      // iOS doesn't distinguish between these cases and it looks strange
      // when toggling between schedule groups. -ps

      + .schedule-list-group-item {
        border-color: $brand-primary-dark;
      }
    }

    .schedule-time {
      color: $white;
    }
  }


  &.trip-list-row {
    @include hover-focus-active() {
      border-bottom-color: $btn-primary-focus-bg;
      border-top-color: $btn-primary-focus-bg;
    }

    &:not(.trip-list-row-selected):not(.trip-list-row-preselected) {
      @extend %button-focus-color;
    }
  }

  .trip-list-departure {
    color: $link-color;
  }
}

.selected-period {
  border: 4px solid $brand-primary-dark;
  padding: .5rem;

  @include hover-focus-active {
    outline: none;
  }
}

.green-route-name {
  color: $link-color;
}

.trip-stop {
  list-style: none;
  margin-bottom: 0;
  padding-bottom: $space-1;
  padding-left: .625rem;
  position: relative;

  &::before {
    border-left: $space-4 solid $brand-primary-dark;
    content: '';
    height: 100%;
    left: -1 * $space-12;
    position: absolute;
    width: $space-1;
  }

  &:first-child::before {
    top: $space-6;
  }

  &:last-child::before {
    height: $space-6;
  }
}

.trip-stop-bubble {
  float: left;
  left: -2rem;
  margin-right: -2rem;
  position: relative;
}

.trip-stop-suffix {
  @include media-breakpoint-down(sm) {
    display: block;
  }
}

.direction-btn-group {
  display: table;
  margin-bottom: $base-spacing;
  width: 100%;
}

// needs .btn to be specific enough to have the float overridden -ps
.btn.direction-btn {
  display: table-cell;
  float: none;
  text-align: left;
  vertical-align: top;
  white-space: normal;
  width: 50%;
}

.direction-btn-selected-icon {
  @include pull-left();
  display: block;
  padding-right: .333rem;
}

.direction-btn-label {
  @include pull-left();
  display: block;
}

.direction-btn-label-selected {
  // leave room for the checkbox on the first line
  max-width: 85%;

  @include media-breakpoint-up(sm) {
    max-width: 90%;
  }

  @include media-breakpoint-up(md) {
    max-width: 94%;
  }
}

@include media-breakpoint-up(sm) {
  .row-equal {
    display: table;
    width: calc(100% + #{$grid-gutter-width / 2});
  }

  .col-equal {
    display: table-cell;
    float: none;
    margin-bottom: 0;
  }

  .js .col-equal {
    // without JS, we want both columns to top align
    vertical-align: middle;
  }
}

.col-equal {
  margin-bottom: .5rem;
}

.station-info-link {
  padding-left: .2rem;
}

.schedule-flag {
  color: $error-text;
  font-weight: bold;
}

.schedule-prediction {
  @include media-breakpoint-down(xs) {
    display: block;
  }
}

.schedule-date-picker {
  table-layout: fixed;
  text-align: center;

  thead {
    td,
    th {
      border: $border;
      font-weight: normal;
      text-align: center;

      @include media-breakpoint-down(xs) {
        padding: 0;
      }
    }

    .month {
      background-color: $brand-primary-darkest;
      border-color: $brand-primary-darkest;
      color: $white;
      font-weight: bold;
      padding: $base-spacing-sm;

      > * {
        padding-left: $base-spacing;
        padding-right: $base-spacing;
      }

      a {
        color: $white;

        /* stylelint-disable-next-line max-nesting-depth */
        @include hover-focus-active {
          text-decoration: none;
        }
      }
    }
  }

  tbody {
    border-bottom: 0;

    td {
      border: $border;
      padding: 0;

      a {
        @extend %button-focus-color;
        display: block;
        padding: .75rem;
        text-decoration: none;
      }
    }
  }
}

.schedule-content {
  position: relative;
}

.schedule-alert-container {
  margin-top: $base-spacing;
}

.datepicker-content-screen {
  background-color: $white;
  height: 100%;
  opacity: .7;
  position: absolute;
  width: 100%;
  z-index: $z-index-datepicker-content;
}

.schedule-weekend {
  background-color: $weekend-color;
}

.schedule-holiday {
  background-color: $holiday-color;
}

.schedule-selected,
.schedule-today {
  @include button-selected-color;
}

.schedule-next-month {
  a {
    color: $gray-light;
  }
}

.holiday-list {
  list-style: none;
  padding-left: 0;

  li {
    margin-top: .75rem;
  }
}

.holiday-list-empty {
  font-style: italic;
}

.graph-legend {
  display: inline-block;
  height: 1rem;
  margin-right: .5rem;
  width: 1rem;

  &.holiday {
    background-color: $holiday-color;
  }

  &.weekend {
    background-color: $weekend-color;
  }

  &.today {
    background-color: $today-color;
  }
}

.schedule-date-cancel {
  margin-bottom: $base-spacing;

  @include media-breakpoint-down(xs) {
    margin-top: $base-spacing-sm;
  }
}

.mobile-legend > span {
  margin-right: $space-12;
}

////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////
///   GENERAL PAGE STYLES
////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////

.schedule-filter-row {
  @include clearfix();
  margin-bottom: $space-16;
}

.calendar-covered {
  overflow: hidden; // fix for safari component overflowing container issue
  position: relative;
}

.calendar-cover {
  background-color: $white;
  height: 100%;
  opacity: .7;
  position: absolute;
  width: 100%;
  z-index: $z-index-calendar-cover;
}

.schedule-empty {
  font-weight: bold;
  text-align: center;
}

.schedule-destination-select-toggle {
  font-weight: bold;
  margin-top: $base-spacing;
}

.route-stop-heading,
.route-map-heading {
  margin-top: 0;
}

////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////
///// TRIP LIST
////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////

.trip-list-container {
  @include make-container();

  @include media-breakpoint-up(md) {
    margin-top: -$base-spacing;
  }
}

.trip-list-row {
  @extend %unpadded-table-row;
  @include make-row();
  border-left: $border;
  border-right: $border;
  color: $gray-dark;
  display: block;

  @include media-breakpoint-up(md) {
    clear: left;
    float: left;
    width: 50%;
  }

  &:empty {
    display: none;
  }

  &:focus {
    border-bottom: $border-md;
    border-top: $border-md;
    outline: none;
    z-index: $z-index-trip-selected;
  }

  .caret {
    float: right;
    line-height: $space-24;
  }

}

.trip-list-realtime-key {
  border-bottom-width: 0;
  border-left-width: 0;
  border-right-width: 0;
  line-height: $base-spacing * .75;
}

.trip-list-row-selected,
.trip-list-row-preselected {
  @include media-breakpoint-up(md) {
    @include button-selected-color;

    .icon,
    .trip-list-realtime {
      @include icon-inverse;
    }

    &::after {
      background: svg-uri('<?xml version="1.0" encoding="UTF-8" standalone="no"?><svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewbox="100 100" height="100px" width="100px"><polygon points="0,0 0,100 20,50" fill="#{$brand-primary}"/></svg>');
      background-size: cover;
      bottom: -2px;
      content: ' ';
      display: block;
      margin-top: 1px;
      position: absolute;
      right: -1.5rem;
      top: -2px;
      width: 1.5rem;
    }
  }
}

.trip-list-row-selected {
  @include media-breakpoint-down(sm) {
    @include button-selected-color;
    border-color: $brand-primary;

    .icon,
    .trip-list-realtime {
      @include icon-inverse;
    }

    .caret {
      transform: rotate(180deg);
    }

    .trip-list-row {
      border: 0;
    }
  }
}

.trip-list-cr-name {
  font-variant-numeric: tabular-nums;
}

.trip-list {
  margin-bottom: $base-spacing;
}

.trip-list-header {
  @extend %table-header;
  border: 0;
  color: $white;
  margin-top: $base-spacing;

  @include media-breakpoint-down(sm) {
    position: sticky;
  }

  * {
    color: $white;
  }
}

.trip-list-row-2-col {
  @extend %table-row;

  > div {
    @include make-col();
  }
}

.trip-list-departure {
  @include make-col-span(4);
  font-variant-numeric: tabular-nums;
}

.trip-list-headsign {
  @include make-col-span(8);
}

.time-block-name {
  @include make-col-span(7);
}

.time-block-times {
  @include make-col-span(5);
}

.trip-list-footer {
  color: $link-color;
  display: block;
}

.trip-list-green-line-icon {
  .stop-bubble-stop {
    overflow: visible;
  }

  circle {
    fill: $white;
    stroke: $brand-green-line;
    stroke-width: 2px;
  }
}

.trip-list-realtime {
  @include media-breakpoint-up(md) {
    @include no-wrap();
  }
}

.trip-list-realtime-content {
  line-height: $base-spacing;
}

.commuter-status {
  @include first-column;
}

.schedules-pdf-link {
  padding-bottom: $base-spacing;
}

// we use the del tag to indicate a cancels trip time, but sometimes it has children that also need the same style
del .trip-list-realtime {
  text-decoration: line-through;
}

////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////
///// FREQUENCY TABLE
////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////

.schedule-frequency-time {
  font-size: $font-size-base-sm;
}

////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////
///// TRIP INFO
////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////

////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////
///// VEHICLE LOCATION GRAPHIC
////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////

.route-status,
.trip-info-labels,
.trip-stops,
.trip-duration,
.trip-fare {
  padding-left: $base-spacing;
  padding-right: $base-spacing;
}

.route-status,
.trip-duration {
  padding-bottom: $base-spacing;
  padding-top: $base-spacing;
}

.trip-fare {
  padding-bottom: $base-spacing;
}

.route-status {
  border-bottom: $border;
}

.trip-info-labels {
  font-weight: bold;
}

// trip info parent container
.schedule-trip-info {
  @include make-row();
  border-bottom: $border;
  border-left: $border;
  border-right: $border;

  @include media-breakpoint-up(md) {
    float: right;
    width: 50%;
  }

  // Add the border to highlight the trip on mobile
  @include media-breakpoint-down(sm) {
    border: $border-md;
    border-bottom-width: $border-width * 3;
    border-color: $brand-primary;

    .trip-preselected & {
      display: none;
    }
  }
}

.schedule-trip-info-header {
  @extend %table-header;
  @extend %table-row;

  @include media-breakpoint-down(sm) {
    display: none;
  }
}

.line-map-container {
  margin-bottom: $base-spacing;
}

.line-map {
  width: 100%;

  // the size of the map varies at different breakpoints, these heights make is a square
  @include media-breakpoint-only(xxl) {
    height: 356px;
  }

  @include media-breakpoint-only(lg) {
    height: 284px;
  }

  @include media-breakpoint-only(md) {
    height: 222px;
  }

  @include media-breakpoint-only(sm) {
    height: 300px;
  }

  @include media-breakpoint-only(xs) {
    height: 256px;
  }

  // this hides the close "x" from the info window. This is because we use it like a tooltip (it closes on mouseout)
  .gm-style-iw + div {
    display: none;
  }
}

////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////
///// DATE AND DIRECTION FILTER BUTTONS
////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////

.stop-filters {
  .trip-view-filter-label {
    padding-top: 0;
  }

  &.callout {
    margin: 0;
  }
}

.trip-filters {
  // We use flexbox to make the filter buttons display as same
  // height when the headsign is long and text is forced to
  // wrap. Button heights will simply be uneven equal on browsers
  // that do not support flexbox (>1% of our visitors).

  @include media-breakpoint-up(sm) {
    align-items: stretch;
    display: flex;
  }
}

.date-filter,
.direction-filter,
.shape-filter,
.schedule-route-note {
  // fixes issue on iOS9, see: http://stackoverflow.com/questions/7892863/jquery-click-not-working-with-ipad
  cursor: pointer;
  display: flex;
  flex-direction: column;

  @include media-breakpoint-down(xs) {
    margin-bottom: $base-spacing;

    &:last-child {
      margin-bottom: 0;
    }
  }

  // this div is created by modal.js, but is not necessary in this case
  .select-cover {
    display: none;
  }
}

.schedule-route-note > * {
  // flex the element inside the note
  flex: 1;
}

.filter-button {
  @extend %button-primary-outline;
  @include clearfix();
  @include icon-size(2em);
  border-radius: $border-radius;
  display: block;
  /* stylelint-disable-next-line property-no-vendor-prefix */
  -ms-flex: 1 1 0%; // specify all 3 to work around IE bug
  flex: 1;
  min-height: 4rem;
  overflow: hidden;
  padding: $base-spacing-sm;
  position: relative;
  text-align: left;
  white-space: normal;
  width: 100%;

  @include hover-focus-active() {
    .filter-icon-border {
      border-color: $btn-primary-focus-color;
    }
  }

  &:focus {
    outline: none;
  }
}

.filter-icon,
.filter-text {
  @include make-col();
  padding-left: 0;
  padding-right: 0;
}

.filter-text {
  max-width: 80%;
}

.filter-icon {
  bottom: 0;
  height: 2em;
  margin: auto;
  padding-right: $base-spacing-sm;
  position: absolute;
  right: 0;
  top: 0;
}

.filter-icon-border {
  border: 1px solid $brand-primary;
  border-radius: 50%;
  height: 2rem;
  text-align: center;
  width: 2rem;

  i {
    height: 100%;
    line-height: 2rem;
    margin: -1px auto;
    text-align: center;
    vertical-align: middle;
  }

  svg {
    margin: $space-6 0 0 $space-6;

    path {
      fill: $brand-primary;
    }
  }
}

.icon-calendar,
.icon-direction {
  height: $base-spacing * 2;
  stroke: $brand-primary;
  width: $base-spacing * 2;

}

.icon-calendar-circle,
.icon-direction-circle {
  stroke: $brand-primary;
}

.icon-calendar-image,
.icon-direction-image {
  fill: $brand-primary;
  stroke: none;
}

.icon-variation {
  height: $base-spacing * 2;
  stroke: $brand-primary;
  width: $base-spacing * 2;

  .icon-variation-image {
    fill: $brand-primary;
    stroke: none;
  }
}

.filter-label {
  font-weight: bold;
  margin-bottom: $space-6;

  @include media-breakpoint-only(xs) {
    margin-bottom: $space-12;
  }
}

.inner-label {
  color: $body-color;
  font-weight: bold;
}

////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////
///// COMMUTER RAIL TIMETABLE
////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////




.route-row {
  > .route-row {
    // branch
    padding-left: 1rem;
  }
}

.route-green-bubble {
  display: inline-block;
  width: $icon-size * 1.5;
}

.route-holiday-info {
  li {
    margin-left: -$space-18;
  }
}

.route-holiday-container {
  margin-top: $base-spacing;
}

.name-with-icon {
  &:hover > * {
    text-decoration: underline;
  }

  svg {
    margin-left: $space-6;
  }
}

.tooltip-icon {
  color: $brand-primary;
}

.schedule-tooltip {
  font-size: 1rem;
  max-width: 15rem;
  padding: .5rem;
  padding-bottom: 0;
}

.schedule__description {
  display: inline-block;
  margin-bottom: $base-spacing * 1.5;
  margin-top: 0;
}

.schedule__header {
  color: $white;

  &.u-bg--commuter-rail {
    .info-\&-maps-tab,
    .schedule-\&-maps-tab {
      @include media-breakpoint-down(xs) {
        display: none;
      }
    }

    .info-tab,
    .schedule-tab {
      @include media-breakpoint-up(sm) {
        display: none;
      }
    }
  }

  // hide the schedule tab
  .schedule-tab {
    display: none;
  }
}

.schedule__header-container {
  @include make-container-max-widths();
  margin-left: auto;
  margin-right: auto;

  @include media-breakpoint-down(sm) {
    padding-left: $grid-gutter-width / 2;
    padding-right: $grid-gutter-width / 2;
  }
}

.schedule__header-tabs {
  .header-tab {
    // override color set by .u-bg class
    color: $black;

    &:hover {
      color: $black;
    }
  }
}

.bus-route-sign {
  background-color: $black;
  border-radius: $base-spacing * 2;
  color: $white;
  display: inline-block;
  font-weight: bold;
  min-width: $base-spacing * 4;
  padding: $base-spacing / 4 $base-spacing;
  text-align: center;

  @include media-breakpoint-down(xs) {
    min-width: $base-spacing * 3;
  }

  @include media-breakpoint-up(lg) {
    min-width: $base-spacing * 5;
  }
}
