.m-schedule-page__sidebar-pdfs {
  display: flex;
  margin-bottom: $base-spacing / 2;

  .c-svg__icon-pdf {
    fill: $brand-primary;
    flex-shrink: 0;
    height: $base-spacing * 1.5;
    margin-right: $base-spacing / 2;
    width: $base-spacing * 1.5;
  }
}

.m-schedule-page__sidebar-hours {
  h3:first-child {
    margin-top: 0;
  }
}

.m-schedule__map {
  height: $base-spacing * 25;
}

.m-schedule-page__fare {
  display: flex;
  justify-content: space-between;
}

.m-schedule-page__link {
  margin-top: $base-spacing / 2;
}

.c-unordered-list,
.m-schedule-page__sidebar-list {
  padding-left: $base-spacing * 1.5;
}

.m-schedule-page__schedule-note-icon {
  height: 1em;
  margin-right: $base-spacing / 2;
  position: relative;
  top: .125em;
  width: 1em;
}

.m-schedule-page__schedule-note-title {
  color: $brand-primary;
  display: flex;
  margin-top: 0;
}

.m-schedule-page__service-note-time:last-child {
  margin-bottom: 0;
}

.m-schedule-page__schedule-notes {
  background-color: $brand-primary-lightest-contrast;
  padding: $base-spacing * 2 $base-spacing;
}

.m-schedule-page__schedule-notes--desktop {
  margin-top: $base-spacing * 2;

  @include media-breakpoint-down(sm) {
    display: none;
  }
}

.m-schedule-page__schedule-notes--mobile {
  @include media-breakpoint-up(md) {
    display: none;
  }
}

.m-schedule-page__schedule-note--alternate {
  margin-top: $base-spacing;
}

.m-schedule-page__service,
.m-schedule-page__service-subheading {
  font-weight: bold;
}

.m-schedule-page__teaser {
  margin-top: $base-spacing;
}

.m-schedule-page__news {
  border-left-width: 0;
  flex-direction: column;
  padding-left: 0;
}

.schedule-finder {
  background-color: $brand-primary-lightest-contrast;
  padding: $base-spacing;

  @include media-breakpoint-down(sm) {
    margin-bottom: $base-spacing;
  }

  .c-modal__trigger-wrapper {
    display: inline; // otherwise clicking next to the button fires the event
  }

  .m-schedule-line__side-content & {
    @include media-breakpoint-down(sm) {
      display: none;
    }
  }

  .m-schedule-line__main-content & {
    @include media-breakpoint-up(md) {
      display: none;
    }

    @include media-breakpoint-down(sm) {
      margin-bottom: $base-spacing;
    }
  }
}

.schedule-finder__heading {
  color: $brand-primary;
  margin-top: 0;
}

.schedule-finder__modal-header {
  display: flex;
  margin-bottom: $base-spacing / 4;
}

.schedule-finder__modal-route-pill {
  margin-bottom: 0;
  margin-right: $base-spacing;
  margin-top: 0;
  padding-left: $base-spacing;
  padding-right: $base-spacing;
}

.schedule-finder__origin-list {
  @include media-breakpoint-up(sm) {
    max-height: 40vh;
    overflow: auto;
  }
}

.schedule-finder__origin-list-item {
  border-bottom: 1px solid $gray-lightest;
  cursor: pointer;
  font-weight: bold;
  padding: $base-spacing / 4 $base-spacing * 2.25;
  position: relative;

  &.active {
    background-color: $brand-primary;
    color: $white;

    &:focus,
    &:hover {
      color: $black;
    }
  }

  &.disabled {
    color: $gray-light;
  }

  &:last-child {
    border-bottom: 0;
  }

  &:focus,
  &:hover {
    background-color: $brand-primary-lightest-contrast;

    .schedule-finder__check {
      fill: $black;
    }
  }
}

.schedule-finder__origin-text {
  padding: $base-spacing $base-spacing 0;
}

.schedule-finder__origin-search-container {
  margin: 0 $base-spacing;
}

.schedule-finder__origin-search {
  border: 2px solid $brand-primary;
  border-radius: $border-radius;
  padding: $base-spacing * .5;
  width: 100%;
}

.schedule-finder__origin-modal {
  &.c-modal {
    padding: 0;

    @include media-breakpoint-up(md) {
      left: 50%;
      transform: translate(-50%, -50%);
      width: 500px;
    }
  }
}

.schedule-finder__zone {
  float: right;
  font-weight: normal;
}

.schedule-finder__check {
  display: inline-block;
  fill: $white;
  height: $base-spacing * .75;
  width: $base-spacing * .75;
}

.schedule-finder__origin-list-leftpad {
  left: 0;
  line-height: $base-spacing * 2;
  position: absolute;
  text-align: center;
  top: 0;
  width: $base-spacing * 2.75;
}

.schedule-table {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.schedule-table__header {
  background: $brand-primary-lightest-contrast;
  display: flex;
  font-weight: bold;
  padding: $base-spacing / 2;
}

.schedule-table__row {
  border: $border;
  display: flex;
  padding: $base-spacing / 2;
}

.schedule-table__row--stretch {
  justify-content: space-between;
}

// Separate class instead of modifier to avoid complicated nth-child selector
.schedule-table__row-selected {
  background: $brand-primary;
  border: 1px solid $brand-primary;
  color: $white;
  display: flex;
  padding: $base-spacing / 2;
}

.schedule-table__row:nth-child(even) {
  background: $gray-bordered-background;
}

.schedule-table__row:nth-child(odd) {
  background: $white;
}

.schedule-table__time-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.schedule-table__time {
  font-variant-numeric: tabular-nums;
  text-align: right;
  white-space: nowrap;

  .schedule-table--upcoming & {
    font-weight: bold;
  }

  &--delayed {
    font-weight: normal;
    margin-right: $base-spacing / 2;
    text-align: right;
    text-decoration: line-through;
  }
}

.schedule-table__track {
  text-transform: capitalize;
}

.schedule-table__row-header {
  background: $brand-primary-lightest-contrast;
  display: flex;
  flex-grow: 1;
  font-weight: bold;
  justify-content: space-between;
  overflow: hidden;
}

.schedule-table__th--flex-end {
  flex-grow: 1;
  margin-right: $base-spacing / 2;
  text-align: right;
}

.schedule-table__row-header-label {
  margin-right: $base-spacing * 3.75;
}

.schedule-table__row-header-label--small {
  margin-right: $base-spacing * 2.5;
}

.schedule-table__row-header-label--tiny {
  width: $base-spacing * 2;
}

.schedule-table__row-route {
  align-items: center;
  display: inline-flex;
}

.schedule-table__row-route-pill {
  font-size: .8 * $base-spacing;
  margin-right: $base-spacing;

  .u-bg--bus,
  .u-bg--silver-line {
    font-weight: bold;
    padding-left: .5rem;
    padding-right: .5rem;
  }
}

.schedule-table__headsign {
  .c-svg__icon {
    margin-right: $base-spacing / 2;
  }
}

.schedule-table__td {
  margin-right: $base-spacing * 3;
}

.schedule-table__td--tiny {
  width: $base-spacing * 2;
}

.schedule-table__tab-num {
  font-variant-numeric: tabular-nums;
}

.schedule-finder__first-last-trip {
  border-top: 3px solid $gray-lightest;
  display: flex;
  justify-content: space-around;
  // scss-lint:disable DuplicateProperty IE11 doesn't support space-evenly
  justify-content: space-evenly;
  padding: $base-spacing / 2;
}

.schedule-table__subtable {
  width: 100%;
}

.schedule-table__subtable-trip-info {
  display: flex;
}

.schedule-table__subtable-trip-info-title {
  margin-right: $base-spacing;
}

.schedule-table__subtable-trip-info-link {
  margin-left: $base-spacing;
}

.schedule-table__subtable-tr {
  display: flex;
  padding: $base-spacing / 2;
}

.schedule-table__subtable-container {
  display: flex;
}

.schedule-table__subtable-data {
  padding: $base-spacing / 4 0;

  &--right-adjusted {
    padding-left: $base-spacing / 2;
    text-align: right;
    vertical-align: top;
    white-space: pre;
  }
}

.schedule-table__subtable-row {
  border-top: 1px solid $gray-lightest;
}

.schedule-table__subtable-td {
  border: 2px solid $brand-primary;
  border-top: 0;
  padding: $base-spacing / 2;
  width: 100%;
}

.schedule-table__td--flex-end {
  flex-grow: 1;
  margin-right: $base-spacing / 2;

  .schedule-table--upcoming &:last-child {
    align-self: center;
    flex-grow: 0;
  }
}

.schedule-table--empty {
  font-weight: bold;
  text-align: center;
}

.schedule-table__scheduled-bus-pill {
  vertical-align: middle;
}

.schedule-table__upcoming-departures-header {
  align-items: baseline;
  display: flex;
  justify-content: space-between;
}

.schedule-table__live-clock {
  color: $brand-primary;
  fill: $brand-primary;

  svg {
    height: 9px;
    width: 9px;
  }
}
