.m-schedule-line-diagram__stop {
  border: $border;
  border-bottom: 0;
  padding: $base-spacing;
  padding-left: $base-spacing * 3;
  position: relative;

  &:last-child {
    border-bottom: $border;
  }
}

.m-schedule-line-diagram__card {
  align-items: flex-start;
  display: flex;
}

.m-schedule-line-diagram__stop-name {
  font-weight: bold;

  h4 {
    margin-top: $base-spacing / -4;
  }
}

.m-schedule-line-diagram__connections {
  .m-schedule-line-diagram__connection {
    margin: 0 ($base-spacing / 8);

    .c-svg__icon {
      height: $base-spacing;
      vertical-align: middle;
      width: $base-spacing;
    }
  }

  a {
    display: inline-block;
    line-height: 0;
    max-height: $base-spacing * 1.5;
    vertical-align: top;
  }
}

.m-schedule-line-diagram__features {
  align-items: center;
  display: flex;
  justify-content: flex-end;

  .m-schedule-line-diagram__feature-icon {
    height: $base-spacing;
    line-height: $base-spacing;
    margin-left: $base-spacing / 4;
    width: $base-spacing;
  }

  .c-icon__cr-zone {
    font-size: $base-spacing * .7;
    width: auto;
  }
}

.m-schedule-line-diagram__card-left {
  flex-grow: 1;
}

.m-schedule-line-diagram__footer {
  text-align: center;

  .btn {
    padding: unset;
  }
}

.m-schedule-line-diagram__line {
  background-color: currentColor;
  bottom: -$base-spacing * 1.5;
  left: $base-spacing;
  line-height: 0;
  margin-bottom: -1px; // removes spacing
  position: absolute;
  top: $base-spacing * 1.5;
  width: 10px;
  z-index: 1;

  .m-schedule-line-diagram__stop:last-child & {
    height: 0;
  }

  svg {
    overflow: visible;
  }

  circle {
    fill: $white;
    stroke: currentColor;
  }
}
