.m-schedule-page__sidebar-pdfs {
  display: flex;
  margin-bottom: $base-spacing / 2;

  .c-svg__icon-pdf {
    fill: $brand-primary;
    flex-shrink: 0;
    height: $base-spacing * 1.5;
    margin-right: $base-spacing / 2;
    width: $base-spacing * 1.5;
  }
}

.m-schedule-page__sidebar-hours {
  h3:first-child {
    margin-top: 0;
  }
}

.m-schedule__map {
  height: $base-spacing * 25;
}

.m-schedule-page__fare {
  display: flex;
  justify-content: space-between;
}

.m-schedule-page__link {
  margin-top: $base-spacing / 2;
}

.c-unordered-list,
.m-schedule-page__sidebar-list {
  padding-left: $base-spacing * 1.5;
}

.m-schedule-page__schedule-note-icon {
  height: 1em;
  margin-right: $base-spacing / 2;
  position: relative;
  top: .125em;
  width: 1em;
}

.m-schedule-page__schedule-note-title {
  color: $brand-primary;
  display: flex;
  margin-top: 0;
}

.m-schedule-page__service-note-time:last-child {
  margin-bottom: 0;
}

.m-schedule-page__schedule-notes--desktop {
  margin-top: $base-spacing * 2;
  @include media-breakpoint-down(sm) {
    display: none;
  }
}

.m-schedule-page__schedule-notes {
  background-color: $brand-primary-lightest-contrast;
  padding: $base-spacing * 2 $base-spacing;
}

.m-schedule-page__service,
.m-schedule-page__service-subheading {
  font-weight: bold;
}

.m-schedule-page__teaser {
  margin-top: $base-spacing;
}

.m-schedule-page__news {
  border-left-width: 0;
  flex-direction: column;
  padding-left: 0;
}

.m-schedule-page__schedule-notes--mobile {
  @include media-breakpoint-up(md) {
    display: none;
  }
}

.schedule-finder {
  background-color: $brand-primary-lightest-contrast;
  padding: $base-spacing;

  @include media-breakpoint-down(sm) {
    margin-bottom: $base-spacing;
  }

  .c-modal__trigger-wrapper {
    display: inline; // otherwise clicking next to the button fires the event
  }
}

.schedule-finder__heading {
  color: $brand-primary;
  margin-top: 0;
}

.schedule-finder__select-container {
  background-color: $white;
  border: solid $border-width $brand-primary-dark;
  border-radius: $border-radius;
  margin: $base-spacing / 2 0;
  padding: $base-spacing / 2;
  position: relative;

  &.error {
    border: solid 2px $error-text;
  }
}

.schedule-finder__select {
  appearance: none;
  background-color: $white;
  border: 0;
  overflow: hidden;
  padding-right: $base-spacing * 2;
  white-space: nowrap;
  width: 100%;

  // hide arrow in IE11 because it does not support appearance:none
  &::-ms-expand {
    display: none;
  }
}

.schedule-finder__arrow {
  pointer-events: none;
  position: absolute;
  right: $base-spacing / 2;
  top: $base-spacing / 2;
}
