.ap-name {
  font-weight: bold;
}

.ap-suggestion-icon {
  margin-right: calc(#{$base-spacing} / 4);
}

.ap-address {
  overflow: hidden;
  text-overflow: ellipsis;
}

.c-search-bar {
  margin-bottom: $base-spacing;
  position: relative;
}

.c-search-bar--embedded {
  @include media-breakpoint-up(md) {
    width: 50%;
  }
}

.c-search-bar--embedded-large {
  @include media-breakpoint-up(md) {
    width: 60%;
  }
}

div[id*='search-'].c-form__input-container
.c-form__submit-btn {
  > i.fa-search {
    display: none;
  }
}

.c-search-bar__empty {
  border-bottom: $border;
  border-left: $border;
  border-right: $border;
  display: flex;
  justify-content: space-between;
  margin-bottom: 0;
  padding: calc(#{$base-spacing} / 2);
}

.c-search-bar__header {
  font-weight: bold;
}

.poll-div {
  display: flex;
  @include media-breakpoint-down(sm) {
    display: block;
  }
}

.c-search-bar__go-btn--homepage {
  padding: $space-8;
}

.c-search-bar__results {
  background: $white;
  position: absolute;
  top: $base-spacing * 4;
  width: 100%;
  z-index: $z-index-search-bar-results;
}

.c-search-bar__result {
  display: block;
}

.c-search-bar__result-name {
  font-weight: bold;
}

.c-search-bar--hidden,
.c-search-bar__results--hidden,
.c-search-bar__autocomplete-results--hidden,
.c-search-bar__result--hidden {
  display: none;
}

.c-search-bar__autocomplete {
  border-radius: calc(#{$base-spacing} / 4);
  width: 100%;
}

.c-search-bar__-dropdown-menu {
  background-color: $white;
  border: $border;
  border-top: 0;
  box-shadow: $drop-shadow;
  width: 100%;

  .c-search__error {
    border-radius: 0;
    text-align: left;
  }
}

.c-search-bar__my-location-container {
  background-color: $white;
  border: $border;
  position: absolute;
  width: 100%;
  z-index: $z-index-search-bar-results;
}

.c-search-bar__-suggestion {
  @include icon-size-inline(1em);
  border-bottom: $border;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  padding: calc(#{$base-spacing} / 2) $base-spacing;
  text-align: left;

  em {
    font-style: normal;
    font-weight: bold;
  }
}

.c-search-bar__-cursor {
  background-color: $brand-primary-lightest;
}

.c-search-bar__cards {
  margin-left: calc(-#{$base-spacing} / 2);
  padding: 0;
}

.c-search-bar__stop-name {
  font-weight: bold;
}

.c-search-bar__-input {
  &::-ms-clear {
    display: none;
  }
}

.c-search-bar__input--homepage {
  border: 3px $brand-primary solid;
  border-radius: calc(#{$base-spacing} / 4);
  margin-top: $space-16;
}

.c-search-bar__my-location {
  color: $brand-primary;
  text-decoration: none;
}

.c-search-bar__loading-indicator {
  margin-bottom: auto;
  margin-top: auto;
  position: relative;
  right: calc(#{$base-spacing} / 2);
  visibility: hidden;
}

.c-search-bar__autocomplete--show-more {
  color: $brand-primary;
  cursor: pointer;
  text-align: center;

  &:hover {
    text-decoration: underline;
  }
}
