.m-secondary-nav {
  background-color: $brand-primary;
  display: block;
  border-top: 1px solid $brand-primary-lightest-contrast;

  &.todo-remove {
    @include media-breakpoint-down(md) {
      display: none;
    }
  }
}

.m-secondary-nav__items {
  @include make-container-max-widths();
  display: flex;
  margin-left: auto;
  margin-right: auto;

  @include media-breakpoint-up(lg) {
    border-left: 1px solid $brand-primary-light-contrast;
  }
}

.m-secondary-nav__item {
  align-items: center;
  border-right: 1px solid $brand-primary-light-contrast;
  color: $white;
  cursor: pointer;
  display: flex;
  flex: 1 1 25%;
  font-weight: $font-weight-medium;
  justify-content: center;
  padding-bottom: $space-12;
  padding-top: $space-12;

  @include hover-focus-active {
    background-color: $brand-primary-darkest;
    color: $white;
    text-decoration: none;
  }

  @include media-breakpoint-down(md) {
    min-height: $base-spacing * 3;
    padding: calc(#{$base-spacing} / 2);

    &:last-child {
      border-right: 0;
    }
  }
}

.m-secondary-nav__icon {
  @include icon-size-inline(2em);
  flex: 0 0 auto;
  margin-right: calc(#{$base-spacing} / 2);

  @include media-breakpoint-down(md) {
    display: none;
  }
}

.m-secondary-nav__icon-text {
  color: $white;
  text-align: center;

  @include hover-focus-active {
    background-color: $brand-primary-darkest;
    color: $white;
    text-decoration: none;
  }

  @include media-breakpoint-down(sm) {
    font-size: $font-size-base-sm;
    line-height: $base-spacing;
  }
  @include media-breakpoint-only(md) {
    font-size: $font-size-base;
  }
}
