.m-secondary-nav {
  background-color: $brand-primary;
  display: block;

  @include media-breakpoint-down(sm) {
    border-top: 1px solid $brand-primary-light-contrast;
  }
}

.m-secondary-nav__items {
  @include make-container-max-widths();
  display: flex;
  margin-left: auto;
  margin-right: auto;

  @include media-breakpoint-up(md) {
    border-left: 1px solid $brand-primary-light-contrast;
  }
}

.m-secondary-nav__item {
  align-items: center;
  border-right: 1px solid $brand-primary-light-contrast;
  color: $white;
  cursor: pointer;
  display: flex;
  flex: 1 1 25%;
  font-weight: $font-weight-medium;
  justify-content: center;
  padding-bottom: $space-12;
  padding-top: $space-12;

  @include hover-focus-active {
    background-color: $brand-primary-darkest;
    color: $white;
    text-decoration: none;
  }

  @include media-breakpoint-down(sm) {
    min-height: $base-spacing * 3;
    padding: $base-spacing / 2;

    &:last-child {
      border-right: 0;
    }
  }
}

.m-secondary-nav__icon {
  @include icon-size-inline(2em);
  flex: 0 0 auto;
  margin-right: $base-spacing / 2;

  @include media-breakpoint-down(sm) {
    display: none;
  }
}

.m-secondary-nav__icon-text {
  color: $white;
  text-align: center;

  @include hover-focus-active {
    background-color: $brand-primary-darkest;
    color: $white;
    text-decoration: none;
  }

  @include media-breakpoint-down(sm) {
    font-size: $font-size-base-sm;
    line-height: $base-spacing;
  }
}
