.c-btn-group-stackable {
  display: flex;
  width: 100%;

  @include media-breakpoint-only(xs) {
    flex-direction: column;
  }
}

.c-btn-group-stackable__btn {
  @include media-breakpoint-up(sm) {
    flex: 1;

    &:not(:last-child) {
      margin-right: $base-spacing;
    }
  }

  @include media-breakpoint-only(xs) {
    &:not(:first-child):not(:last-child) {
      border-radius: unset;
    }

    &:first-child:not(:last-child) {
      @include border-bottom-radius(0);
    }

    &:last-child:not(:first-child) {
      @include border-top-radius(0);
    }

    & + & {
      margin-left: 0;
      margin-top: -1px;
    }
  }
}

.c-btn-group-stackable__btn--active {
  @extend .focus;
}