// Starting 9/27/21, we're starting to set up new base-spacing numbers
$base-spacing__new: 4px;

$container-margin-xs: $base-spacing__new * 4 $base-spacing__new * 6;
$container-margin-sm: $base-spacing__new * 6 $base-spacing__new * 10;