@use 'sass:math';
$spacer: 1rem;

$spacers: (
  0: 0,
  1: $spacer,
  2: $spacer * 1.5,
  3: $spacer * 3,
);

$space-16: $spacer;
$space-12: $space-16 * .75;
$space-18: $space-12 * 1.5;
$space-21: $space-12 * 1.75;
$space-24: $space-12 * 2;
$space-27: $space-12 * 2.25;
$space-32: $space-16 * 2;
$space-36: $space-16 * 2.25;
$space-64: $space-32 * 2;
$space-120: $space-12 * 10;
$space-8: math.div($space-16, 2); // 8px real, 4px Zeplin
$space-6: math.div($space-12, 2); // 6px real, 3px Zeplin
$space-4: math.div($space-12, 4); // 3px real, 1.5px Zeplin
$space-2: math.div($space-12, 6); // 2px real, 1px Zeplin
$space-1: math.div($space-12, 12); // 1px real, 0.5px Zeplin

$base-spacing: $space-16;
$base-spacing-sm: $space-8;
$base-spacing-lg: $space-24;
$base-spacing-xl: $space-36;

$grid-gutter-width: 1.875rem;