.station-map-container {
  height: 16.5rem;
  margin-bottom: 1rem;

  @include media-breakpoint-only(md) {
    height: 14.375rem;
  }

  @include media-breakpoint-down(sm) {
    height: 10rem;
  }
}

.stop-features-list {
  @include icon-size-inline(1em);

  float: right;

  [class*='c-svg__icon'] {
    margin-left: calc(#{$base-spacing} / 4);
  }
}

.hub-stop-link {
  margin: 0 0 calc(#{$base-spacing} / 2);

  @include media-breakpoint-down(sm) {
    background-color: $white;
    min-width: 100%;
    padding: $space-12;
  }

  @include media-breakpoint-up(md) {
    max-width: 33%;

    .stop-features-list {
      display: block;
      float: none;
    }

    .hub-stop-name {
      display: block;
    }
  }

  .commuter-rail-zone {
    margin-left: calc(#{$base-spacing} / 2);
  }
}

.hub-stop-container {
  @include media-breakpoint-down(sm) {
    padding: 0 $base-spacing;
  }
}

.hub-stop-list {
  margin-bottom: 0;

  @include media-breakpoint-down(sm) {
    background-color: $gray-lightest;
    margin-bottom: $base-spacing;
    padding: $space-6 $base-spacing;
  }
}

.stops-view-all-btn {
  border: $border;
  display: inline-block;
  margin-top: -$base-spacing;
  padding: $base-spacing;
  text-align: center;
  width: 100%;

  button {
    background-color: $white;
    border: 0;
    color: $brand-primary;
    padding: 0;
  }
}

.stops-hide-all-btn {
  background-color: $gray-lightest;
  display: none;
  margin-top: $space-12;
  padding: $space-8;
}

.stops-for-route {
  .collapse {
    @include media-breakpoint-up(md) {
      display: block;
    }
  }
}

.leaflet-container {
  height: 100%;
  width: 100%;
}
