.c-stop-card {
  @include icon-size-inline(1.25em, 0);

  background-color: $white;
  border-radius: calc(#{$base-spacing} / 4);
  box-shadow: 0 $space-2 $space-4 $drop-shadow-color;
  margin-top: $base-spacing;
  padding: calc(#{$base-spacing} / 2);

  @include media-breakpoint-up(lg) {
    @include icon-size-inline(1.5em, 0);
  }

  &:first-child {
    margin-top: 0;
  }

  .leaflet-popup-content & {
    box-shadow: none;
  }
}

.c-stop-card__stop-name {
  color: $brand-primary;
  font-weight: bold;
}

.c-stop-card__route {
  align-items: center;
  display: flex;
  justify-content: flex-start;
  padding: calc(#{$base-spacing} / 4) 0;

  .leaflet-popup-content & {
    margin-right: calc(#{$base-spacing} / 2);
  }
}

.c-stop-card__route-link {
  display: block;
  padding-left: calc(#{$base-spacing} / 2);
}

.c-stop-card__bus-pill {
  border-radius: calc(#{$base-spacing} / 4);
  font-weight: bold;
  min-width: 2rem;
  padding: 0 calc(#{$base-spacing} / 4);
  text-align: center;
}

.c-stop-card__distance {
  float: right;
}

.c-stop-card__icon-container {
  display: flex;
}

$radius: 4px;

.stop-routes-and-map {
  background-color: $gray-bordered-background;
  border: .25px solid $gray-lighter;
  border-radius: $radius;
  display: grid;
  gap: .5rem;
  grid-template-columns: 5fr 7fr;
  padding: .75rem;

  @include media-breakpoint-down(sm) {
    border-radius: 0;
    display: block;
    margin-left: -$base-spacing;
    margin-right: -$base-spacing;
  }

  @include media-breakpoint-up(md) {
    margin-top: 1rem;
  }

  .map {
    height: 100%;
  }

  .departure-filters {
    display: flex;
    gap: .5rem;
    height: 1.875;
    margin-bottom: .5rem;

    [class*='c-svg__icon'] {
      height: 1em;
      position: relative;
      top: .125em;
      width: 1em;
    }
  }

  .departure-filters button {
    padding: .125em .5em;

    &.active {
      background-color: $brand-primary-lightest;
    }

    &:focus,
    &.active:focus {
      outline-offset: 0;
    }
  }
}

.stop-departures {
  background: $white;
  border: .25px solid $gray-lighter;
  height: 21.875rem;
  list-style: none;
  margin: 0;
  overflow-y: auto;
  padding: .5rem;

  @include media-breakpoint-down(sm) {
    height: unset;
    max-height: 350px;
  }

  .departure-card {
    background-color: $white;
    border-radius: $radius;
    box-shadow: 0 2px 4px rgba(176, 181, 192, .5);

    & + .departure-card {
      margin-top: .5rem;
    }
  }

  .departure-card__route {
    border-radius: $radius $radius 0 0;
    display: flex;
    font-family: $headings-font-family;
    font-weight: $headings-font-weight;
    gap: .5rem;
    padding: .25rem .5rem;
  }

  .bus-route-sign {
    min-width: 5ch;
    padding: 0;
  }

  .c-svg__icon {
    fill: currentColor;
    height: .9em;
    top: .1em;
    width: .9em;

    &--realtime {
      top: 0;
    }

  }

  .departure-card__headsign {
    border: .25px solid $gray-lightest;
    cursor: pointer;
    padding: .5rem;
  }

  .departure-card__headsign-name {
    @include h4();
    flex-grow: 1;
    margin: 0 .5rem 0 0;
    max-width: 16.25rem;
    padding-left: .5rem;
  }

  .departure-card__times {
    font-family: $headings-font-family;
  }

  button {
    background: none;
    border: none;
  }
}

.placeholder-map {
  display: none;
  @include media-breakpoint-down(sm) {
    background-color: $crowding-some-crowding-bg;
    display: block;
    height: 50%;
  }
}

.placeholder-departures {
  background-color: $crowding-crowded-bg;
  height: 20.188rem;
  margin: .5rem;
  overflow-y: scroll;
  @include media-breakpoint-down(sm) {
    height: 50%;
  }
}

.sm-up-hide {
  display: block;
  @include media-breakpoint-up(sm) {
    display: none;
  }
}

.departures-container {
  background-color: $white;
  @include media-breakpoint-down(sm) {
    box-shadow: 0 0 $space-4 $space-2 $drop-shadow-color;
    height: 100vh;
    left: 0;
    max-height: 100%;
    -webkit-overflow-scrolling: touch;
    overflow-y: auto;
    padding: 0;
    position: fixed;
    top: 0;
    width: 100%;
  }
}

.back-to-routes {
  align-items: center;
  background-color: $gray-bordered-background;
  border: .25px solid $gray-lighter;
  color: $brand-primary;
  display: flex;
  font-size: 1rem;
  height: 3.125rem;
  padding-left: .625rem;
  text-decoration: underline;
  :first-child {
    cursor: pointer;
    display: inline-block;
    font-weight: 400;
    :first-child {
      font-weight: 900;
      padding-right: .5rem;
    }
  }
}
