.m-trip-plan-results__itinerary {
  margin-bottom: $base-spacing * 1.5;

  h2 {
    font-size: 1.2em;
    margin-top: 0;
  }

  .c-accordion-ui {
    margin: 0;
  }

  .c-accordion-ui__trigger {
    @extend %button-primary-outline;
    border: 0;
    padding: ($base-spacing / 1.5) $base-spacing;

    &[aria-expanded='true'] {
      border-bottom: 1px $btn-primary-bg solid;
    }
  }

  &-header {
    background-color: $brand-primary-lightest-contrast;
    border: 1px solid $brand-primary;
    border-bottom: 0;
    font-size: $base-spacing;
    line-height: 1.5;
    margin-top: 0;
    padding: $base-spacing;
  }

  &-accessible {
    @include icon-size-inline(1em);
    margin-top: $base-spacing;

    [class*='c-svg__icon'] {
      margin-right: $base-spacing / 4;
    }
  }

  &-legs {
    @include icon-size-inline(1.5em, .1875em);
    align-items: center;
    display: flex;
    flex-grow: 1;

    .fa-angle-right {
      margin: 0 $base-spacing / 4;
    }
  }

  &-length-time {
    font-weight: bold;
    margin-right: $base-spacing / 2;
  }

  &-length-distance {
    margin-left: $space-12;
    white-space: nowrap;

    g {
      fill: currentColor;
    }
  }

  &-body {
    padding: 0 $base-spacing;
  }

  &-alerts {
    margin-right: $base-spacing / 2;
  }

  &-alerts-text {
    background-color: $gray-lightest;
    margin-bottom: $base-spacing;
    padding: $base-spacing;
  }
}
