.c-trip-plan-widget {
  background-color: $gray-bordered-background;
  border: solid 1px $gray-lightest;
  padding: 0 $base-spacing $base-spacing;
}

// adjustments for when rendered as a paragraph from the CMS
.c-paragraph--trip-plan-widget .c-trip-plan-widget {
  background-color: initial;
  border: 0;
  padding: initial;

  h2:first-child {
    margin-top: 0;
  }

  .c-trip-plan-widget__reverse-control {
    display: none;
  }

  .c-trip-plan-widget__submit-container {
    justify-content: flex-start;
  }

  @include media-breakpoint-down(sm) {
    padding-bottom: 1rem;
    padding-top: 1rem;

    h2:first-child {
      margin-top: .5rem;
    }
  }

  @include media-breakpoint-only(md) {
    .c-trip-plan-widget__inputs {
      flex-direction: column;

      .c-trip-plan-widget__from {
        margin-right: 0;
      }
    }
  }
}

.c-trip-plan-widget__inputs {
  display: flex;
  flex-direction: column;

  @include media-breakpoint-up(sm) {
    flex-direction: row;

    .c-trip-plan-widget__from {
      margin-right: $base-spacing;
    }

    .c-search-bar {
      flex-basis: 50%;
    }
  }
}

.c-trip-plan-widget__submit {
  display: inline-flex;
  justify-content: center;
  width: 60%;

  @include media-breakpoint-up(sm) {
    width: 45%;
  }
}

.c-trip-plan-widget__submit-container {
  display: flex;
  justify-content: flex-end;
}

.c-trip-plan-widget__input-label {
  color: $brand-primary;
  font-size: $font-size-h3;
  font-weight: bold;
  margin-left: calc(#{$base-spacing} / 2);
}

.c-form__input-container--error {
  .c-trip-plan-widget__input-label {
    color: $error-text;
  }
}

.c-trip-plan-widget__location-input {
  width: 80%;
}

.c-trip-plan-widget__location-error {
  margin-left: -$base-spacing * .75;
  margin-right: -$base-spacing * .75;
  margin-top: $base-spacing * .75;
  padding-bottom: $base-spacing * .75;
  padding-top: $base-spacing * .75;
}

.c-trip-plan-widget__label--to {
  display: flex;
  justify-content: flex-start;
}

.c-trip-plan-widget__reverse-control {
  color: $brand-primary;
  cursor: pointer;
  margin-left: auto;
  user-select: none;
}
