.m-trip-plan-results__itinerary-container {
  margin-bottom: $base-spacing * 1.5;

  .c-expandable-block__header {
    font-size: $base-spacing;
    line-height: 1.5;
    margin-top: 0;
  }

  .c-expandable-block__header-text {
    align-items: center;
    display: flex;
  }
}


.m-trip-plan-results__itinerary-summary {
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
}

.m-trip-plan-results__itinerary-accessibility {
  @include icon-size-inline(1em);

  [class*='c-svg__icon'] {
    margin-right: $base-spacing / 4;
  }
}

.m-trip-plan-results__itinerary-legs {
  @include icon-size-inline(1.5em, .1875em);
  align-items: center;
  display: flex;
  flex-grow: 1;

  .fa-angle-right {
    margin: 0 $base-spacing / 4;
  }
}

.m-trip-plan-results__itinerary-length {
  align-items: center;
  display: flex;
  flex-shrink: 1;
  justify-content: flex-end;
  margin-right: $base-spacing / 2;
}

.m-trip-plan-results__itinerary-length-time {
  font-weight: bold;
}

.m-trip-plan-results__itinerary-length-distance {
  margin-left: $space-12;
  white-space: nowrap;

  g {
    fill: currentColor;
  }
}

.m-trip-plan-results__itinerary-body {
  padding: 0 $base-spacing;
}

.m-trip-plan-results__itinerary-alerts {
  margin-left: $base-spacing / 2;
}

.m-trip-plan-results__itinerary-alerts-text {
  background-color: $gray-lightest;
  margin-bottom: $base-spacing;
  padding: $base-spacing;
}
