.c-trip-plan-widget {
  background-color: $gray-bordered-background;
  border: solid 1px $gray-lightest;
  padding: 0 $base-spacing $base-spacing;
}

// adjustments for when rendered as a paragraph from the CMS
.c-paragraph--trip-plan-widget .c-trip-plan-widget {
  background-color: initial;
  border: 0;
  padding: initial;

  h2:first-child {
    margin-top: 0;
  }

  .c-trip-plan-widget__reverse-control {
    display: none;
  }

  .c-trip-plan-widget__submit-container {
    justify-content: flex-start;
  }

  @include media-breakpoint-down(sm) {
    padding-bottom: 1rem;
    padding-top: 1rem;

    h2:first-child {
      margin-top: .5rem;
    }
  }
}

.c-trip-plan-widget__inputs {
  display: grid;
  grid-template:
    "a a" auto
    "b b" auto
    "c x" auto
    "d d" auto / 1fr auto;

  #trip-plan__label--from { grid-area: a; }
  #trip-plan__search--from { grid-area: b; }
  #trip-plan__label--to { grid-area: c; }
  #trip-plan__search--to { grid-area: d; }
  #trip-plan-reverse-control { grid-area: x; }
}

.c-trip-plan-widget__submit-container {
  display: flex;
  justify-content: flex-end;
}

.c-trip-plan-widget__input-label {
  color: $brand-primary;
  font-size: $font-size-h3;
  font-weight: bold;
  margin-left: calc(#{$base-spacing} / 2);
}

.c-form__input-container--error {
  .c-trip-plan-widget__input-label {
    color: $error-text;
  }
}

.c-trip-plan-widget__location-input {
  width: 80%;
}

.c-trip-plan-widget__location-error {
  margin-left: -$base-spacing * .75;
  margin-right: -$base-spacing * .75;
  margin-top: $base-spacing * .75;
  padding-bottom: $base-spacing * .75;
  padding-top: $base-spacing * .75;
}

.c-trip-plan-widget__reverse-control {
  color: $brand-primary;
  cursor: pointer;
  user-select: none;
}

.m-tabbed-nav__content-item .c-trip-plan-widget {
  border: none;
  padding: 0;

  h2 {
    display: none;
  }

  .c-trip-plan-widget__inputs {
    // use non-mobile layout at this breakpoint
    @include media-breakpoint-up(sm) {
      grid-template:
        "a . c" auto
        "b x d" auto / 1fr auto 1fr;
    }
  }

  .c-trip-plan-widget__reverse-control {
    @include media-breakpoint-up(sm) {
      padding: 0 1em;
      position: relative;
      top: .75em;
      transform: rotate(90deg);
    }
  }
  
  .c-trip-plan-widget__submit {
    @include media-breakpoint-only(xs) {
      width: 100%;
    }
  }
}
