.trip-plan-title {
  @media print {
    display: none;
  }
}

.trip-plan-container {
  display: flex;
  flex-wrap: wrap;

  @media print {
    display: block;
  }
}

.trip-plan-body {
  @include make-col();
  padding: 0;
  width: 100%;

  @media print {
    width: 100%;
  }
}

.no-trips {
  font-size: $font-size-h4;
  font-weight: 700;
  line-height: $headings-line-height;

  @media print {
    display: none;
  }
}

.instructions {
  color: $gray-light;

  &:empty {
    display: none;
  }
}

.trip-plan-itinerary-container {
  margin-top: $space-12;

  .toggle-stop-list {
    padding-bottom: $space-6;
    text-decoration: none;
  }
}

.itinerary-accessible {
  background-color: $gray-lightest;
  border-radius: $border-radius $border-radius 0 0;
  display: table;
  padding-bottom: $space-4;
  padding-left: $space-8;
  padding-right: $space-8;
  padding-top: $space-4;
}

.trip-plan-itinerary-header {
  align-items: center;
  border: $border-width solid $brand-primary;
  border-radius: $border-radius;
  display: flex;
  padding: calc(#{$base-spacing} / 2) $space-16;

  &:not(.collapsed) {
    background-color: $brand-primary-darkest;
    border-radius: $border-radius $border-radius 0 0;
    color: $white;
  }

  &.collapsed:not(:hover) {
    .fa-angle-right {
      color: $gray-light;
    }

    .itinerary-has-alerts-icon,
    .trip-plan-itinerary-length-distance {
      color: $gray-dark;
    }
  }

  &:focus {
    text-decoration: none;
  }

  &:hover {
    background-color: $brand-primary-lightest;
    color: $gray-dark;
    text-decoration: none;
  }
}

.trip-plan-itinerary-summary {
  display: flex;
  flex: 1 1 auto;
  flex-wrap: wrap;
}

.trip-plan-itinerary-accessibility {
  @include icon-size-inline(1em);

  [class*='c-svg__icon'] {
    margin-right: calc(#{$base-spacing} / 4);
  }
}

.trip-plan-itinerary-legs {
  @include icon-size-inline(1.5em, .1875em);
  align-items: center;
  display: flex;
  flex: 1 1 auto;

  .fa-angle-right {
    margin-left: calc(#{$base-spacing} / 4);
    margin-right: calc(#{$base-spacing} / 4);
  }
}

.trip-plan-itinerary-length {
  align-items: center;
  display: flex;
  flex: 0 1 auto;
  margin-right: calc(#{$base-spacing} / 2);
}

.trip-plan-itinerary-length-time {
  flex: 0 0 auto;
  font-weight: bold;
}

.trip-plan-itinerary-length-distance {
  flex: 0 0 auto;
  font-size: .875rem;
  line-height: 1.125rem;
  margin-left: $space-12;
  white-space: nowrap;

  g {
    fill: currentColor;
  }
}

.itinerary-has-alerts-icon {
  margin-left: $space-8;
}

.trip-plan-itinerary-expand {
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  justify-content: center;
}

.trip-plan-itinerary-body {
  border: $border;
  border-radius: 0 0 $border-radius $border-radius;
  padding: 0 $space-16;
}

.trip-plan-map {
  height: $base-spacing * 31.5;
  margin-bottom: $base-spacing;
  margin-top: $base-spacing;

  @include media-breakpoint-down(sm) {
    height: $base-spacing * 30;
  }

  .map-static {
    display: block;
    height: 100%;
  }
}

.no-js .trip-plan-map {
  display: none;
}

.trip-plan-initial-map {
  height: 100%;
  margin-bottom: $base-spacing;
  width: 100%;

  @include media-breakpoint-down(sm) {
    height: $base-spacing * 30;
  }
}

.itinerary-has-alerts-text {
  background-color: $gray-lightest;
  margin-bottom: $base-spacing;
  padding: $base-spacing;
}

.trip-plan-related-links {
  @include icon-size-inline(1em);

  display: flex;
  flex-flow: wrap;
  margin: $base-spacing 0;
  padding: 0;

  > * {
    display: inline-block;
    flex: 1;
    margin: $space-8 0;
    min-width: 15 * $base-spacing;
  }

  strong {
    flex: 2 0 100%;
  }

  @media print {
    display: none;
  }
}

.trip-plan-related-link {
  [class*='c-svg__icon'] {
    margin-right: calc(#{$base-spacing} / 4);
  }
}

.trip-planner-edit-btn {
  margin-top: $space-8;
  width: 100%;
}

.itinerary-transfer-row {
  width: 100%;
}

.itinerary-transfer-row-label {
  font-weight: bold;
}

.itinerary-instruction {
  display: inline-block;
  max-width: 75%;
  padding-right: $space-8;
}

.itinerary-step {
  border-bottom: $border;
  flex: 1 1 0%;
  margin-bottom: $space-6;
  padding-bottom: $space-6;
  width: 100%;
}

.itinerary-stop {
  width: 100%;
}

.trip-plan-additional-routes {
  background-color: $brand-primary-lightest;
  margin: $space-8 0;
  padding: $space-12;
}

.trip-plan-additional-routes-list {
  margin-bottom: 0;
}

.m-trip-plan__error {
  background-color: $form-error-message;
  border-radius: calc(#{$base-spacing} / 4) calc(#{$base-spacing} / 4) 0 0;
  color: $error-text;
  padding: $base-spacing;
  width: 100%;

  &--title {
    background-color: $form-error-message;
    font-weight: bold;
  }
}

.m-trip-plan__alert-toggle {
  cursor: pointer;
}
