// Our overrides for bootstrap
// (Bootstrap variables/mixins are not available here)
@import 'colors';
@import 'spacers';
@import 'grid-breakpoints';
@import 'container-max-widths';
@import 'fonts';
@import 'navbar';
@import 'buttons-overrides';
$link-decoration: none;
$link-hover-color: $brand-primary-darkest;
$link-hover-decoration: underline;
$border-radius: .25rem; // resolves to 4px

// Start Bootstrap
@import '../node_modules/bootstrap/scss/bootstrap';
//

// All custom CSS below
// (Bootstrap variables/mixins are available here)

// MBTA CSS helpers
@import 'functions';
@import 'variables';
@import 'typography';
@import 'mixins';
@import 'headings';
//

////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////
//
// VENDOR STYLES
//
@import 'vendor/fontawesome';
@import 'vendor/accessible-date-picker';
@import 'datepicker'; // our overrides of datepicker styles (can't use BEM conventions)

////// Unknown Where they go in the order (because classes are defined in multiple files, so order matters)
/// I know header needs to go before global-nav because they have conflicting definitions for the
/// .m-menu--desktop__toggle class
@import 'inter_ui';
@import 'footer';
@import 'header';
@import 'page';
@import 'social';
@import 'layout-core-shared';

////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////
//
// NEEDS REFACTOR
// These files have not yet been refactored to conform to our new BEM-style naming
// conventions. Use EXTREME caution when editing any of these styles, as they are
// likely to have been used somewhat randomly across the site, and changes that work
// on one page may break the layout on another page :(. They are also likely to be
// deeply nested and difficult to override.
//
// Whenever possible, take the opportunity to use new selectors that use correct
// conventions instead of modifying these existing styles.
//
@import 'helpers';
@import 'map';
@import 'icons';
@import 'button-group';
@import 'stop-bubbles';
@import 'index';
@import 'alerts';
@import 'schedule';
@import 'route';
@import 'mode-hub';
@import 'stops-v1';
@import 'stop-page';
@import 'stop-card';
@import 'errors';
@import 'customer-support';
@import 'multi-column';
@import 'fares';
@import 'fare-summary';
@import 'location-input';
@import 'news';
@import 'events';
@import 'pagination';
@import 'trip-plan';
@import 'people-grid';
@import 'search'; // partially refactored
@import 'project';
@import 'google-translate';

////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////
//
// COMPONENTS
//
// These files contain classes that may be used in multiple places on the site.
// The styles in this file are base styles and are meant to be overridden by
// module styles where needed; therefore the selectors for these styles should
// only use single classes with no nesting. If selectors absolutely must be nested,
// those selectors should be implemented carefully and precisely, and be well-documented.
// Use caution when editing any of these styles.
//
@import 'svg';
@import 'badges';
@import 'form';
@import 'paragraph';
@import 'title-card';
@import 'location-card';
@import 'descriptive-link';
@import 'accordion-ui';
@import 'search-bar';
@import 'header-tabs';
@import 'facets';
@import 'photo-gallery';
@import 'layout-cms';
@import 'embedded-media';
@import 'google-maps';
@import 'checkbox';
@import 'radio';
@import 'grid-button';
@import 'news-entry';
@import 'content-teasers';
@import 'recently-visited';
@import 'trip-plan-widget';
@import 'description-list';
@import 'callout';
@import 'fare-card';
@import 'right-rail';
@import 'feedback';
@import 'ul-list';
@import 'modal-component';
@import 'loading-spinner';
@import 'select-custom';
@import 'crowding-pill';
@import 'link-block';
@import 'ie-warning';

////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////
//
// MODULES
// These files contain styles that are only meant to be used on one page/template.
// They may use nesting to override component or helper styles where needed, but should
// still strive to avoid nesting wherever possible. These styles can be edited more easily
// with less fear of unexpected consequences.
//
@import 'detailed-stop';
@import 'content';
@import 'homepage';
@import 'whats-happening';
@import 'tabbed-nav';
@import 'schedule-line';
@import 'trip-plan-form';
@import 'mode';
@import 'banner';
@import 'schedule-icon-key';
@import 'timetable';
@import 'transit-near-me';
@import 'project-page';
@import 'schedule-page';
@import 'trip-plan-results';
@import 'trip-plan-fare-calculator';
@import 'schedule-direction';
@import 'schedule-page-line-diagram';
@import 'event-overlay';
@import 'event-details';
@import 'global-navigation';
@import 'glx-open';

////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////
//
// OVERRIDES
// These files contain styles that are meant to always override other styles when used.
// They may use nesting and even !important when absolutely necessary. These styles
// should be used VERY sparingly and be well-documented.
//
@import 'vendor/fixedsticky'; // needs refactor
@import 'utilities';


html {
  height: 100%;
  position: relative;
  scroll-behavior: smooth;
}

body {
  align-items: stretch;
  background-color: $homepage-bg-color;
  display: flex;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  height: 100%;
  justify-content: center;
  min-width: 20rem;
  max-width: 100%;
  text-rendering: optimizeLegibility;

  // if display: flex is not reverted to display: block in print mode,
  // Firefox only renders content on the first page.
  // Must also be reverted on .body-wrapper as well.
  // more details: https://app.asana.com/0/395349163493257/434551553219078

  @media print {
    color: $black;
    display: block;
  }

  &.no-js {
    .collapse:target {
      display: block;
    }

    .hidden-no-js {
      display: none;
    }
  }

  &.js {
    .hidden-js {
      display: none;
    }

    .sr-or-no-js {
      @include visually-hidden();
    }
  }

  // Only show the main content on the mTicket app's view
  &.mticket {
    .announcement-container,
    .header,
    .l-footer,
    .smartbanner {
      display: none;
    }

    // Remove space reserved for the footer
    .body-wrapper {
      margin-bottom: 0;
      padding-bottom: 0;
    }
  }

  // Display a label when viewing CMS content previews
  &.cms-preview {
    &::after {
      @include h2();
      background-color: $alert-color;
      border: 1px solid darken($color: $alert-color, $amount: 10);
      border-radius: $border-radius;
      bottom: 1em;
      box-shadow: 0 0 .5em 0 transparentize($color: $black, $amount: .75);
      content: 'PREVIEW MODE';
      display: block;
      line-height: 1;
      margin: 0;
      padding: .5em;
      pointer-events: none;
      position: fixed;
      right: 1em;
      z-index: 100;
    }
  }
}

h1 {
  @include h1();
}

h2 {
  @include h2();
}

h3 {
  @include h3();
}

h4 {
  @include h4();
}

h5 {
  @include h5();
}

h6 {
  @include h6();
}

p a,
ul a,
ol a {
  font-weight: $font-weight-medium;
}

input,
select {
  // prevents page from zooming when user taps on input on mobile
  // https://techstacker.com/html-disable-auto-zoom-input-element-ios/rexPaNAgaJG7xRYRk
  @include media-breakpoint-down(md) {
    font-size: 16px;
  }
}

// "Snap" <small> elements to next smallest font-size to
// prevent them from shrinking too much (and follow our scale)
small {
  @include media-breakpoint-down(md) {
    font-size: $font-size-base-xs;
  }

  @include media-breakpoint-between(md, xl) {
    font-size: $font-size-base-sm;
  }

  @include media-breakpoint-down(xxl) {
    font-size: $font-size-base;
  }
}

// undo styles in app.html.eex
// duplicate property required because IE doesn't support `initial`
.icon {
  height: auto;
  height: initial;
  width: auto;
  width: initial;
}

.icon-circle {
  fill: initial;
  stroke: initial;
  stroke-width: initial;
}

.schedule__header,
.page-container {
  max-width: 100%;
  width: 100%;
}

.page-container {
  align-self: center;
  flex-basis: auto;
  flex-grow: 1;
  flex-shrink: 0;
  padding: 0 0 $base-spacing * 2;
}

.main-container {
  background-color: $white;
  padding-bottom: $base-spacing;
}

@include media-breakpoint-down(md) {
  // hide SM down, but remain visible to screen readers
  .focusable-sm-down {
    @include visually-hidden();
    @include visually-hidden-focusable();
  }
}

.breadcrumb-container {
  background-color: $gray-bordered-background;
  border: solid 1px $gray-lightest;
  color: $gray-dark;
  padding-bottom: $space-8;
  padding-top: $space-8;

  i {
    color: $gray-light;
    padding: 0 .5em;
  }
}

.announcement-container {
  background-color: $gray-bordered-background;
  border: solid 1px $gray-lightest;
  color: $gray-dark;
  padding-bottom: $base-spacing;
  padding-top: $base-spacing;

  @include media-breakpoint-down(md) {
    padding-bottom: $base-spacing-sm;
    padding-top: $base-spacing-sm;
  }
}

.alert-announcement__container {
  background-color: $service-alert-yellow-darker;
  border: 0;
  color: $gray-dark;
  font-size: $font-size-base;
  padding: 0;

  a {
    text-decoration: underline;
  }
}

.alert-announcement__header {
  cursor: pointer;
}

// To be removed once the smart banner is disabled
div {
  &.smartbanner {
    top: -80px;
  }
}

.d-inline {
  display: inline;
}

.error-container {
  background-color: $form-error-message;
  color: $error-text;
  margin-top: .5em;

  span {
    display: inline-block;
    margin: .5em;

    // NB this should use the single-colon syntax (i.e. :before); it's
    // older CSS2 syntax but FA uses it and due to the way SCSS @extend
    // works we need to match selector syntax.

    &::before {
      @include fa-icon();
      content: $fa-var-exclamation-circle;
      margin-right: .25em;
    }
  }
}

