<% track_template() %>
<div class="page-section search-page">
  <div class="col-md-12">
    <strong>Whoops! An error occurred.</strong>
    <p class="page-section">Please re-submit your search query or try again later.</p>
  </div>
</div>
