<% track_template() %>
<div class="page-section search-page">
  <div class="col-md-12">
    <strong>{~t(Whoops! An error occurred.)}</strong>
    <p class="page-section">{~t(Please re-submit your search query or try again later.)}</p>
  </div>
</div>
