<%= if @teaser.title do %>
  <h3 class="c-content-teaser__title">
    {@teaser.title}
  </h3>
<% end %>

<%= if @teaser.text && :summary in @fields do %>
  <div class="c-content-teaser__text">
    {@teaser.text}
  </div>
<% end %>
