<div class={banner_content_class(@banner)}>
  <div class="c-banner__top">
    <div class="c-banner__category u-small-caps">
      {link_category(@banner.category)}
    </div>
    <a
      href={@banner.utm_url}
      class={"u-linked-card__primary-link c-banner__title--#{@banner.banner_type}"}
      aria-label={@banner.title}
    >
      <h2>
        {@banner.title}
      </h2>
    </a>
    <p :if={@banner.banner_type == :important}>{@banner.blurb}</p>
  </div>

  <div class="c-banner__bottom">
    {banner_cta(@banner)}
  </div>
</div>
