<div class="c-home-grid-section">
  <div class="c-home-grid-section-header">
    <h2>
      {~t(Contact Us)}
    </h2>
  </div>
  <div class="c-home-grid-buttons-container">
    <a href="/customer-support" class="c-home-grid-button">
      <div class="c-grid-button__content">
        <span class="c-grid-button__icon">
          {fa("comments", class: "c-grid-button__icon")}
        </span>
        <span class="c-grid-button__name">
          {~t(Send Us Feedback)}
        </span>
      </div>
    </a>
    <a href="/transit-police" class="c-home-grid-button">
      <div class="c-grid-button__content">
        <span class="c-grid-button__icon">
          {fa("shield", class: "c-grid-button__icon")}
        </span>
        <span class="c-grid-button__name">
          {~t(MBTA Transit Police)}
        </span>
      </div>
    </a>
  </div>
</div>
