<% track_template() %>
<div class="page-section">
  <div class="container">
    <div class="m-homepage--10-col-sm-only">
      <div class="m-homepage__fares">
        <%= render_paragraph(@homepage_fares, @conn) %>
      </div>
    </div>
  </div>
</div>
