<div class="m-homepage__recommended-routes">
  <h2 class="text-2xl">
    <%= fa "star" %>
    Recently Visited
  </h2>
  <%= render DotcomWeb.ModeView, "_grid_buttons.html",
        conn: @conn,
        routes: @routes,
        alerts: @alerts,
        date_time: @date_time,
        show_icons?: true
  %>
</div>
