<%= if @whats_happening_items do %>
  <% tag =
    if @promoted do
      "promoted"
    else
      "secondary"
    end %>
  <div class={"m-whats-happening__section m-whats-happening__section--#{tag}"} id={tag}>
    <div class="container page-section">
      <%= if @promoted do %>
        <h2 class="sr-only">{~t(Featured MBTA Updates and Projects)}</h2>
      <% else %>
        <%= unless Enum.empty?(@whats_happening_items) do %>
          <h2>{~t(What's Happening at the MBTA)}</h2>
        <% end %>
      <% end %>
      <div
        id={"whats-happening-#{tag}"}
        class={"row m-whats-happening__row m-whats-happening__row--#{tag}"}
      >
        <div
          :for={{item, counter} <- Enum.with_index(@whats_happening_items)}
          id={"whats-happening-#{tag}-#{counter}"}
          class={"homepage-link m-whats-happening__item m-whats-happening__item--#{if @promoted do "promoted" else "secondary" end} u-linked-card"}
        >
          <div :if={item.image} class="m-whats-happening__image">
            {img_tag(item.image.url, alt: item.image.alt)}
          </div>
          <div class="m-whats-happening-_description">
            <div class="m-whats-happening__category u-small-caps">
              {link_category(item.category)}
            </div>
            <h3 class="m-whats-happening__title">
              <a href={item.utm_url || "/"} class="u-linked-card__primary-link">
                {item.title}
              </a>
            </h3>
            <div :if={@promoted}>{item.blurb}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
