<%= link to: (@alert_banner.url || alert_path(@conn, :index)), class: "alert-announcement__header" do %>
  <%= SiteWeb.AlertView.render "_banner.html", alert: %{Alerts.Repo.by_id(@alert_banner.id) | priority: :system} %>
<% end %>
