<p>
  {~t(Monday - Friday)}: 6:30 AM - 8 PM
</p>

<p>
  <strong>{~t(Main Hotline)}:</strong> {tel_link("617-222-3200")}<br />
  <strong>{~t(Toll Free)}:</strong> {tel_link("800-392-6100")}<br />
  {~t(711 for TTY callers;  VRS for ASL callers)}
</p>

<p>
  <strong>{~t(Elevator/Escalator Hotline)}:</strong> {tel_link("617-222-2828")}<br />
</p>
