<% track_template() %>
<p>
  If your civil rights have been violated, you can file a complaint with the MBTA Office of Diversity and Civil Rights.
</p>
<p>
  <%= link to: cms_static_page_path(@conn, "/policies/file-discrimination-complaint"), class: "c-call-to-action" do %>
    Learn more about filing a complaint
  <% end %>
</p>
