<p>
  {~t(Follow the link below to find the number associated with the mode or route where you lost your item.)}
</p>
<p>
  <%= link to: cms_static_page_path(@conn, "/customer-support/lost-and-found"), class: "c-call-to-action" do %>
    {~t(View phone numbers)}
  <% end %>
</p>
