<div class="container m-events-hub">
  <header>
    <h1>Events</h1>
    <%# Add calendar toggle, setting the active option based on if "calendar" query_param is true %>
  </header>

  <div class="row">

    <div class="col-sm-offset-1 col-sm-8">
      <%= render "_event_list.html",
            events: @events,
            conn: @conn,
            month: @month,
            year: @year %>
    </div>
  </div>
</div>
