<% track_template() %>
<div class="alert-announcement__header" onclick="location.href='<%= @alert_banner.url || alert_path(@conn, :index) %>';">
  <%= DotcomWeb.AlertView.render "_banner.html", alert: @alert_banner %>
</div>
