<div class="container m-footer__links">
  <nav class="m-footer__group" aria-labelledby="footer-customer">
    <h2 id="footer-customer" class="m-footer__group-title">{~t(Customer Support)}</h2>
    <a href="/customer-support" class="m-footer__link" data-scroll="true">
      {~t(Send Us Feedback)}
    </a>
    <a
      href="/customer-support/lost-and-found"
      class="m-footer__link"
      data-scroll="true"
    >
      {~t(Lost & Found)}
    </a>
    <a
      href="https://massachusettsdot.mycusthelp.com/WEBAPP/_rs/supporthome.aspx?lp=3&COID=64D93B66"
      target="_blank"
      data-scroll="true"
    >
      {~t(Request Public Records)}
    </a>
    <a href="/language-services" class="m-footer__link">{~t(Language Services)}</a>
  </nav>
  <nav class="m-footer__group" aria-labelledby="footer-know-us">
    <h2 id="footer-know-us" class="m-footer__group-title">{~t(Get to Know Us)}</h2>
    <a class="m-footer__link" data-scroll="true" href="/leadership">{~t(Leadership)}</a>
    <a class="m-footer__link" data-scroll="true" href="/history">{~t(History)}</a>
    <a class="m-footer__link" data-scroll="true" href="/financials">{~t(Financials)}</a>
    <a class="m-footer__link" data-scroll="true" href="/events">{~t(Public Meetings)}</a>
    <a class="m-footer__link" data-scroll="true" href="/about/media-relations">
      {~t(Media Relations)}
    </a>
    <a class="m-footer__link" data-scroll="true" href="/policies">
      {~t(Policies & Civil Rights)}
    </a>
    <a class="m-footer__link" href="/safety">{~t(Safety)}</a>
    <a class="m-footer__link" href="/performance-metrics">{~t(Performance)}</a>
  </nav>
  <nav class="m-footer__group" aria-labelledby="footer-work-with">
    <h2 id="footer-work-with" class="m-footer__group-title">{~t(Work With Us)}</h2>
    <a class="m-footer__link" data-scroll="true" href="/careers">{~t(Careers)}</a>
    <a class="m-footer__link" href="/pass-program">{~t(Institutional Sales)}</a>
    <a class="m-footer__link" href="/business">{~t(Business Opportunities)}</a>
    <a class="m-footer__link" href="/engineering/design-standards-and-guidelines">
      {~t(Engineering Design Standards)}
    </a>
    <a class="m-footer__link" data-scroll="true" href="/developers">{~t(Developers)}</a>
  </nav>
</div>
