<div class="m-footer__outer-background">
  <div class="outer-container">
    <div class="all-container">
      <address class="call-us-container" role="complementary">
        <div id="customer_support" class="container m-footer__links">
          <h2 class="m-footer__group-title call-us-header">{~t(Call Us)}</h2>
        </div>
        <div class="container m-footer__links">
          {contact_numbers(@locale)}
        </div>
      </address>
      <footer class="m-footer">
        {footer_links(@locale)}
        <div class="container m-footer-links">
          <div class="lower-footer">
            <%= unless assigns[:exclude_google_translate] || Laboratory.enabled?(@conn, :use_smartling_translations) do %>
              {render("_google_translate_plugin.html", conn: @conn)}
              <div class="m-menu__language"></div>
            <% else %>
              <nav class="m-footer__group" aria-labelledby="footer-languages">
                <h2 id="footer-languages" class="m-footer__group-title">{~t(Languages)}</h2>
                {footer_languages()}
              </nav>
            <% end %>
            {footer_social_links(@locale)}
          </div>
          <p class="m-footer__copyright">
            &copy; {~t(Massachusetts Bay Transportation Authority, all rights reserved.)}
          </p>
          <div class="m-footer__policy-links u-mt-16">
            <a href="/policies/privacy-policy" class="u-me-16">{~t(Privacy Policy)}</a>
            <a href="/policies/terms-use">{~t(Terms of Use)}</a>
          </div>
        </div>
      </footer>
    </div>
  </div>
</div>
