<div class="social-icons-container">
  <a
    href="https://www.facebook.com/TheMBTA/"
    target="_blank"
    aria-label={~t(MBTA Facebook)}
  >
    <i class="fa-brands fa-facebook fa-xl social-icon"></i>
  </a>
  <a
    href="https://www.instagram.com/thembta/"
    target="_blank"
    aria-label={~t(MBTA Instagram)}
  >
    <i class="fa-brands fa-instagram fa-xl social-icon"></i>
  </a>
  <a
    href="https://www.threads.net/thembta/"
    target="_blank"
    aria-label={~t(MBTA Threads)}
  >
    <i class="fa-brands fa-threads fa-xl social-icon"></i>
  </a>
  <a
    href="https://linkedin.com/company/mbta"
    target="_blank"
    aria-label={~t(MBTA LinkedIn)}
  >
    <i class="fa-brands fa-linkedin fa-xl social-icon"></i>
  </a>
  <a
    href="https://www.youtube.com/@thembta"
    target="_blank"
    aria-label={~t(MBTA YouTube)}
  >
    <i class="fa-brands fa-youtube fa-xl social-icon"></i>
  </a>
  <a href="https://twitter.com/MBTA" target="_blank" aria-label={~t(MBTA Twitter)}>
    <i class="fa-brands fa-x-twitter fa-xl social-icon"></i>
  </a>
  <a
    href="https://www.tiktok.com/@thembta"
    target="_blank"
    aria-label={~t(MBTA TikTok)}
  >
    <i class="fa-brands fa-tiktok fa-xl social-icon"></i>
  </a>
</div>
