<div class="m-menu__feature">
  <h3 class="m-menu__section-heading">{~t(Most popular fares)}</h3>
  <dl title={~t(Most popular fares)}>
    <dt>{~t(Subway One-Way)}</dt>
    <dd>$2.40</dd>
    <dt>{~t(Local Bus One-Way)}</dt>
    <dd>$1.70</dd>
    <dt>{~t(Monthly LinkPass)}</dt>
    <dd>$90.00</dd>
    <dt>
      {~t(Commuter Rail One-Way)}
      <small>{~t(Zone)} 1A - 10</small>
    </dt>
    <dd>$2.40 - <br>$13.25</dd>
  </dl>
</div>
