<% track_template() %>
<noscript>
  <div class="search-results-header hidden-js">
    <div class="container">
      <div class="col-md-12">
        <h1 class="searchbar-heading">{~t(Search results for)}:</h1>
        <div class="searchbar-input-container">
          {desktop_form(@conn, @conn.params)}
        </div>
      </div>
    </div>
  </div>
</noscript>
