<marquee
  behavior="alternate"
  scrolldelay="60"
  style="margin: 0; padding: .5rem; background-color: #ffce0c; background-image: linear-gradient(45deg, #ffce0c 25%, #FFFAE9 25%, #FFFAE9 50%, #ffce0c 50%, #ffce0c 75%, #fff 75%, #FFFAE9 100%); background-size: 56.57px 56.57px; font-weight: bold;"
>
  🚌 {~t(Admins Only)} 🚌
</marquee>
<div class="container" style="background-color: white; min-height: 50vh; padding-top: 2rem">
  {@inner_content}
</div>
