<!DOCTYPE html>
<html lang={@locale}>
  <head>
    <% is_prod = Application.get_env(:dotcom, :is_prod_env?) %>
    <% dev_server = Application.get_env(:dotcom, :dev_server?) %>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {csrf_meta_tag()}
    <meta name="description" content={meta_description(assigns)} />
    <meta name="author" content={~t(Massachusetts Bay Transportation Authority)} />
    <meta name="theme-color" content="#165c96" />
    <meta :if={robots_nofollow?(@conn.request_path)} name="robots" content="noindex, nofollow" />
    <title>{Map.get(assigns, :page_title, title(@conn))}</title>
    <link
      rel="apple-touch-icon"
      href={static_url(@conn, "/apple-touch-icon.png")}
      type="image/png"
    />
    <%= if is_prod do %>
      <link
        rel="icon"
        href={static_url(@conn, "/images/mbta-logo-t-favicon.png")}
        sizes="32x32"
        type="image/png"
      />
      <link
        rel="icon"
        href={static_url(@conn, "/favicon.ico")}
        sizes="16x16"
        type="image/vnd.microsoft.icon"
      />
    <% else %>
      <link
        rel="icon"
        href={static_url(@conn, favicon_image())}
        type="image/svg+xml"
      />
    <% end %>

    <%= if google_tag_manager_id() do %>
      <link rel="preconnect" href="//www.google-analytics.com" />
    <% end %>

    <link
      rel="alternate"
      type="application/rss+xml"
      title={~t(MBTA.com Latest News)}
      href="/news/rss.xml"
    />

    <%= if dev_server do %>
      <link rel="stylesheet" href={"#{webpack_path()}/css/core.css"} />
      <link rel="stylesheet" href={"#{webpack_path()}/css/app.css"} />
      <script defer src={"#{webpack_path()}/core.js"}>
      </script>
      <script defer src={"#{webpack_path()}/app.js"}>
      </script>
    <% else %>
      <link rel="stylesheet" {static_attributes("/css/core.css")} />
      <link rel="stylesheet" {static_attributes("/css/app.css")} />
      <script defer {static_attributes("/js/vendors.js")}>
      </script>
      <script defer {static_attributes("/js/app.js")}>
      </script>
    <% end %>
  </head>
  <body class={Dotcom.BodyTag.class_name(@conn)}>
    <div class="body-wrapper" id="body-wrapper">
      <%= if !is_prod do %>
        <% language =
          Dotcom.Gettext |> Gettext.get_locale() |> Dotcom.Locales.locale() |> Map.get(:endonym) %>
        <div class={["w-full py-2 text-center leading-sm", banner_color_classes()]}>
          <i class="fa fa-globe"></i>
          You are viewing <em>{Map.get(@conn, :host)}</em>
          in <strong>{language}</strong>.
          <a
            :for={%{href: href, name: name, color_classes: color_classes} <- env_links(@conn)}
            class={[
              "mx-sm btn btn-outline btn-sm leading-sm border border-black hover:opacity-50",
              color_classes
            ]}
            href={href}
            target="_blank"
          >
            {name}
          </a>
        </div>
      <% end %>
      <a href="#main" class="sr-only sr-only-focusable">{~t(Skip to main content)}</a>
      {hidden_icons()}
      {render("_new_header.html", assigns)}
      <%= if assigns[:banner_template] do %>
        <div class={"announcement-container #{assigns[:banner_class]}"}>
          <div class="container">
            {render(__MODULE__, @banner_template, assigns)}
          </div>
        </div>
      <% end %>
      <%= if assigns[:breadcrumbs] do %>
        <div class="breadcrumb-container">
          <div class="container">
            {breadcrumb_trail(@conn)}
          </div>
        </div>
      <% end %>
      <div class={"page-container #{get_page_classes(Phoenix.Controller.view_module(@conn), Phoenix.Controller.view_template(@conn))}"}>
        <main id="main" tabindex="-1">{@inner_content}</main>
      </div>
      {render(__MODULE__, "_footer.html", assigns)}
    </div>
    <!-- prod only: This react script is inexplicably needed to get the app.js code to execute. -->
    <script defer {static_attributes("/js/react.js")}>
    </script>
    <% gtm_id = google_tag_manager_id() %>
    <%= if gtm_id do %>
      <% gtm_auth = google_tag_manager_auth() %>
      <% gtm_preview = google_tag_manager_preview() %>
      <!-- Google Tag Manager (noscript) -->
      <noscript>
        <iframe
          src={"https://www.googletagmanager.com/ns.html?id=#{gtm_id}&gtm_auth=#{gtm_auth}&gtm_preview=#{gtm_preview}&gtm_cookies_win=x"}
          height="0"
          width="0"
          style="display:none;visibility:hidden"
        >
        </iframe>
      </noscript>
      <!-- End Google Tag Manager (noscript) -->
      <!-- Google Tag Manager -->
      <script
        nonce={@conn.assigns[:csp_nonce]}
        data-gtm-variable={@conn.assigns[:csp_nonce]}
        id="gtm-script"
      >
        (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start': new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0], j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='https://www.googletagmanager.com/gtm.js?id='+i+dl+ "&gtm_auth={gtm_auth}&gtm_preview={gtm_preview}&gtm_cookies_win=x";var n=d.querySelector('[nonce]'); n&&j.setAttribute('nonce',n.nonce||n.getAttribute('nonce'));f.parentNode.insertBefore(j,f); })(window,document,'script','dataLayer','{gtm_id}');
      </script>
      <!-- End Google Tag Manager -->
    <% end %>
  </body>
</html>
