<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>MBTA - Massachusetts Bay Transportation Authority</title>
    <link rel="stylesheet" href="<%= static_url(@conn, "/css/style_guide.css") %>">
    <link rel="stylesheet" href="<%= static_url(@conn, "/css/core.css") %>">
    <link rel="stylesheet" href="<%= static_url(@conn, "/css/app.css") %>">
    <link rel="preload" href="<%= static_url(@conn, "/js/app.js") %>" as="script">
    <link rel=icon href="<%= static_url(@conn, "/favicon.ico") %>" sizes="16x16" type="image/vnd.microsoft.icon">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
  </head>

  <body class="style-guide">
    <div class="body-wrapper">
      <header class="page-header">
        <h1>MBTA Tech Style Guide</h1>
        <nav class="primary-nav">
          <ul class="row">
            <li class="col-sm-12 col-md-2"><a class="font-heading font-bold mt-11 mb-3 text-lg" href="/style-guide">Home</a></li>
            <li class="col-sm-12 col-md-2"><a class="font-heading font-bold mt-11 mb-3 text-lg" href="/style-guide/components">UI Components</a></li>
            <li class="col-sm-12 col-md-2"><a class="font-heading font-bold mt-11 mb-3 text-lg" href="/style-guide/content">Content Style Guide</a></li>
          </ul>
        </nav>
      </header>
      <main class="main-container row">
        <%= if has_styleguide_subpages?(@conn) do %>
          <%= render Phoenix.Controller.view_module(@conn), "_sidebar_nav.html", assigns %>
        <% end %>
        <div class="main-content col-sm-12<%= styleguide_main_content_class(assigns) %> <%= Map.get(@conn.params, "section") %>">
          <%= @inner_content %>
        </div>
      </main>
      <footer></footer>
      <script src="<%= static_url(@conn, "/js/app.js") %>"></script>
    </div>
  </body>
</html>
