<DotcomWeb.Components.Prototype.route_stop_picker
  selected_route={@route}
  selected_direction_id={@direction_id}
/>

<.route_banner route={@route} direction_id={@direction_id} />
<.stop_banner stop={@stop} />
