<% track_template() %>
<div class="l-content-files">
  <%= for file <- @files do %>
    <div class="c-content-file">
      <%= link to: file.url, target: "_blank", class: "c-content-file__link" do %>
        <div class="c-content-file__icon">{fa_icon_for_file_type(file.type)}</div>
        <div class="c-content-file__description">{file_description(file)}</div>
      <% end %>
    </div>
  <% end %>
</div>
