<%= unless Enum.empty?(@routes) do %>
  <div class="c-recently-visited">
    {content_tag(:h2, ~t(Recently Visited Schedules), class: Map.get(assigns, :header_class, ""))}
    {render(DotcomWeb.ModeView, "_grid_buttons.html",
      conn: @conn,
      routes: @routes,
      alerts: @alerts,
      date_time: @date_time,
      id_prefix: "recently-visited",
      show_icons?: true
    )}
  </div>
<% end %>
