<%= PhoenixHTMLHelpers.Tag.content_tag :div, class: String.trim("button-group #{args.class}"), id: args.id do %>
  <%= for {text, href} <- args.links do %>
    <%= PhoenixHTMLHelpers.Tag.content_tag :div, class: "button-container" do %>
      <%= PhoenixHTMLHelpers.Link.link(text, to: href, class: "btn button") %>
    <% end %>
  <% end %>
<% end %>
