@import '@algolia/autocomplete-theme-classic';

// styles that will be used for every instance
[phx-hook='AlgoliaAutocomplete'] {
  .aa-Autocomplete {
    --aa-icon-color-rgb: 22, 92, 150; // $brand-primary;
    --aa-primary-color-rgb: 22, 92, 150; // $brand-primary;
    --aa-input-border-color-rgb: 22, 92, 150;
  }

  .aa-Label {
    margin-bottom: unset;
  }

  .aa-InputWrapperPrefix {
    order: 3; // move search icon to end.
  }

  .aa-InputWrapper {
    order: 1;
  }

  .aa-InputWrapperSuffix {
    order: 2;
  }

  .aa-Form {
    border-color: rgb(var(--aa-input-border-color-rgb));
    border-width: 3px;

    &:focus-within {
      border-color: $brand-primary-light;
      box-shadow: unset;
    }

    div:has(.text-danger) > & {
      --aa-input-border-color-rgb: 179, 0, 15;
      --aa-icon-color-rgb: 179, 0, 15;
    }
  }

  .aa-LoadingIndicator,
  .aa-SubmitButton {
    padding-left: var(--aa-spacing-half);
    width: calc(var(--aa-spacing) * 1.25 + var(--aa-icon-size) - 1px);
  }

  .aa-ClearButton {
    @include fa-icon-solid($fa-var-times-circle);
    color: rgba(var(--aa-icon-color-rgb), var(--aa-icon-color-alpha));
    // hide default icon
    .aa-ClearIcon { display: none; }
  }

  .aa-SubmitButton {
    @include fa-icon-solid($fa-var-search);
    color: rgba(var(--aa-icon-color-rgb), var(--aa-icon-color-alpha));
    // hide default icon
    .aa-SubmitIcon { display: none; }
  }

  .aa-GradientBottom,
  .aa-GradientTop { all: unset; }

  .aa-ItemContent {
    mark {
      padding: 0;
    }
    > * {
      margin-right: .25rem;
    }
  }

  .aa-ItemContentTitle {
    display: unset;
    margin: unset;
    overflow: visible;
    text-overflow: unset;
    white-space: normal;
  }

  .aa-PanelLayout {
    padding: unset;
  }

  .aa-Panel {
    margin-top: .25rem;
    z-index: var(--aa-base-z-index);
  }

  .aa-Item {
    border-bottom: $border;
    border-radius: 0;
    display: flex;
    padding: calc(#{$base-spacing} / 2) $base-spacing;

    &:hover {
      background-color: $brand-primary-lightest;
    }

    em {
      font-style: inherit;
      font-weight: bold;
    }

    a:hover {
      text-decoration: none;
    }

    [class*='c-svg__icon'] {
      height: auto;
      top: .15em;
    }
  }

  .aa-ItemLink,
  .aa-ItemContent,
  .aa-ItemContentBody {
    display: unset;
  }

  .c-search-bar__autocomplete-results {
    position: relative;

    // Autocomplete.JS doesn't support multiple instances per page, and one way
    // this manifests is it totally bungles the dynamic positioning of elements.
    // Hence the need to wrangle with !important.
    // stylelint-disable declaration-no-important
    .aa-Panel {
      left: 0 !important;
      margin-top: .25rem;
      top: 0 !important;
      width: 100% !important;
    }
    // stylelint-enable declaration-no-important
  }

  // more specific layout
  [data-autocomplete-source-id='geolocation'] {
    .aa-ItemContentTitle {
      color: $brand-primary;
    }
  }
  [data-autocomplete-source-id='algolia'],
  [data-autocomplete-source-id='locations'],
  [data-autocomplete-source-id='popular'] {
    .fa-map-marker {
      color: $brand-primary;
    }
    .aa-ItemContent {
      align-items: first baseline;
      display: flex;
      justify-content: space-between;
      width: 100%;
    }
  }
}

#header-desktop {
  --aa-search-input-height: 2.25rem;

  .aa-Form {
    border-radius: .5rem;
  }
}

#header-desktop,
#header-mobile {
  .aa-InputWrapper {
    padding-left: 1rem;
  }

  .aa-ClearButton {
    padding-right: var(--aa-spacing-half);
  }
}

// a larger-format search box, with the search icon displayed as white on blue.
#error-page,
#proposed-sales-locations,
#sales-locations,
#transit-near-me-locations,
#vote {
  --aa-search-input-height: 2.5rem;

  .aa-Form {
    border-radius: .25rem;
    padding: .25rem;
  }

  .aa-InputWrapper {
    padding-left: .5rem;
  }

  // Search icon is white, reversed, large, on a blue background.
  .aa-SubmitButton {
    @include fa-size($fa-size-scale-lg);
    background-color: rgba(var(--aa-icon-color-rgb),
      var(--aa-icon-color-alpha));
    border-radius: .25rem;
    color: $white;
    transform: scale(-1, 1);
  }
}

#trip-planner-input-form--from,
#trip-planner-input-form--to {
  .aa-InputWrapperPrefix {
    order: unset;
  }

  .aa-SubmitButton {
    user-select: none;
  }
}

#trip-planner-input-form--from .aa-SubmitButton {
  @include fa-icon-solid($fa-var-a);
}

#trip-planner-input-form--to .aa-SubmitButton {
  @include fa-icon-solid($fa-var-b);
}
