.c-banner {
  color: inherit;
  display: block;
  margin-top: $base-spacing * 3;

  &:hover,
  &:focus {
    color: inherit;
    text-decoration: none;

    .c-banner__title--default {
      text-decoration: underline;
    }

    .c-banner__cta {
      background: $brand-primary-lightest;
    }
  }

  &--responsive {
    @include media-breakpoint-only(xxl) {
      // banner content is not full width at xxl,
      // so prevent container from being 100% at that breakpoint.
      margin: $base-spacing * 3 auto 0;
      width: map-get($container-max-widths, xxl);
    }

    @include media-breakpoint-up(sm) {
      margin-bottom: $base-spacing;
    }
  }

  &--responsive-no-margin {
    @include media-breakpoint-down(md) {
      // Break out of container
      margin: $base-spacing * 3 auto $base-spacing;
    }
  }

  &--no-margin-top {
    margin-top: 0;
  }

  &--lg-9 {
    @include media-breakpoint-up(lg) {
      width: 100%;
    }
  }
}

.c-banner__image {
  background-position: center;
  background-size: cover;

  &--responsive {
    @include media-breakpoint-down(xs) {
      // content is outside of the image div at xs,
      // so the div needs a set height for the
      // background image to be visible
      height: $base-spacing * 20;
    }

    @include media-breakpoint-only(xxl) {
      @include make-container();
      max-width: map-get($container-max-widths, xxl);
    }
  }

  &--responsive-side-by-side {
    @include media-breakpoint-down(xs) {
      // content is outside of the image div at xs,
      // so the div needs a set height for the
      // background image to be visible
      height: $base-spacing * 20;
    }

    @include media-breakpoint-up(sm) {
      display: flex;
    }

    @include media-breakpoint-up(lg) {
      padding: 0;
    }
  }

  &--by-side {
    width: 62.5%;
  }
}

.c-banner__image--important {
  padding: $base-spacing * 3;
}

.c-banner__content {
  background-color: $white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: $base-spacing;

  @include media-breakpoint-down(xs) {
    margin-bottom: $base-spacing * 4;
    margin-left: $base-spacing * 2;
    margin-right: $base-spacing * 2;
    margin-top: -$base-spacing * 4;
  }

  @include media-breakpoint-up(sm) {
    width: $col-width * 5;
  }

  &--responsive {
    @include media-breakpoint-up(sm) {
      min-height: $base-spacing * 20;
    }

    @include media-breakpoint-up(lg) {
      width: $col-width * 4;
    }
  }
}

.c-banner__content--right {
  @include media-breakpoint-up(sm) {
    float: right;
    margin-right: $col-width;
  }
}

.c-banner__content--default {
  @include media-breakpoint-only(sm) {
    margin-left: $col-width;
  }

  @include media-breakpoint-up(xxl) {
    margin-left: $col-width;
  }
}

.c-banner__content--important {
  border: $border;
  float: none;
  text-align: center;

  @include media-breakpoint-only(sm) {
    width: $col-width * 8;
  }

  @include media-breakpoint-up(sm) {
    margin-left: auto;
    margin-right: auto;
  }
}

.c-banner__category {
  font-weight: bold;
}

.c-banner__cta {
  border: 1px solid $brand-primary;
  border-radius: $border-radius;
  display: block;
  padding: $base-spacing * .75;

  &:hover {
    background: $brand-primary-lightest;
    text-decoration: none;
  }
}

.c-banner__date {
  font-weight: bold;
}
