@use 'sass:math';

.c-checkbox {
  display: inline-flex;
  position: relative;
}


.c-checkbox__input {
  /* stylelint-disable-next-line property-no-vendor-prefix */
  -moz-appearance: none; // Firefox still renders the check without this
  opacity: 0; // Still accessible by screenreaders
  width: 0;

  &:focus {
    + .c-checkbox__label::before {
      outline: .25rem solid; // Focus for IE11, auto doesn't work the same
      // Use webkit focus color so IE11 above works
      outline: auto -webkit-focus-ring-color .25rem;
      outline-color: $brand-primary-light;
      -moz-outline-radius: $border-radius; // Less ugly focus style for FF
    }
  }
}

.c-checkbox__input:checked + .c-checkbox__label {
  &::before {
    background: $brand-primary-dark;
  }

  &::after {
    content: '';
    opacity: 1;
  }
}

.c-checkbox__label {
  display: inline-block;
  margin-bottom: 0;
  padding-left: $base-spacing * 1.75;
  position: relative;

  &::before {
    background: $input-bg;
    border: .125rem solid $brand-primary-dark;
    border-radius: $border-radius;
    content: '';
    cursor: pointer;
    display: inline-block;
    height: math.div($space-12 * 5, 3);
    left: 0;
    position: absolute;
    top: $space-4;
    width: math.div($space-12 * 5, 3);
  }

  &::after {
    background: transparent;
    border: .25rem solid $white;
    border-right: 0;
    border-top: 0;
    content: none;
    cursor: pointer;
    display: inline-block;
    height: $space-8;
    left: calc(#{$base-spacing} / 4);
    opacity: 0;
    position: absolute;
    top: $space-8;
    transform: translateZ(1px) rotate(-45deg); // Translate is to fix a FF bug with white lines
    width: $space-12;
  }
}
