.c-crowding-pill {
  background-color: $gray-lightest;
  border: 2px $gray-lighter solid;
  border-radius: calc(#{$base-spacing} / 4);
  color: $black;
  display: inline-block;
  margin: calc(#{$base-spacing} / 4) 0;
  padding: 0 calc(#{$base-spacing} / 2);

  .c-icon__crowding {
    color: currentColor;
    margin-right: calc(#{$base-spacing} / 6);
    vertical-align: middle;
  }

  &__label {
    vertical-align: middle;
  }

  &--not_crowded {
    background-color: $crowding-not-crowded-bg;
    border-color: $crowding-not-crowded;

    .c-icon__crowding .person-middle,
    .c-icon__crowding .person-right {
      display: none;
    }
  }

  &--some_crowding {
    background-color: $crowding-some-crowding-bg;
    border-color: $crowding-some-crowding;

    .c-icon__crowding .person-right {
      display: none;
    }
  }

  &--crowded {
    background-color: $crowding-crowded-bg;
    border-color: $crowding-crowded;
  }
}
