@import 'variables';

.support-form {
  margin-bottom: $base-spacing;

  h2,
  h3 {
    margin-top: 0;
  }

  section {
    background-color: $gray-bordered-background;
    margin-bottom: calc(#{$base-spacing} / 4);
    padding: $base-spacing * .75;

    > .form-group:last-child {
      margin-bottom: 0;
    }
  }

  #contactInfoForm {
    margin-bottom: $base-spacing;
  }

  legend {
    font-size: inherit;
  }

  .form-control-label {
    font-weight: bold;
    padding-left: 0;
  }

  .help-text {
    margin-bottom: 0;
  }

  .service-radio {
    margin: 0 $base-spacing 0 0;

    .c-radio {
      border-color: $brand-primary;
    }
  }

  .error-container {
    margin: 0 0 .5em;
  }

  .submit-button {
    margin-top: calc(#{$base-spacing} / 2);

    .waiting {
      margin: 5%;
    }

    @include media-breakpoint-down(xs) {
      width: 100%;
    }
  }

  // Form validation styling
  .has-danger {
    .c-radio__label::before,
    .c-checkbox__label::before {
      border-color: $brand-danger;
    }
  }

  .has-success {
    .c-radio__label::after {
      background-color: $brand-success;
    }

    .c-radio__label::before,
    .c-checkbox__label::before {
      border-color: $brand-success;
    }
  }
}

.support-confirmation {
  margin-bottom: $base-spacing;
  padding: .75 * $base-spacing 1.25 * $base-spacing;

  &--success {
    background-color: $form-success-message;
  }

  &--error {
    background-color: $form-error-message;
    color: $error-text;
  }
}

.photo-preview-container {
  margin-bottom: $space-24;

  .photo-preview {
    display: inline-block;
    margin-left: calc(#{$base-spacing} / 2);
    margin-top: calc(#{$base-spacing} / 2);

    img {
      object-fit: contain;
    }

    p {
      margin: 0;
    }
  }

  .clear-photo {
    padding-left: calc(#{$base-spacing} / 8);
  }
}

.upload-photo-link {
  border: .125rem solid $brand-primary;
  border-radius: calc(#{$base-spacing} / 4);
  cursor: pointer;
  display: inline-block;
  height: 3rem;
  line-height: 2.8rem;
  text-align: center;
  width: 21rem;

  &:hover {
    color: $brand-primary;
    text-decoration: none;
  }

  > .fa {
    margin-bottom: 1.25rem;
    padding-right: calc(#{$base-spacing} / 2);
  }

  + input {
    padding: calc(#{$base-spacing} / 2) 0;
  }
}

.support-text-entered-container {
  background-color: $gray-lightest;
  padding: .5em;
}

body {
  &.no-js {
    .upload-photo-link {
      display: none;
    }
  }

  &.js {
    .support-form-expanded {
      display: none;
    }

    #photo {
      display: none;
    }
  }
}

// styles the input fields
.support-form-input {
  border: .125rem solid $brand-primary;
  display: block;
  font-size: inherit; // Bootstrap override
  padding: calc(#{$base-spacing} / 2);

  &--small {
    @include media-breakpoint-down(xs) {
      width: 100%;
    }

    @include media-breakpoint-up(sm) {
      width: 50%;
    }
  }
}

.has-success .support-form-control + span::before {
  @include fa-icon();
  color: $brand-success;
  content: $fa-var-check-circle;
  float: right;
  left: -.5rem;
  position: relative;
  top: -1.75rem;
}

.clear-upload-container {
  display: inline-block;
  position: relative;
}

.clear-photo {
  color: $brand-primary;
  cursor: pointer;
  height: $base-spacing;
  position: absolute;
  right: calc(#{$base-spacing} / 2);
  top: calc(-#{$base-spacing} / 2);
  width: $base-spacing;
}

.c-expandable-block__link {
  background-color: transparent;
  border: 0;
  color: inherit;
  margin-top: 1.075em;
  padding: 0;
  text-align: left;
  text-decoration: none;
  width: 100%;

  &:hover {
    text-decoration: inherit;
  }
  &:link {
    text-decoration: inherit;
  }
}

.c-expandable-block__link > h3,
.c-expandable-block__link:nth-of-type(1) {
  margin-top: 0;
}

.c-expandable-block__header-container {
  display: flex;
  justify-content: space-between;
}

.c-expandable-block-caret {
  @include expandable-block-caret($color: $brand-primary);
}

#support-date {
  width: 55%;
}

#support_vehicle {
  margin-right: $base-spacing-sm;
}

.c-mode-selector {
  margin-right: $base-spacing;
  width: 40%;
}

.c-route-selector {
  width: 100%;
}

.ada-container {
  display: flex;
  padding-top: 1rem;
}

.ada-icon {
  padding-left: .313rem;
  padding-top: .188rem;
}
