.c-descriptive-link {
  background-color: $white;
  border: $border-width solid $brand-primary;
  border-radius: $space-6;
  display: flex;
  height: 100%;
  overflow: hidden;

  // Return to normal vertical rhythm.
  @include media-breakpoint-only(xs) {
    margin-bottom: $base-spacing;
  }

  @include hover-focus-active {
    background-color: $brand-primary-lightest-contrast;
    text-decoration: none;

    .c-descriptive-link__caret {
      color: $link-color;
    }
  }
}

.c-descriptive-link__text {
  color: $black;
  flex: 1;
  padding: $base-spacing 0 0 $base-spacing;
}

.c-descriptive-link__title {
  // Use all aspects of H3 except
  // font-family and margin-top
  @apply h3;
  color: $link-color;
  font-family: $font-family-base;
  margin-top: 0;
}

.c-descriptive-link__caret-wrapper {
  // Gap = bootstrap grid gutter
  margin-left: $grid-gutter-width;

  // Match current breakpoint's column width (n/a on sm-down)
  @include media-breakpoint-down(md) {  width: 2.280rem; }
  @include media-breakpoint-only(lg) {  width: 3.281rem; }
  @include media-breakpoint-only(xxl) { width: 3.837rem; }

  // if inside a disabled button, don't show caret
  button[disabled] > & {
    display: none;
  }
}

.c-descriptive-link__caret {
  align-items: center;
  background-color: $brand-primary-lightest-contrast;
  color: $brand-primary-light;
  display: flex;
  font-size: 2em;
  height: 100%;
  justify-content: center;
  width: 100%;
}
