.event-hr-row {
  border-top: $border;
  margin-top: $base-spacing-lg;
  padding-top: $base-spacing-lg;
}

.event-info-label {
  font-weight: bold;

  @include media-breakpoint-down(sm) {
    display: block;
  }
}

.event-inline-block {
  display: inline-block;
}

.m-events-hub {
  header {
    align-items: baseline;
    display: flex;
    justify-content: space-between;

    h1 { margin-bottom: 0; }
  }
}

.m-event-listing {
  @include media-breakpoint-down(xs) {
    margin: 0 (-$base-spacing);
  }
}

$mobile-control-height: 73px;

.m-event-list__month {

  &-header {
    margin: 0;
  }

  .c-expandable-block__link {
    background-color: $white;
    padding: $base-spacing calc(#{$base-spacing} / 2);

    &.sticky-top {
      @include media-breakpoint-down(xs) {
        padding-left: $base-spacing;
        transition: top .2s ease-in-out;

        .js-nav-down & {
          top: 0;
        }

        .js-nav-up & {
          top: $mobile-control-height;
        }
      }
    }

    &[stuck] {
      /* stylelint-disable-next-line scss/operator-no-unspaced */
      box-shadow: 0 $space-16 $space-16 -1rem $drop-shadow-color;
    }
  }
}

.m-events-header {
  margin-bottom: 20px;
}

.m-event-list__nav {
  background-color: $white;
  padding-top: $base-spacing;

  a {
    display: block;
    font-size: 1.125rem;
    margin-bottom: calc(#{$base-spacing} / 2);
  }

  &.sticky-top {
    top: $base-spacing;
  }

  @include media-breakpoint-down(xs) {
    display: none;
  }
}

.m-events-content {
  @include media-breakpoint-down(xs) {
    margin-top: 1.044rem;
  }
}

.m-events-hub__nav--controls {
  display: flex;
  @include media-breakpoint-down(sm) {
    display: none;
  }
}

.m-events-hub__nav--navigation-toggle {
  align-items: center;
  border: 1px solid $gray-lightest;
  border-radius: 4px;
  display: flex;
  margin-left: $space-12;
  padding: .25rem;

  a {
    color: $gray-lighter;
    text-decoration: none;
  }
}

.m-nav-toggle-icon {
  border-radius: 2px;
  padding: 9px 12px 9px 13px;
}

.active-view {
  background-color: $brand-primary;
  color: $white;
}

.m-event-list__nav--mobile-controls {
  background-color: $white;
  border-bottom: 1px solid $gray-lightest;
  display: none;
  height: $mobile-control-height;
  padding: $base-spacing;
  position: sticky;
  transition: top .2s ease-in-out;
  z-index: 14; // one-up value so the mobile nav shows on top

  .m-event-list__select {
    height: 100%;

    &:first-child {
      flex: 1;
      margin-right: $base-spacing;
    }
  }

  // show on scrolling up, hide on down
  .js-nav-up & {
    @include media-breakpoint-down(xs) {
      display: flex;
      top: 0;
    }
  }

  .js-nav-down & {
    @include media-breakpoint-down(xs) {
      display: flex;
      top: -$mobile-control-height;
    }
  }
}

.m-event-list__select {
  border-radius: 4px;
  border-width: 1px;
  display: none;
  padding: .5 * $base-spacing 2 * $base-spacing .5 * $base-spacing $base-spacing;
  body.js & {
    display: block;
  }
}

.list-group-flush:first-child .list-group-item:first-child {
  border: solid $gray-lightest;
  border-top: unset;
  border-width: 1px 0;
}

.m-previous-events-button {
  cursor: pointer;
}

.m-event {
  padding: 16px;
  @include media-breakpoint-down(xs) {
    padding: 13px 24px 17px;
  }
}

.m-event__date-circle {
  align-items: center;
  background-color: $gray-bordered-background;
  border-radius: 2rem;
  color: $gray;
  display: flex;
  flex-direction: column;
  font-family: $headings-font-family;
  height: 4rem;
  justify-content: center;
  margin-right: 24px;
  min-width: 4rem;
  text-transform: uppercase;
  width: 4rem;
  @include media-breakpoint-down(xs) {
    display: none;
  }
}

.m-event__month {
  font-size: .875rem;
  line-height: 1.06rem;
}

.m-event__day {
  font-size: 1.47rem;
  line-height: 1.75rem;
  margin: 0;
}

.m-event__date-range {
  font-size: .875rem;
  font-weight: 500;
  line-height: 1.43rem;
  padding-bottom: .25rem;
  padding-top: .25rem;
  text-transform: uppercase;
  @include media-breakpoint-down(xs) {
    font-size: .75rem;
    padding-bottom: .56rem;
    padding-top: 0;
  }
  &.gray {
    color: $gray;
  }
}

.m-event__title {
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.5rem;
  padding-bottom: .56rem;
  @include media-breakpoint-down(xs) {
    font-size: .875rem;
    line-height: 1.31rem;
    padding-bottom: 0;
  }

  a {
    color: inherit;
    &:hover {
      color: $brand-primary;
    }
  }
}

.m-event__status-message {

  &.list-version {
    margin-left: 1.875rem;
    text-align: right;
    .m-event__add-button {
      padding: .56rem .75rem;
    }
  }
  &.popup-version {
    margin-right: $base-spacing;
    .m-event__add-button {
      padding: .81rem;
    }
  }
  .m-event__add-button {
    align-items: center;
    display: flex;
    font-size: 1.31rem;
    font-weight: 500;

    &:disabled {
      border-color: $gray-light;
      color: $gray-light;
      &:hover {
        background-color: $gray-lightest;
      }
    }

    i {
      margin-left: .0625rem;
    }

    .m-event__add-text {
      font-size: 1.125rem;
      padding-left: .5rem;
      @include media-breakpoint-down(xs) {
        display: none;
      }
    }
  }
}

.m-event__ended-message {
  color: $gray;
  font-size: 1.125rem;
  font-weight: 500;
  width: 6rem;
}

.m-event-calendar {
  font-size: small;
  table-layout: fixed;
  width: 100%;

  th {
    color: $gray;
    font-family: $headings-font-family;
    text-align: center;
  }

  &__day {
    border: 1px solid $gray-lightest;
    height: $base-spacing * 6; // works like min-height
    padding: calc(#{$base-spacing} / 4);
    vertical-align: top;
  }

  &__day-label {
    color: $gray;
    font-family: $headings-font-family;
    font-weight: bold;
    margin-bottom: calc(#{$base-spacing} / 2);
  }

  &__event {
    align-items: center;
    background-color: $white;
    border: 0;
    color: $gray-dark;
    display: flex;
    font-size: .75rem;
    padding: 0;
    width: 100%;

    // hide when JS is disabled
    .no-js &[data-a11y-dialog-show] {
      display: none;
    }

    .fa-circle {
      color: $brand-primary;
      font-size: xx-small;
      padding-right: .5rem;
      &.ended {
        color: $gray;
      }
    }
    &-time {
      flex-shrink: 0;
      padding-right: .25rem;
    }
    &-title {
      font-weight: 700;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;

      &:hover,
      &:focus {
        color: $brand-primary;
        text-decoration: none;
      }
    }
  }
}

.m-hide-show-calendar {
  @include media-breakpoint-down(sm) {
    display: none;
  }
}

.m-list-view-instead-of-calendar {
  display: none;
  @include media-breakpoint-down(sm) {
    display: block;
  }
}

.c-expandable-block-caret--black {
  @include expandable-block-caret($color: $black);
}
