// Uses the 3rd-party a11y-dialog library as a base to create
// accessible dialog windows for various use cases.
// See documentation at https://a11y-dialog.netlify.app
.m-event-overlay {
  animation: fade-in 400ms 200ms both, slide-up 400ms 200ms both;
  background-color: $white;
  border: 1px solid $border-color;
  border-radius: $border-radius;
  box-shadow: $drop-shadow;
  position: absolute;
  width: 280px;
  z-index: 2000;

  &.open-left {
    right: 306px;
    @include media-breakpoint-down(lg) {
      right: 250px;
    }
    @include media-breakpoint-down(md) {
      right: 202px;
    }
  }

  &[aria-hidden='true'] {
    display: none;
  }

  // the actual content
  [role='document'] {
    padding: $base-spacing;
    position: relative;

    // the 'x' element that closes popup
    [data-a11y-dialog-hide] {
      background-color: transparent;
      border: 0;
      font-size: 1.5rem;
      font-weight: bold;
      height: 1.125rem;
      line-height: 1.125rem;
      margin-left: .625rem;
      padding: 0;
    }

    .m-event__time-information {
      display: flex;
      flex: 1;
      flex-direction: column;
      justify-content: center;
      &.gray {
        color: $gray;
      }
      .m-event__date-range {
        padding: 0;
      }
      .m-event__bold-date {
        font-weight: bold;
        text-transform: uppercase;
      }
    }
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
}

// if using Tether for positioning, might want to incorporate
// the Tether-generated CSS classes to change direction depending on
// which side of the link the popup is displayed at.
@keyframes slide-up {
  from {
    transform: translateY(10%);
  }
}



