@use 'sass:math';

.m-event-details {

  .c-cms__title {
    margin-top: 2.5rem;
  }

  .c-cms__title-text {
    margin-top: 0;
  }

  .m-event__date-range {
    font-size: 1rem;
    font-weight: bold;
  }

  .c-paragraph {
    padding-bottom: $base-spacing * 2;
    .add-to-calendar-link {
      font-weight: 500;
    }
  }

  .m-event-section {
    padding-bottom: $base-spacing-lg;
  }

  .m-event__registration {
    display: flex;
    justify-content: space-between;

    &-header {
      align-self: center;
      flex: 0 1 40%;
      margin: 0;
    }

    @include media-breakpoint-down(xs) {
      display: block;
      .m-event__registration-header {
        margin-bottom: calc(#{$base-spacing} / 2);
      }
    }
  }

  .m-event__livestream {
    height: 56vw;
    max-height: 35rem;
    width: 100%;
  }
}

$bullet-size: 2rem;
$separator-border: solid 1px $gray-lightest;
$agenda-column-gap: $base-spacing * .75;

%small-grey-font {
  color: $gray;
  font-family: $font-family-base;
  font-size: $font-size-base-sm;
  font-weight: normal;
}

// adds a large round colored circle with number from counter
@mixin agenda-bullet($bg-color: $gray, $color: $white,
                     $counter, $counter-type: false) {
  &::before {
    background-color: $bg-color;
    border-radius: 50%;
    color: $color;

    counter-increment: $counter;
    display: inline-block;
    font-weight: 700;
    height: $bullet-size;
    line-height: $bullet-size;
    text-align: center;
    width: $bullet-size;

    @if $counter-type {
      content: counter($counter, $counter-type);
    } @else {
      content: counter($counter);
    }
  }
}

.m-event__agenda {
  p {
    line-height: $headings-line-height;
  }

  .agenda-topics,
  .agenda-subtopics {
    list-style: none;
    padding-left: 0;

    // each agenda item lays out the content in a grid as follows
    //    --------------------------------------------
    //    | [bullet] |         [title]               |
    //    --------------------------------------------
    //    |          |  [description+ nested lists]  |
    //    |          |  height adjusts to content    |
    //    --------------------------------------------
    .agenda-topic,
    .agenda-subtopic {
      border-top: $separator-border;
      column-gap: $agenda-column-gap;
      display: grid;
      grid-template: auto auto / $bullet-size 1fr;
      padding: $base-spacing * .75 0 $base-spacing;

      &:last-child {
        padding-bottom: 0;
      }
    }
  }

  .agenda-topic__title {
    grid-area: 1 / 2 / 2 / 3;
    margin: 0;

    + .agenda-topic__content {
      margin-top: $base-spacing * .5;
    }
  }

  .agenda-topic__content {
    grid-area: 2 / 2 / 3 / 3;

    :last-child {
      margin-bottom: 0;
    }
  }

  // top-level list
  .agenda-topics {
    counter-reset: topicCounter 0 subCounter 0;
    margin-top: $base-spacing * .75;
  }

  .agenda-topic {
    @include agenda-bullet($counter: topicCounter, $counter-type: upper-alpha);

    padding-bottom: 0;
  }

  // second-level list
  .agenda-subtopics {
    margin-top: $base-spacing * .125;

    // further nested content gets styled as small muted text
    .agenda-topic__content {
      @extend %small-grey-font;
    }

    @include media-breakpoint-down(sm) {
      // Nested items are aligned flush left with parent items in small display
      margin-left: - $bullet-size - $agenda-column-gap;
    }
  }

  .agenda-subtopic {
    @include agenda-bullet($bg-color: $gray-bordered-background,
    $color: $gray, $counter: subCounter);

    align-items: baseline;
  }

  .agenda-topic__timestamp {
    @extend %small-grey-font;
    font-weight: bold;

    &:not(:last-child) {
      // hacky way of showing it "in" the first paragraph
      margin-right: $base-spacing * .25;

      // first paragraph
      + p {
        // display paragraph inline so text is adjacent to timestamp
        display: inline;

        // display:inline removes margin from the paragraph.
        // to make up for that, add a top margin to the next element
        /* stylelint-disable-next-line max-nesting-depth */
        + * {
          margin-top: 1em;
        }
      }
    }
  }
}
