@import 'variables';
@import 'typography';
@import 'mixins';

.header-navbar {
  display: flex;
  // required for the mobile button to be vertically centered
  height: $header-navbar-height;
}

.header-navbar.new {
  height: $header-navbar-height-new;

  @include media-breakpoint-only(xs) {
    height: $header-navbar-height-xs;
  }

  .c-svg__mbta-name-and-logo {
    @include media-breakpoint-down(md) {
      margin-left: 24px;
    }
  }

  .navbar-logo {
    .svg-container {
      align-items: center;
      display: flex;
      height: 100%;
      justify-content: center;
    }
    .c-svg__mbta-logo {
      display: none;
    }

    // At XS size, use T logo only
    @include media-breakpoint-only(xs) {
      flex-grow: 1;

      svg {
        display: unset;
        height: 24px;
      }
      .c-svg__mbta-logo {
        display: unset;
        height: 24px;
      }
      .c-svg__mbta-name-and-logo {
        display: none;
      }
    }

    svg {
      @include media-breakpoint-between(xs, md) {
        width: unset;
      }
      @include media-breakpoint-only(sm) {
        height: 24px;
      }
      @include media-breakpoint-up(md) {
        height: 40px;
      }
    }
  }

  @include media-breakpoint-up(sm) {
    .search-wrapper {
      align-items: center;
      display: flex;
      flex-grow: 1;
      height: 100%;
      justify-content: flex-end;
    }
  }
}

.m-menu__search {
  .search {
    align-items: center;
    display: flex;
    height: 100%;
    form {
      flex-grow: 1;
    }
    .c-form__input-container {
      border-radius: 8px;
    }
    button.c-form__submit-btn {
      background-color: unset;
      > i {
        color: $brand-primary;
        display: inline-block !important;
      }
    }
    .c-svg__icon-search-reverse-default {
      display: none;
    }
  }
}

.header-navbar.new .search {
  display: block;
  padding-left: 24px;
  width: 100%;

  @include media-breakpoint-only(xs) {
    display: none;
  }
}

.navbar-logo {
  display: block;
  margin-right: auto;

  svg {
    display: block;
    height: $header-navbar-height;
    // setting the width keeps the rendered logo proportional,
    // while adding space above and below inside the svg.
    width: $base-spacing * 12;
  }
}

nav.m-menu {
  @include media-breakpoint-up(lg) {
    display: none;
  }
}

.header-navbar {
  .search {
    @include media-breakpoint-only(xs) {
      display: none;
    }
    @include media-breakpoint-up(lg) {
      display: none;
    }
  }
  .header-search__toggle {
    @include media-breakpoint-up(sm) {
      display: none;
    }
  }
}

nav.m-menu--mobile {
  position: absolute;
  z-index: $z-index-modal;
}

.m-menu__title {
  background-color: $brand-primary-darkest;
  margin: 0;
  padding: 10px 12px;

  @include media-breakpoint-up(sm) {
    display: none;
  }
}

.m-menu__content,
.m-menu__search {
  display: none;
  -ms-overflow-style: none;  /* IE and Edge */
  position: fixed;
  scrollbar-width: none;  /* Firefox */
  transition: all .25s ease;
  transition: top 0s;
  white-space: nowrap;
  &::-webkit-scrollbar {
    display: none; /* Chrome */
  }

  @include media-breakpoint-up(lg) {
    display: none;
  }
}

.m-menu__content,
.m-menu-search {
  top: $header-navbar-height-new;

  @include media-breakpoint-only(xs) {
    top: $header-navbar-height-xs;
  }
}

.m-menu__search {
  background-color: $brand-primary-darkest;
  display: none;
  height: 0;
  padding: 0 12px 16px;
  width: 100%;

  .c-form__input-container {
    border: none;
    border-radius: 4px;
  }
}

.m-menu__link {
  align-items: center;
  display: flex;
  padding: 12px 12px 12px 24px;

  span {
    margin-left: calc(#{$base-spacing} / 2);
  }
}

.m-menu__content {
  background-color: $brand-primary;
  bottom: 0;
  box-shadow: 0 7px 14px 0 $gray-shadow;
  overflow-y: auto;
  overscroll-behavior: none;
  padding-bottom: calc(200px - $base-spacing);
  width: 0;

  .m-menu__section-heading {
    color: $brand-primary-lightest;
    margin: 16px 0 0 16px;
  }

  .m-menu__section {
    border-bottom: 1px solid $brand-primary-light-contrast;
    padding-bottom: 16px;
    padding-top: 8px;

    @include media-breakpoint-only(sm) {
      margin-left: 40px;
    }
    @include media-breakpoint-only(md) {
      margin-left: 63px;
    }
  }

  // Accordion stuff
  .c-accordion-ui {
    border: 0;
    margin: 0;

    .c-accordion-ui__trigger {
      border: 2px solid $brand-primary;
      color: $white;

      &:hover,
      &:active {
        background-color: inherit;
      }

      &:focus {
        border-color: $brand-secondary;
        outline: none;
      }
    }

    .c-accordion-ui__content {
      background-color: $brand-primary-lightest-contrast;
      padding-left: 0;

      @include media-breakpoint-up(sm) {
        border-radius: 0 0 0 8px;
      }
    }
  }

  .m-menu__link {
    &:focus {
      color: $link-color;
      outline: none;
      text-decoration: none;

      div {
        border-radius: 4px;
        box-shadow: 0 0 0 2px currentColor,
          0 0 0 3px $brand-primary-lightest-contrast, 0 0 0 4px $brand-primary-darkest;
      }
    }
  }

  .m-menu__language {
    border-bottom: unset;
    padding: $base-spacing;
  }
}

.header-search__toggle .fa-close {
  display: none;
}

.header--new .c-search-bar__autocomplete {
  // stylelint-disable-next-line declaration-no-important
  z-index: calc(#{$z-index-modal} + 1) !important; // = 102. overwrites the 100 value added by autocomplete.js
}

%hide-button {
  opacity: 0;
  pointer-events: none;
}

// show mobile menu, hide search button, hide search bar in tablet size
.header--new[data-nav-open] {
  .m-menu__content {
    display: block;
    overflow-y: scroll;
    width: auto;

    // Safari workaround
    @supports (-webkit-touch-callout: none) {
      min-height: -webkit-fill-available;
    }

    @include media-breakpoint-only(xs) {
      width: 100%;
    }

    @include media-breakpoint-only(sm) {
      width: 360px;
    }

    @include media-breakpoint-only(md) {
      width: 384px;
    }
  }

  .header-search__toggle {
    @extend %hide-button;
  }

  // Hide search bar on tablet view
  @include media-breakpoint-down(md) {
    .search * {
      visibility: hidden;
    }
  }
}

// when search activated on mobile, switch icon from search to close
.header-search__toggle[aria-expanded='true'] {
  .fa-search {
    display: none;
  }

  .fa-close {
    display: inline;
  }
}

// show search bar, hide menu button
.header--new[data-search-open] {
  .m-menu__search {
    display: block;
    height: 60px;
  }

  .m-menu__toggle {
    @extend %hide-button;
  }
}

.m-menu__toggle {
  align-items: center;

  display: flex;
  justify-content: center;
  min-width: 4rem;

  @include media-breakpoint-up(lg) {
    display: none !important; // works when extracted via dotcomchrome
  }
}

.m-menu__toggle,
.m-menu--desktop__toggle,
.header-search__toggle {
  background-color: unset;
  border: 2px solid $brand-primary-light-contrast;
  border-radius: 4px;
  margin: auto 0;

  @media (hover: hover) {
    &:hover {
      background-color: $brand-primary-darkest;
    }
  }

  &:focus-visible {
    background-color: $brand-primary-darkest;
    outline: 2px solid $brand-secondary;
  }

  &[aria-expanded='true'] {
    @media (hover: hover) {
      &:hover {
        background-color: $brand-primary;
      }
    }

    &:focus-visible {
      background-color: $brand-primary;
    }
  }
}

.m-menu__toggle,
.m-menu--desktop__toggle {
  padding: 6px 12px 5px;

  // this button is a link when JS is disabled
  // in this case remove link focus/hover styles
  &[href]:focus,
  &[href]:hover {
    color: inherit;
    text-decoration: none;
  }

  @include media-breakpoint-only(md) {
    padding: 7px 12px 6px;
  }
}

// Search button in top nav
.header-search__toggle {
  align-items: center;

  display: flex;
  height: 30px;
  justify-content: center;
  margin-left: calc(4rem - 30px);
  padding: unset;
  width: 30px;
}

// /menu page
.m-menu--page {
  margin-bottom: 4 * $base-spacing;

  .m-menu__link {
    padding-left: 0;
  }

  h3 {
    line-height: 2;
    margin-bottom: .5 * $base-spacing;
    margin-top: $base-spacing;
  }

  hr {
    margin: 0;
  }
}
