@use 'sass:math';

// Refactored styles for homepage.
@mixin centered-10-col() {
  @include make-col-span(10);
  @include make-col-offset(1);
}

.m-homepage--10-col-sm-only {
  @include media-breakpoint-only(sm) {
    @include centered-10-col();
  }
}

.m-homepage__shortcut {
  @include icon-size(4em);
  background-color: $white;
  border: $border;
  border-radius: 8px;
  color: $gray-dark;
  padding: $base-spacing;
  text-align: center;

  @include hover-focus-active {
    background-color: $brand-primary-lightest;
    color: $gray-dark;
    text-decoration: none;
  }

  @include media-breakpoint-down(md) {
    @include icon-size(3.25em);
  }

  @include media-breakpoint-only(xs) {
    @include icon-size(2.5em);
    padding: 12px;
  }

  [class*='c-svg__icon'] {
    margin-bottom: math.div($base-spacing, 2);

    @include media-breakpoint-down(xs) {
      margin-bottom: math.div($base-spacing, 4);
    }
  }
}

.m-homepage__search-wrapper {
  @include media-breakpoint-up(md) {
    @include centered-10-col();
  }

  @include media-breakpoint-down(sm) {
    margin-top: $base-spacing * 2;
  }

  @include media-breakpoint-down(xs) {
    margin-top: 0;
  }

  .search {
    @include media-breakpoint-down(sm) {
      padding-bottom: $base-spacing;
      padding-top: $base-spacing;
    }
  }
}

.m-homepage__shortcut-text {
  font-size: $font-size-base-xxl;
  font-weight: $font-weight-medium;
  line-height: $space-27;

  @include media-breakpoint-down(md) {
    font-size: $font-size-base;
  }

  @include media-breakpoint-down(sm) {
    font-size: $font-size-base-sm;
  }

  @include media-breakpoint-only(xs) {
    line-height: $space-21;
  }
}

.m-homepage-search__go-btn {
  flex: 0 0 auto;
}

.pageview.index-template {
  // Override 2rem padding-bottom on .page-container class.
  // Putting this here until the template classes are refactored
  // to follow our new class naming style.
  padding-bottom: 0;
}

.m-homepage__important-links {
  align-items: stretch;
  display: flex;
  flex-wrap: wrap;
  margin-left: -$homepage-gutter;
  margin-right: -$homepage-gutter;
  padding-bottom: $base-spacing * 3;
}

.m-homepage__important-link {
  align-items: stretch;
  display: flex;
  flex: 0 0 25%;
  max-width: 25%;
  padding: $homepage-gutter;

  @include media-breakpoint-down(md) {
    flex-basis: 50%;
    max-width: 50%;
  }

  &:hover {
    color: $white;
    text-decoration: none;
  }
}

.m-homepage__important-link-content {
  background: $brand-primary;
  border-radius: $border-radius;
  color: $white;
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  justify-content: space-between;
  // fixes a spacing issue in IE where title causes element
  // to be wider than parent at small breakpoints
  max-width: 100%;
  padding: $base-spacing;

  &:hover {
    background: $brand-primary-darkest;
  }
}

.m-homepage__important-link-title {
  flex: 1 1 auto;
  font-weight: $font-weight-medium;
  margin-bottom: $base-spacing;

  @include media-breakpoint-up(sm) {
    font-size: $font-size-h3;
    line-height: $font-size-h3;
    margin-bottom: $base-spacing * 2;
  }
}

.m-homepage__important-link-icon {
  flex: 0 0 auto;
  font-weight: $font-weight-medium;

  svg {
    fill: $white;
  }

  .fa,
  svg {
    font-size: 1.5rem;
    height: $base-spacing * 1.5;
    width: $base-spacing * 1.5;
  }

  .fa {
    color: $white;
  }
}

.m-homepage__news-item {
  color: $black;
}

.m-homepage__fares {
  // Gaps should match Important Links on XXL
  @include media-breakpoint-only(xxl) {
    .c-multi-column__row {
      margin-left: -$homepage-gutter;
      margin-right: -$homepage-gutter;
    }

    .c-multi-column__column {
      padding: $homepage-gutter;
    }
  }

  // Override multi-column grid math (default is 1 ÷ #columns)
  @include media-breakpoint-between(sm, lg) {
    // Allow over-width wrapping of columns
    .c-multi-column__row {
      flex-wrap: wrap;
    }

    // Force two-columns per row
    .c-multi-column__column {
      @include make-col-span(6);
    }
  }
}

.m-homepage__fares-link {
  display: block;
  margin: auto;

  @include media-breakpoint-up(sm) {
    max-width: 18rem;
  }
}

.m-homepage__alerts {
  display: flex;
  flex-direction: column;
  gap: 1em;

  h2,
  h3,
  h4 {
    a {
      color: inherit;
      display: inline-flex;
      font-size: inherit;
      line-height: inherit;

      &:hover {
        text-decoration: inherit;
      }

      > .header-text {
        margin-left: .5em;
        text-decoration: underline;

        @include media-breakpoint-down(xs) {
          font-size: $font-size-base;
          margin-bottom: $base-spacing;
        }
      }
    }

    svg * {
      fill: currentColor;
    }
  }

  h2 {
    @include media-breakpoint-down(sm) {
      font-size: 1.125rem;
      line-height: 1.5rem;
    }

    @include media-breakpoint-only(md) {
      font-size: 1.31rem;
      line-height: 1.68rem;
    }

    @include media-breakpoint-up(lg) {
      font-size: 2rem;
      line-height: 2.5rem;
    }
  }

  h3 {
    @include media-breakpoint-down(sm) {
      font-size: .875rem;
      line-height: 1rem;
    }

    @include media-breakpoint-only(md) {
      font-size: 1rem;
      line-height: 1.5rem;
    }

    @include media-breakpoint-up(lg) {
      font-size: 1.5rem;
      line-height: 1.875rem;
    }
  }

  p,
  a {
    @include media-breakpoint-down(sm) {
      font-size: .875rem;
      line-height: 1.31rem;
    }

    @include media-breakpoint-only(md) {
      font-size: 1rem;
      line-height: 1.5rem;
    }

    @include media-breakpoint-up(lg) {
      font-size: 1.125rem;
      line-height: 1.68rem;
    }
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin-bottom: 1rem;
    padding-left: 0;

    li {
      display: inline-block;
    }
  }

  ul.commuter_rail li {
    background-color: $brand-commuter-rail;
  }

  ul.ferry li {
    background-color: $brand-ferry;
  }

  ul.commuter_rail,
  ul.ferry {
    li {
      border-radius: 200px;
      color: white;
      text-transform: uppercase;

      a {
        color: inherit;
        padding: calc(1rem / 4) calc(1rem / 2);
      }
    }
  }

  ul.bus {
    li {
      a,
      .c-icon__bus-pill {
        display: inline-block;
        max-height: unset;
        width: 100%;
      }
    }
  }

  ul.bus,
  ul.commuter_rail,
  ul.ferry {
    li {
      a {
        font-size: $font-size-small-caps;
        font-weight: 700;
        white-space: nowrap;
      }
    }
  }

  ul.subway svg {
    height: 1.5rem;
  }

  /* adjusts #7c878e -> #6c777e (4.59 contrast ratio) */
  .u-bg--silver-line {
    background-color: darken(saturate($brand-silver-line, .32), 6.27);
  }

  .m-homepage__alerts-main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;

    h2,
    h3,
    h4 {
      margin-top: 0;
    }
  }

  .m-homepage__alerts-high-priority {
    flex: 1 1 36.875rem;

    @include media-breakpoint-down(xs) {
      h2 {
        margin-bottom: $base-spacing;
      }
    }
  }

  .m-homepage__alerts-high-priority-by-mode {
    display: flex;

    flex: 1 1 28.125rem;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;

    .m-homepage__alerts-mode {

      flex: 1 1 max(15.625rem, calc(50% - 1em));
      position: relative;

      h3 {
        margin-bottom: .75em;
      }

      &:last-child {
        p {
          margin-bottom: 0;
        }
      }
    }

    li {
      margin-bottom: .625rem;
      margin-right: .625rem;

      a {
        text-decoration: none;
      }
    }
  }

  .m-homepage__alerts-accessibility {

    display: flex;
    flex: 1 1 20rem;
    flex-direction: column;
    position: relative;

    > h2 {
      margin-bottom: .75em;
    }
  }

  .m-homepage__alerts-stops li {
    &::after {
      content: ',\00a0';
      display: inline-block;
    }

    &:last-child::after {
      display: none;
    }
  }

  .m-homepage__alerts-footer {
    border-top: 2px solid $gray-lightest;

    display: flex;
    flex-direction: row;

    justify-content: flex-end;
    padding-top: 2rem;

    .buttons {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap-reverse;
      gap: 1rem;

      a {
        flex: 1 1 auto;
      }
    }
  }

  // Borders
  @include media-breakpoint-down(lg) {
    .m-homepage__alerts-accessibility::before {
      background: $gray-lightest;
      content: '';
      display: block;
      height: .625rem;
      left: 1rem;

      position: absolute;
      right: 1rem;
      top: -1rem;
    }
  }

  @include media-breakpoint-only(xxl) {
    .m-homepage__alerts-accessibility::before {
      background: $gray-lightest;
      bottom: 1rem;
      content: '';
      display: block;
      left: -1rem;

      position: absolute;
      top: 1rem;
      width: .625rem;
    }
  }

  @include media-breakpoint-down(xs) {
    .m-homepage__alerts-mode::after {
      background: $gray-lightest;
      bottom: .25rem;
      content: '';
      display: block;
      height: .625rem;
      left: 0;

      position: absolute;
      right: 0;
    }

    .m-homepage__alerts-mode:last-child::after {
      display: none;
    }
  }
}

.section-header {
  align-items: flex-end;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0 1rem;
  margin: 1rem 0;

  h2 {
    margin: 0;
  }

  @include media-breakpoint-down(xs) {
    margin-bottom: 1.5rem;

    h2 {
      flex: 0 0 100%;
    }

    a {
      margin-top: .75rem;
    }
  }
}

.homepage-user-guides {
  header {
    align-items: flex-end;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0 1rem;
    margin: 1rem 0;
  }

  img {
    max-width: 100%;
  }

  .user-guides {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    max-width: 100%;

    overflow-x: auto;

    padding-bottom: 1rem;

    .guide {

      color: inherit;
      display: block;
      min-width: 21.875rem;
      text-decoration: none;

      h3 {
        margin: 0;
        margin-top: .5rem;
      }

      &:hover {
        color: $brand-primary;
      }
    }
  }
}

.m-homepage__events {
  .m-homepage__header {
    margin-right: .625rem;
  }

  .m-homepage__header-link {
    margin-bottom: 1.25rem;
    margin-top: .625rem;
  }

  .list-group-item {
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
    overflow: auto;
  }

  .m-event__date-circle {
    @include media-breakpoint-down(md) {
      display: none;
    }
  }

  .m-homepage__events-container {
    margin: 0;
    padding: 0;

    @include media-breakpoint-up(sm) {
      columns: 2;
    }

    @include media-breakpoint-down(xs) {
      // hide beyond 3rd event on mobile
      :not(:nth-child(-n+3)) {
        display: none;
      }

      .m-event {
        padding: .75rem .25rem;
      }
    }

    // hide "Add" button text on mobile & sm
    .m-event__add-text {
      @include media-breakpoint-down(sm) {
        display: none;
      }
    }

    .m-event__status-message {
      margin-left: 1rem;
    }

    // make button a bit bigger??
    .m-event__add-button {
      font-size: 1.75rem;
    }
  }
}
