.c-ie-warning {

  &__header-class {
    background-color: $brand-secondary;
    cursor: pointer;
    margin-bottom: 0;
    margin-top: 0;
    padding: 24px 40px;
    @include media-breakpoint-down(xs) {
      padding: 12px 16px;
    }

    .c-expandable-block__header-caret--black {
      font-size: 1.75rem;
      font-weight: 700;
    }

    &[aria-expanded='true'] {
      cursor: auto;
      padding-bottom: 8px;
    }

    &[aria-expanded='true'] .c-expandable-block__header-caret--black {
      display: none;
    }
  }

  @keyframes slide-and-hide {
    0% {
      transform: translateY(0);
    }
    100% {
      display: none;
      transform: translateY(130%);
    }
  }

  .c-ie-warning-content.c-warning-hidden {
    animation: slide-and-hide .3s ease-out 0s 1 forwards;
  }

  .c-boxed {
    border-radius: 8px;
    box-shadow: 0 3px 6px 0 $hp-hero-gradient-start;
    overflow: hidden;
  }

  .c-ie-warning-content {
    bottom: 24px;
    position: fixed;
    width: 100%;
    z-index: $z-index-leaflet-level-8;
  }

  .c-expandable-block__panel {
    align-items: center;
    background-color: $brand-secondary;
    border: 0;
    display: flex;
    justify-content: space-between;
    padding: 8px 40px 24px;

    @include media-breakpoint-down(xs) {
      flex-flow: column wrap;
      padding-left: 16px;
      padding-right: 16px;
    }
  }

  p {
    max-width: 800px;
    @include media-breakpoint-down(xs) {
      width: 100%;
    }
  }

  button {
    color: $brand-primary;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    margin: auto 0 auto 40px;
    text-align: center;
    width: 248px;
    @include media-breakpoint-down(xs) {
      width: 100%;
    }
  }
}
