// This component is for use cases involving displaying a link inside of another
// link. This can happen when displaying an hyperlinked icon inside of a larger
// hyperlink area. A bit of a workaround is needed because <a></a> inside of
// <a></a> isn't valid HTML.. h/t https://stackoverflow.com/a/46707009 for this.

// Expected markup example:
//   <div class="c-link-block">
//     <a class="c-link-block__outer-link" href="#overlay-link"></a>
//     <div class="c-link-block__inner">
//       This entire box is a hyperlink. (Kind of)<br><br><br><br>
//       <a class="c-link-block__inner-link" href="#inner-link">I'm a W3C compliant hyperlink inside that box</a>
//     </div>
//   </div>

.c-link-block {
  position: relative;

  &__outer-link {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }

  &__inner {
    pointer-events: none;
    position: relative;
    z-index: 1;
  }

  &__inner-link {
    align-items: center;
    border: 1px solid currentcolor;
    border-radius: 4.5px;
    display: inline-flex;
    flex-basis: content;
    font-size: 1rem;
    font-weight: 500;
    height: 1.5rem;
    line-height: 1.5rem;
    padding-left: .625rem;
    padding-right: 20px;
    pointer-events: all;
    text-align: center;
    white-space: nowrap;

    &:hover {
      text-decoration: none;
    }

    svg {
      display: block;
      height: .8em;
      margin-left: .4375rem;
      margin-top: .1875rem;
      padding-right: .3125rem;
    }
  }

  &__view-schedule {
    border-bottom: .063rem solid;
    bottom: .125rem;
    display: inline;
    font-size: 1rem;
    font-weight: 500;
    margin-left: .75rem;
    position: relative;
    white-space: nowrap;
    @include media-breakpoint-down(xs) {
      display: table-cell;
      margin-left: 0;
    }
  }
}
