.m-sales-locations {
  .background-gray {
    background: $gray-lightest;
    margin-top: $space-16;
    padding-top: $space-16;
  }
  .limited-width {
    max-width: 37.5rem;
  }
  .error-message {
    color: $error-text;
    padding: .4375rem;
  }
  .feedback-section {
    margin-bottom: $base-spacing * 2;
    margin-top: $base-spacing * 5;
  }
  .psl-types-buttons {
    display: flex;
    flex-wrap: wrap;
  }
  .psl-type-button {
    align-items: center;
    background: $white;
    border: $border-width * 2 solid $gray-lightest;
    border-radius: $border-radius;
    color: $brand-primary;

    display: flex;
    font-weight: 500;
    height: 2.5rem;
    margin: $base-spacing * .5 $base-spacing * .5 0 0;
    padding: 0 $base-spacing * .75;
    white-space: nowrap;
    @include media-breakpoint-down(sm) {
      height: 2rem;
    }

    &:hover,
    &:focus {
      background: $brand-primary-lightest-contrast;
      border-color: $brand-primary-lightest-contrast;
      text-decoration: none;
    }

    &.selected {
      background: $brand-primary;
      border-color: $brand-primary;
      color: $white;
    }
  }
}

.c-sales-locations__cards {
  display: flex;
  // IE above, other browsers below
  display: grid;
  flex-flow: row wrap;
  grid-gap: calc(#{$grid-gutter-width} / 2);
  grid-template-columns: repeat(auto-fill, [col-start] minmax(240px, 1fr) [col-end]);
  margin-bottom: $base-spacing;
  margin-top: $base-spacing * 2;
}

.c-sales-locations__card {
  background-color: $white;
  border: 1px solid $gray-lightest;
  border-radius: .25rem;
  padding: $base-spacing;

  @include media-breakpoint-up(sm) {
    flex: 1 1 30%;
  }

  // IE only
  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    margin: calc(#{$base-spacing} / 2);
  }

  &-flex-row {
    display: flex;
    justify-content: space-between;
    min-height: auto;

    @include media-breakpoint-up(md) {
      min-height: 5.5rem;
    }
  }

  &-place {
    margin-top: 0;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &-distance {
    font-size: $font-size-base-sm;
    margin-left: $base-spacing;
    margin-top: .5em;
    text-align: right;
    white-space: nowrap;

    @include media-breakpoint-down(xs) {
      margin-top: .25em;
    }
  }

  &-location {
    font-size: $font-size-base-xxl;
    line-height: 1.6rem;
    margin-top: $base-spacing-sm;
    @include media-breakpoint-down(xs) {
      font-size: $font-size-base-sm;
    }
  }
  &-type {
    margin-top: $font-size-base-xs;
    @include media-breakpoint-down(xs) {
      margin-top: .7rem;
    }
  }
  &-directions {
    font-size: $font-size-base-xxl;
    font-weight: $font-weight-medium;
    margin-top: $base-spacing;
    @include media-breakpoint-down(xs) {
      font-size: $font-size-base-sm;
      margin-top: $font-size-base-xs;
    }

    [data-toggle='dropdown'] {
      display: flex;
      text-decoration: none;
      &:hover {
        color: $brand-primary;
        text-decoration: none;
      }

      // do not show Bootstrap's default caret:
      &::after {
        display: none;
      }
    }

    .dropdown-item:hover {
      background-color: $brand-primary-lightest-contrast;
    }
  }
}

.m-sales-locations__caret {
  @include caret($color: $brand-primary);

  @include fa-icon-solid($fa-var-angle-down);
  margin-left: .3rem;
}
