// # Map module

// Used for rendering a static/dynamic Map, depending on route mode.

// ## Flags

// * `.is-map-dynamic`: set on the `.map` <div>, this is present when the
//   dynamic map has been created.

// ## Sample HTML
// ```
// <div class="map">
//   <script class="map-dynamic-data">{...map JSON..}</script>
//   <img class="map-static" src="...map image..."/>
// </div>
// ```

.map {
  @media print {
    height: auto;
    page-break-inside: avoid; // prevent maps from being split between pages when printed
  }
}

.is-map-dynamic .map-static {
  // hide the static map if we built a dynamic-map
  display: none;

  // unless we're printing
  @media print {
    display: block;
    height: 100%;
  }
}

.map-dynamic {
  @include img-fluid();
  height: 100%;

  @media print {
    display: none;

    .gmnoprint {
      display: none;
    }
  }
}

.map-static,
.map-print {
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  width: 100%;

  @media print {
    height: 100%;
  }
}

.map-print {
  display: none;

  @media print {
    display: block;
  }
}

// used when we can't render the map as a background-image
.map-static-img {
  @include img-fluid();
  height: auto;
  margin: auto;
  max-height: 100%;
  width: auto;
}
