.c-photo-gallery__main-container {
  margin: auto;
  width: 100%;
}

.c-photo-gallery__main-window {
  background: $gray-stripe-pattern;
  height: 0;
  padding-bottom: 66.667%; // 3x2 aspect ratio (most camera photos)
  position: relative;
  width: 100%;
}

.c-photo-gallery__main-image {
  height: 100%;
  left: 0;
  object-fit: contain;
  position: absolute;
  top: 0;
  width: 100%;
}

.c-photo-gallery__main-title {
  border-bottom: $border;
  font-size: $font-size-sm;
  line-height: 1.3;
  margin-bottom: $space-12;
  margin-top: $space-12;
  padding-bottom: $space-12;
}

.c-photo-gallery__thumbnails {
  @include media-breakpoint-down(sm) {
    display: none;
  }

  // Remove inline, vertical space between rows of thumbnails
  .js & {
    line-height: 0;
  }

  &.c-thumbnail-count--0,
  &.c-thumbnail-total--1 {
    display: none;

    + .c-photo-gallery__nav-btns {
      display: none;
    }
  }

  a {
    display: inline-block;
    height: 0;
    margin: .25%;
    padding-bottom: 20%;
    position: relative;
    width: 19.5%;
  }
}

.c-photo-gallery__thumbnail {
  height: 100%;
  left: 0;
  object-fit: cover;
  pointer-events: none;
  position: absolute;
  top: 0;
  width: 100%;
}

.c-photo-gallery__nav-btns {
  height: $base-spacing-xl;
  margin-top: $base-spacing-sm;
  position: relative;

  a {
    border: $border;
    padding: $base-spacing-sm;
    position: absolute;
    text-transform: uppercase;

    &:last-child {
      right: 0;
    }
  }
}
