// Featured project elixir template

.featured-project-title {
  @apply h3;

  @include media-breakpoint-up(sm) {
    margin-top: 0;
  }
}

.featured-project-updated-on {
  color: $gray;
  margin-bottom: $base-spacing;
}

.featured-project-image {
  height: 200px;
  object-fit: cover;
  width: 100%;
}

.project-image {
  margin: 0 auto;
  width: 100%;
}

.project-updated-on {
  color: $gray-light;
  font-weight: bold;
}

.project-photos {
  .photo-item {
    margin-bottom: $base-spacing;
  }

  .img-thumbnail {
    border: 0;
  }
}

.project-downloads {
  @include media-breakpoint-up(md) {
    .content-file-grid-row {
      width: 50%;
    }
  }
}

.contact-element-phone,
.contact-element-email {
  a {
    white-space: nowrap;
  }
}

.m-project-updates__teaser {
  margin-bottom: $base-spacing * 2;
}

.m-project-updates__title {
  margin-top: 0;
}

.alerts-section {
  summary {
    align-items: center;
    color: $brand-primary;

    cursor: pointer;

    display: inline-flex;
    list-style: none;
    padding: .5em 0;
    &::marker,
    &::-webkit-details-marker {
      display: none;
    }

    &::after {
      @extend %fa-icon;
      @extend .fa-solid;

      content: fa-content($fa-var-angle-down);
      margin-left: .5em;
    }
  }

  details[open] {
    summary::after {
      content: fa-content($fa-var-angle-up);
    }
  }

  details {
    border-bottom: 2px solid $gray-lightest;
    margin-bottom: 1em;
  }

  .c-service-changes-container {
    align-items: center;
    color: black;
    display: flex;

    margin-right: .75rem;
  }

  .c-service-changes-content {
    background: $gray-lightest;
    border-radius: 4px;
    font-weight: bold;
    margin-right: 1rem;
    padding: .25em 1em;
    text-align: center;
  }
}
