.route-hours {
  p {
    margin-bottom: 0;
  }

  .col-xs-12 {
    margin-bottom: $base-spacing;
  }
}

.hours-directions {
  margin-bottom: 0;
  text-transform: uppercase;
}

.commuter-rail-zone {
  background: $gray-lightest;
  border-radius: $border-radius;
  color: $gray-dark;
  display: inline-block;
  font-size: $font-size-sm;
  padding: calc(#{$base-spacing} / 4);
}
