@include media-breakpoint-down(sm) {
  .m-schedule-page {
    display: flex;
    flex-direction: column;
  }
  .m-schedule-page__schedule-finder-or-note {
    order: 1;
  }
  .m-schedule-page__main-content {
    min-width: auto;
    order: 2;
  }
  .m-schedule-page__side-content {
    order: 3;
  }
}

.m-schedule-page__main-content__min-size {
  // only for desktop:
  @include media-breakpoint-up(md) {
    min-height: 400px;
    min-width: 400px;
  }
}

.m-schedule-page__sidebar-pdfs {
  display: flex;
  margin-bottom: calc(#{$base-spacing} / 2);

  .c-svg__icon-pdf {
    fill: $brand-primary;
    flex-shrink: 0;
    height: $base-spacing * 1.5;
    margin-right: calc(#{$base-spacing} / 2);
    width: $base-spacing * 1.5;
  }
}

.m-schedule-page__sidebar-hours {
  h3:first-child {
    margin-top: 0;
  }
}

.m-schedule__map {
  height: $base-spacing * 25;

  .leaflet-popup-content-wrapper,
  .leaflet-popup-tip {
    background-color: $tooltip-bg;
    border: 0;
    color: $tooltip-color;
  }

  // style similarly to the Bootstrap tooltip
  .leaflet-popup-content {
    max-width: $tooltip-width;
    padding: calc(#{$base-spacing} / 4) $base-spacing * 1.5 calc(#{$base-spacing} / 4) calc(#{$base-spacing} / 2);

    @include media-breakpoint-down(xs) {
      max-width: 70vw;
    }
  }

  .leaflet-popup-close-button {
    right: calc(#{$base-spacing} / 4);
    top: calc(#{$base-spacing} / 4);
  }
}

.m-schedule-page__fare {
  display: flex;
  justify-content: space-between;
}

.m-schedule-page__link {
  margin-top: calc(#{$base-spacing} / 2);
}

.c-unordered-list,
.m-schedule-page__sidebar-list {
  padding-left: $base-spacing * 1.5;
}

.m-schedule-page__schedule-note-icon {
  height: 1em;
  margin-right: calc(#{$base-spacing} / 2);
  position: relative;
  top: .125em;
  width: 1em;
}

.m-schedule-page__schedule-note-title {
  color: $brand-primary;
  display: flex;
  margin-top: 0;
}

.m-schedule-page__service-note-time:last-child {
  margin-bottom: 0;
}

.m-schedule-page__schedule-notes {
  background-color: $brand-primary-lightest-contrast;
  padding: $base-spacing * 2 $base-spacing;
}

.m-schedule-page__schedule-notes--modal {
  margin-top: $base-spacing;
  padding: $base-spacing;

  .m-schedule-page__schedule-note-title {
    display: none;

    + .m-schedule-page__schedule-note .m-schedule-page__service {
      margin-top: 0;
    }
  }
}

.m-schedule-page__schedule-notes--desktop {
  margin-top: $base-spacing * 2;

  @include media-breakpoint-down(sm) {
    margin-top: 0;
  }
}

.m-schedule-page__schedule-note--alternate {
  margin-top: $base-spacing;
}

.m-schedule-page__service,
.m-schedule-page__service-subheading {
  font-weight: bold;
}

.m-schedule-page__note-footer {
  margin-top: $space-16;
}

.schedule-finder {
  background-color: $brand-primary-lightest-contrast;
  padding: $base-spacing;

  @include media-breakpoint-down(sm) {
    margin-bottom: $base-spacing;
  }

  .c-modal__trigger-wrapper {
    display: inline; // otherwise clicking next to the button fires the event
  }

  .m-schedule-line__side-content & {
    @include media-breakpoint-down(sm) {
      display: none;
    }
  }

  .schedule-finder__heading {
    @apply h3;
    color: $brand-primary;
    margin-top: 0;
  }
}

.schedule-finder--modal {
  // Compensate for the margins and padding of the modal content area to pull
  // the Schedule Finder background right up against the edges
  margin: -$base-spacing * 1.5;
  margin-bottom: 0;
  margin-top: -$base-spacing * 1.75;
  padding: $base-spacing $base-spacing * 2;

  .schedule-finder__inputs {
    display: flex;
    justify-content: space-between;

    label {
      flex: unset;
      flex-basis: calc(50% - #{$base-spacing * .25});
    }

    @include media-breakpoint-down(sm) {
      display: initial;
    }
  }

  .schedule-finder__prompt,
  .schedule-finder__submit {
    display: none;
  }
}

.schedule-finder-vertical {
  padding-bottom: 1.5rem;
  border-bottom: 2px solid $gray-bordered-background;

  .schedule-finder__heading {
    margin-bottom: .5rem;
    margin-top: .375rem;
    .c-svg__icon {
      display: none;
    }
  }

  .schedule-finder__inputs {
    display: flex;
    label:first-child > div {
      margin-right: 1rem;
    }
  }

  .schedule-finder__submit {
    margin-top: calc(#{$base-spacing} / 2);
  }
}

@include media-breakpoint-down(sm) {
  .m-schedule-line__main-content.ferry {
    border-bottom: 2px solid $gray-bordered-background;
    margin: 0 0 1rem;
  }
}

@include media-breakpoint-down(xs) {
  .m-schedule-page__main-content {
    padding: unset;
  }

  .schedule-finder-vertical {
    padding: 0 1rem 1.75rem;
  }

  .schedule-map-container {
    padding: 0 1rem 1rem;
  }

  .m-schedule-line__main-content {
    margin: 0 1rem 1rem;
  }

  .schedule-finder__inputs {
    flex-direction: column;
    label:first-child > div {
      margin-right: 0;
    }
  }

  .schedule-finder__submit {
    margin-top: 0;
    .btn {
      margin-top: .1875rem;
      width: 100%;
    }
  }
}

.schedule-finder__origin-list {
  @include media-breakpoint-up(sm) {
    max-height: 40vh;
    overflow: auto;
  }
}

.schedule-finder__origin-list-item {
  border-bottom: 1px solid $gray-lightest;
  cursor: pointer;
  font-weight: bold;
  padding: calc(#{$base-spacing} / 4) $base-spacing * 2.25;
  position: relative;

  &.active {
    background-color: $brand-primary;
    color: $white;

    &:focus,
    &:hover {
      color: $black;
    }
  }

  &.disabled {
    color: $gray-light;
  }

  &:last-child {
    border-bottom: 0;
  }

  &:focus,
  &:hover {
    background-color: $brand-primary-lightest-contrast;

    .schedule-finder__check {
      fill: $black;
    }
  }
}

.schedule-finder__origin-text {
  margin-top: 0;
  padding: $base-spacing $base-spacing 0;
}

.schedule-finder__origin-search-container {
  margin: 0 $base-spacing;
}

.schedule-finder__origin-modal {
  &.c-modal {
    padding: 0;

    @include media-breakpoint-up(md) {
      left: 50%;
      transform: translate(-50%, -50%);
      width: 500px;
    }
  }
}

.schedule-finder__zone {
  float: right;
  font-weight: normal;
}

.schedule-finder__check {
  display: inline-block;
  fill: $white;
  height: $base-spacing * .75;
  width: $base-spacing * .75;
}

.schedule-finder__origin-list-leftpad {
  left: 0;
  line-height: $base-spacing * 2;
  position: absolute;
  text-align: center;
  top: 0;
  width: $base-spacing * 2.75;
}

.schedule-finder__label {
  display: block;
  flex: 1 1;
  font-weight: bold;
  margin: $base-spacing 0 0;

  * {
    font-weight: normal;
  }

  .c-select-custom__container {
    margin-top: calc(#{$base-spacing} / 4);
  }
}

.schedule-finder__first-last-trip {
  border-top: 3px solid $gray-lightest;
  display: flex;
  // IE11 doesn't support space-evenly
  justify-content: space-around;
  justify-content: space-evenly;
  padding: calc(#{$base-spacing} / 2);
}

.schedule-finder__service-selector label {
  display: unset; // resets to block
}

.schedule-table {
  width: 100%;

  &__header {
    background: $brand-primary-lightest-contrast;
    border: $border;
  }
}

.schedule-table__row {
  border: $border;

  &--expanded {
    background: $brand-primary;
    border: 2px solid $brand-primary;
    color: $white;
  }

  &:nth-child(even) {
    background: $gray-bordered-background;
  }

  &:nth-child(odd) {
    background: $white;
  }
}

.schedule-table__cell {
  padding: calc(#{$base-spacing} / 2);
  vertical-align: top;

  &:last-child:not(:first-child) {
    text-align: right;
  }

  &--expanded {
    border: 2px solid $brand-primary;
  }

  &--headsign {
    .c-svg__icon {
      margin-right: calc(#{$base-spacing} / 2);
    }
  }

  &--right-adjusted {
    text-align: right;
    vertical-align: top;
    white-space: pre;
  }

  &--time {
    width: 12ch;

    + .u-tabular-nums {
      width: 8ch;
    }
  }

  &--tiny {
    width: 1ch;
  }

  .pull-left {
    float: left;
  }
}

.trip-details-table {
  width: 100%;

  .schedule-table__cell {
    padding: calc(#{$base-spacing} / 4) 0;
  }

  tbody .schedule-table__cell {
    border-top: $border;

    &:first-child {
      display: grid;
      grid-auto-flow: column;
      justify-content: start;
    }
  }

  th[scope='row'] {
    @include icon-size-inline($base-spacing * .85, .05em);
    font-weight: normal;
  }

  [class*='c-svg__icon'] path[fill] {
    fill: currentColor;
  }

  .c-svg__icon-alerts-triangle {
    margin-right: $base-spacing * .35;
  }

  &__title {
    margin-right: $base-spacing;
  }

  &__link {
    margin-left: $base-spacing;
  }

  &__summary .schedule-table__cell {
    padding: 0;
  }

  .c-crowding-pill {
    &__label {
      vertical-align: baseline;
    }
    .c-icon__crowding {
      vertical-align: baseline;
    }
  }
}

.schedule-table__times {
  display: inline-block;

  &--delayed {
    display: inline-block;
    margin-right: calc(#{$base-spacing} / 2);
    text-decoration: line-through;

    &-future_stop {
      @include media-breakpoint-only(xs) {
        margin-right: 0;
      }
    }

    + .schedule-table__times {
      font-weight: bold;
    }
  }
}

.schedule-table__track {
  text-transform: capitalize;
}

.schedule-table__route-pill {
  margin-right: calc(#{$base-spacing} / 2);
}

.schedule-table__upcoming-departures-header {
  align-items: baseline;
  display: flex;
  justify-content: space-between;
}

.schedule-table__live-clock {
  color: $brand-primary;
  fill: $brand-primary;

  svg {
    height: 9px;
    width: 9px;
  }
}

// Tighten spacing on mobile view
@include media-breakpoint-down(xs) {
  .schedule-finder__first-last-trip,
  .schedule-table {
    margin-left: -$base-spacing;
    margin-right: -$base-spacing;
    width: calc(100% + 2 * #{$base-spacing});
  }

  .schedule-finder__first-last-trip {
    justify-content: space-between;
  }

  .schedule-table__cell {
    &:not(:last-child) {
      padding-right: 0;
    }
  }

  .schedule-table__cell--time {
    width: initial;

    + .u-tabular-nums {
      width: initial;
    }
  }

  .schedule-table__cell--headsign {
    display: flex;

    .c-svg__icon {
      flex: none;
    }
  }
}
