@import 'variables';
@import 'table';
@import 'buttons';
@import 'vendor/sass-svg-uri/svg-uri';

.schedule__route-name {
  display: inline-block;
  margin-bottom: calc(#{$base-spacing} / 2);
  margin-top: 1.75rem;
  text-transform: uppercase;
}

.schedule-date-picker {
  table-layout: fixed;
  text-align: center;

  thead {
    td,
    th {
      border: $border;
      font-weight: normal;
      text-align: center;

      @include media-breakpoint-down(xs) {
        padding: 0;
      }
    }

    .month {
      background-color: $brand-primary-darkest;
      border-color: $brand-primary-darkest;
      color: $white;
      font-weight: bold;
      padding: $base-spacing-sm;

      > * {
        padding-left: $base-spacing;
        padding-right: $base-spacing;
      }

      a {
        color: $white;

        /* stylelint-disable-next-line max-nesting-depth */
        @include hover-focus-active {
          text-decoration: none;
        }
      }
    }
  }

  tbody {
    border-bottom: 0;

    td {
      border: $border;
      padding: 0;

      a {
        @extend %button-focus-color;
        display: block;
        padding: .75rem;
        text-decoration: none;
      }
    }
  }
}

.schedule-weekend {
  background-color: $weekend-color;
}

.schedule-holiday {
  background-color: $holiday-color;
}

.schedule-selected,
.schedule-today {
  @include button-selected-color;
}

.schedule-next-month {
  a {
    color: $gray-light;
  }
}

.holiday-list {
  list-style: none;
  padding-left: 0;

  li {
    margin-top: .75rem;
  }
}

.holiday-list-empty {
  font-style: italic;
}

.graph-legend {
  display: inline-block;
  height: 1rem;
  margin-right: .5rem;
  width: 1rem;

  &.holiday {
    background-color: $holiday-color;
  }

  &.weekend {
    background-color: $weekend-color;
  }

  &.today {
    background-color: $today-color;
  }
}

.schedule-date-cancel {
  margin-bottom: $base-spacing;

  @include media-breakpoint-down(xs) {
    margin-top: $base-spacing-sm;
  }
}

.mobile-legend > span {
  margin-right: $space-12;
}

////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////
///   GENERAL PAGE STYLES
////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////

.calendar-covered {
  overflow: hidden; // fix for safari component overflowing container issue
  position: relative;
}

.calendar-cover {
  background-color: $white;
  height: 100%;
  opacity: .7;
  position: absolute;
  width: 100%;
  z-index: $z-index-calendar-cover;
}

.schedule-empty {
  font-weight: bold;
  text-align: center;
}

.schedules-pdf-link {
  padding-bottom: $base-spacing;
}

.line-map-container {
  margin-bottom: $base-spacing;
}

////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////
///// DATE AND DIRECTION FILTER BUTTONS
////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////

.trip-filters {
  // We use flexbox to make the filter buttons display as same
  // height when the headsign is long and text is forced to
  // wrap. Button heights will simply be uneven equal on browsers
  // that do not support flexbox (>1% of our visitors).

  @include media-breakpoint-up(sm) {
    align-items: stretch;
    display: flex;
  }
}

.date-filter,
.direction-filter {
  // fixes issue on iOS9, see: http://stackoverflow.com/questions/7892863/jquery-click-not-working-with-ipad
  cursor: pointer;
  display: flex;
  flex-direction: column;

  @include media-breakpoint-down(xs) {
    margin-bottom: $base-spacing;

    &:last-child {
      margin-bottom: 0;
    }
  }

  // this div is created by modal.js, but is not necessary in this case
  .select-cover {
    display: none;
  }
}

.filter-button {
  @extend %button-primary-outline;
  @include clearfix();
  @include icon-size(2em);
  border-radius: $border-radius;
  display: block;
  /* stylelint-disable-next-line property-no-vendor-prefix */
  -ms-flex: 1 1 0%; // specify all 3 to work around IE bug
  flex: 1;
  min-height: 4rem;
  overflow: hidden;
  padding: $base-spacing-sm;
  position: relative;
  text-align: left;
  white-space: normal;
  width: 100%;

  &:focus {
    outline: none;
  }
}

.filter-icon,
.filter-text {
  @include make-col();
  padding-left: 0;
  padding-right: 0;
}

.filter-text {
  max-width: 80%;
}

.filter-icon {
  bottom: 0;
  height: 2em;
  margin: auto;
  padding-right: $base-spacing-sm;
  position: absolute;
  right: 0;
  top: 0;
}

.inner-label {
  color: $body-color;
  font-weight: bold;
}

////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////
///// COMMUTER RAIL TIMETABLE
////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////

.schedule__timetable-tab {
  padding-top: $base-spacing;

  > p:first-of-type {
    padding-top: $base-spacing;
  }
}

.route-row {
  > .route-row {
    // branch
    padding-left: 1rem;
  }
}

.route-green-bubble {
  display: inline-block;
  width: $icon-size * 1.5;
}

.route-holiday-info {
  li {
    margin-left: -$space-18;
  }
}

.route-holiday-container {
  margin-top: $base-spacing;
}

.name-with-icon {
  &:hover > * {
    text-decoration: underline;
  }

  svg {
    margin-left: $space-6;
  }
}

.tooltip-icon {
  color: $brand-primary;
}

.schedule-tooltip {
  font-size: 1rem;
  max-width: 15rem;
  padding: .5rem;
  padding-bottom: 0;
}

.schedule__description {
  display: inline-block;
  margin-bottom: $base-spacing * 1.5;
  margin-top: 0;
}

.schedule__header {
  color: $white;

  &.u-bg--commuter-rail {
    .info-tab {
      @include media-breakpoint-up(sm) {
        display: none;
      }
    }
  }
}

.schedule__header-container {
  @include make-container-max-widths();
  margin-left: auto;
  margin-right: auto;

  @include media-breakpoint-down(sm) {
    padding-left: calc(#{$grid-gutter-width} / 2);
    padding-right: calc(#{$grid-gutter-width} / 2);
  }
}

.schedule__header-tabs {
  .header-tab {
    // override color set by .u-bg class
    color: $black;

    &:hover {
      color: $black;
    }
  }
}

.bus-route-sign {
  background-color: $black;
  border-radius: $base-spacing * 2;
  color: $white;
  display: inline-block;
  font-weight: bold;
  min-width: $base-spacing * 4;
  padding: calc(#{$base-spacing} / 4) $base-spacing;
  text-align: center;

  @include media-breakpoint-down(xs) {
    min-width: $base-spacing * 3;
  }

  @include media-breakpoint-up(lg) {
    min-width: $base-spacing * 5;
  }
}
