// This first set of styles are legacy styles used only
// by the fallback search used if javascript is not enabled
//
.searchview {
  .container {
    @include media-breakpoint-down(sm) {
      padding: 0;
    }
  }
}

.icon-search {
  height: 30px;
  width: 30px;
}

.search-no-js input {
  border: $border;
  border-radius: $border-radius;
  margin-top: $base-spacing * .75;

  &:focus {
    box-shadow: none;
    outline: none;
  }
}

.search-nav-link {
  color: $gray-dark;
  cursor: pointer;
  font-weight: 400;
  user-select: none;

  &::before {
    border-bottom-width: 0;
  }
}

.search-label {
  @include media-breakpoint-down(md) {
    display: none;
  }

  label {
    cursor: pointer;
    margin-bottom: 0;
  }
}

.searchbar-input-container {
  border-bottom: $border-width * 4 solid $brand-secondary;
  position: relative;

  form {
    margin-top: $base-spacing;
  }

  input {
    background-color: transparent;
    border: 0;
    color: $gray-dark;
    font-size: $font-size-h1;
    width: 90%;

    &:focus {
      border: 0;
      box-shadow: none;
      outline: none;
    }
  }
}

.search-page {
  @include media-breakpoint-down(sm) {
    margin-top: 0;
  }
}

.search-button {
  background-color: $brand-primary;
  border: 0;
  border-radius: $border-radius;

  g {
    fill: $white;
  }
}

.search-button-sm svg {
  width: $base-spacing;
}

.search-button-xl {
  bottom: 7px;
  height: 48px;
  position: absolute;
  right: 0;
  width: 48px;
}

.searchbar-heading {
  border: 0;
  font-size: $font-size-h6;
  margin: $base-spacing 0;
}

.search-filter-heading {
  font-size: $font-size-h6;

  @include media-breakpoint-down(sm) {
    border-bottom: $border;
    color: $brand-primary;
    font-size: $font-size-h5;
    margin: 0;
    padding: $base-spacing;
  }

  span {
    float: right;
    font-size: $font-size-h3;
    pointer-events: none;
  }

  .search-filter-collapse,
  .search-filter-expand {
    display: none;
  }

  &.open {
    background-color: $brand-primary-darkest;
    border-bottom: 0;
    color: $white;

    .search-filter-collapse {
      @include media-breakpoint-down(sm) {
        display: inline;
      }
    }
  }

  &.closed {
    .search-filter-expand {
      @include media-breakpoint-down(sm) {
        display: inline;
      }
    }
  }
}

.search-results-facets {
  &.col-md-3 {
    @include media-breakpoint-down(sm) {
      padding: 0;
    }
  }
}

.search-results-facet {
  ul {
    border: $border;
    list-style-type: none;
    margin: 0 0 $base-spacing;
    padding: 0;

    @include media-breakpoint-down(sm) {
      border: 0;
      border-bottom: $border;
      margin: 0;
    }
  }

  li {
    border-top: $border;
    font-size: $font-size-h5;
    font-weight: normal;
    padding: $space-6;

    &:first-child {
      border: 0;

      @include media-breakpoint-down(sm) {
        border-top: $border;
      }
    }
  }
}

.search-results-documents {
  @include media-breakpoint-down(sm) {
    margin: 0 ($base-spacing * -1);
  }

  ul {
    border-bottom: $border;
    border-top: $border;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  li {
    border-top: $border;
    font-size: $font-size-h5;
    font-weight: normal;
    padding: $base-spacing 0;

    @include media-breakpoint-down(sm) {
      margin: 0 $base-spacing;
    }

    &:first-child {
      border-top: 0;
    }
  }

  .fa {
    width: 1.5rem;
  }
}

.facet-label {
  margin: 0 $base-spacing-sm;

  span {
    margin-left: $base-spacing-sm;
  }
}

.search-results-header {
  background-color: $gray-lightest;
  background-image: $gray-stripe-pattern, $gray-stripe-pattern, $gray-stripe-pattern;
  background-position: 0 0, 6px 6px, 12px 12px, 18px 18px;
  background-repeat: repeat no-repeat;
  padding: $space-24 0;

  @include media-breakpoint-down(sm) {
    .col-md-12 {
      padding: 0;
    }
  }
}

.search-summary {
  font-size: $font-size-h5;
  font-weight: normal;

  @include media-breakpoint-down(sm) {
    margin: $base-spacing;
    padding: 0;
  }
}

.search-terms {
  font-style: italic;
}

.search-archive {
  background-color: $brand-primary;
  color: $white;
  display: block;
  margin-top: $base-spacing;
  padding: $space-6;
  text-align: center;

  @include media-breakpoint-down(sm) {
    margin: $base-spacing ($base-spacing * -1) 0;
    padding: $base-spacing-sm;
  }

  &:hover {
    color: $white;
    text-decoration: none;
  }
}

.search-pagination {
  @include media-breakpoint-down(sm) {
    margin: 0 ($base-spacing * -1);
  }
}

.solr-highlight-match {
  background-color: $brand-secondary-light;

  &::after {
    content: ' ';
  }
}
// End of lagacy search styles

.c-search__filter-label {
  margin-top: 0;

  @include media-breakpoint-down(sm) {
    padding-left: $base-spacing;
  }
}

.c-search__filter-button {
  display: none;
  margin-bottom: $base-spacing;
  margin-top: $base-spacing;
  width: 100%;

  @include media-breakpoint-down(sm) {
    display: block;
  }
}

.c-search__results-header {
  padding-top: $base-spacing * 2;

  @include media-breakpoint-up(md) {
    padding-bottom: $base-spacing * 5;
  }
}

.c-search__results-title {
  margin-top: 0;
}

.c-search__results-input {
  border-radius: $border-radius;
  border-width: 0;
  flex: 1 1 auto;
  font-size: $font-size-h4;
  font-weight: bold;
  padding: calc(#{$base-spacing} / 2);
  width: 100%;

  &::-ms-clear {
    display: none;
  }
}

.c-search__facets-container {
  background-color: $white;
  display: block;

  @include media-breakpoint-down(sm) {
    bottom: 0;
    display: none;
    height: 100%;
    left: 0;
    overflow-y: scroll;
    padding: $base-spacing 0 0;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 1;
  }
}

.c-search__open-modal {
  overflow-y: hidden;
}

.c-search__close-modal-button {
  color: $brand-primary;
  cursor: pointer;
  float: right;
  padding-right: $base-spacing;
  text-align: right;

  @include media-breakpoint-up(md) {
    display: none;
  }
}

.c-search__facets-container--open,
.c-search__close-modal-button--open {
  @include media-breakpoint-down(sm) {
    display: block;
  }
}

.c-search-results__hits {
  padding-bottom: $base-spacing;
}

.c-search-results__show-more {
  color: $brand-primary;
  cursor: pointer;
  padding: calc(#{$base-spacing} / 2);
  position: relative;
  text-align: center;

  &:hover {
    text-decoration: underline;
  }
}

.c-search-result__link {
  cursor: pointer;
  flex: 1 1 auto;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.c-search-result__link.u-no-underline {
  text-decoration: none;
}

.c-search-result__hit {
  @include icon-size-inline(1em);

  border: 1px solid $gray-bordered-background;
  border-top: 0;
  display: flex;
  justify-content: space-between;
  padding: $space-4 $space-8;
}

.c-search-result__hit--vertical {
  display: flex;
  justify-content: space-between;
  width: 100%;

  @include media-breakpoint-down(sm) {
    flex-direction: column;
  }
}

.c-search-result__feature-icons {
  flex: 0 0 auto;
}

.c-search-result__header {
  background-color: $gray-bordered-background;
  padding: $space-4 $space-8;
}

.c-search-result__loading-indicator {
  display: none;
}

.c-search-result__header--location {
  color: $brand-primary;
  cursor: pointer;
  float: right;
}

.c-search-result__footer {
  padding: $space-4 $space-8;
}

.c-search-result__content-icon {
  color: $brand-primary;
  margin-right: $space-4;
}

.c-search-result__hit-name {
  color: $black;

  em {
    font-style: normal;
    font-weight: bold;
  }
}

.c-search-result__event-date {
  color: $gray-lighter;
}

.c-search__error {
  background: $form-error-message;
  border-radius: $border-radius;
  color: $error-text;
  display: none;
  padding: calc(#{$base-spacing} / 2);
}

.c-search-result__long-name {
  font-size: .875rem;
}
