.c-select-custom {
  appearance: none;
  background-color: $white;
  border: solid $border-width $brand-primary-dark;
  border-radius: $border-radius;
  overflow: hidden;
  padding-right: $base-spacing * 2;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;

  // hide arrow in IE11 because it does not support appearance:none
  &::-ms-expand {
    display: none;
  }
}

.c-select-custom__container {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: calc(#{$base-spacing} / 2) 0;
  position: relative;

  &.error {
    border: solid 2px $error-text;
  }
}

.c-select-custom--noclick {
  pointer-events: none;
}

.c-select-custom__arrow {
  pointer-events: none;
  position: absolute;
  right: calc(#{$base-spacing} / 2);
}
