.m-stop-page__header-feature,
.m-stop-page__access-icon {
  align-items: center;
  display: flex;
  flex: 0 0 auto;
  font-weight: 700;
  height: 100%;
  margin-right: calc(#{$base-spacing} / 2);

  &:last-child {
    margin-right: 0;
  }

  &:hover {
    text-decoration: none;
  }

  .m-route-pills & {
    display: inline-flex;
    margin-top: calc(#{$base-spacing} / 2);
  }
}

.m-stop-page__icon {
  @include icon-size-inline(1.25em, .125em);

  flex: 0 0 auto;

  @include media-breakpoint-up(lg) {
    @include icon-size-inline(1.5em, .125em);
  }

  .c-icon__cr-zone {
    padding: $base-spacing;
  }

  .fa-square-parking {
    font-size: 1.5em;
    position: relative;
    top: 1px;

    @include media-breakpoint-up(lg) {
      font-size: 1.75em;
    }
  }
}

.m-stop-page__header-description {
  border-radius: $base-spacing * 3;
  color: $white;
  flex: 0 0 auto;
  padding: calc(#{$base-spacing} / 4) calc(#{$base-spacing} / 2);
  text-transform: uppercase;
  vertical-align: middle;

  @include media-breakpoint-down(sm) {
    display: none;
  }
}

.m-route-pills {
  .u-bg--bus,
  .u-bg--silver-line {
    border-radius: calc(#{$base-spacing} / 4);
  }
}

.station-amenities {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(3, 1fr);

  @include media-breakpoint-down(lg) {
    grid-template-columns: repeat(2, 1fr);
  }
  @include media-breakpoint-down(sm) {
    grid-gap: unset;
    grid-template-columns: repeat(1, 1fr);
  }

  .c-descriptive-link {
    height: auto;
    padding: 0;

    @include media-breakpoint-down(sm) {
      margin-bottom: 1rem;
    }

    &[disabled] {
      background-color: $gray-lightest;
      border-color: $gray-light;
      color: $body-color;

      // override set .c-descriptive-link title
      .c-descriptive-link__title,
      // override SVG components that have a hard-coded fill
      [class*='c-svg__icon'] :where(path, rect)[fill] {
        color: inherit;
        fill: currentColor;
      }
    }
  }

  .c-descriptive-link__header {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: .5rem;
  }

  .c-descriptive-link__title,
  .c-descriptive-link__badge {
    font-family: $font-family-sans-serif;
  }

  .c-descriptive-link__badge {
    @apply bg-gray-lightest;
  }

  [disabled].c-descriptive-link .c-descriptive-link__badge {
    @apply bg-gray-lighter;
  }

  .c-descriptive-link__badge.good {
    @apply bg-emerald-90;
  }

  .c-descriptive-link__badge.bad {
    @apply bg-firebrick-90;
  }

  .c-descriptive-link__text {
    padding: 1rem;
    text-align: left;
  }

  .c-descriptive-link__caret-wrapper {
    height: 100%;
  }

  h3:first-of-type {
    margin-top: 0;
  }
}

.station-amenities {
  .mbta-modal {
    /* TODO port to Metro */
    box-shadow: 0 0 $space-4 $space-2 $drop-shadow-color;
    width: clamp(100vw, 40rem, 55%);
  }

  .mbta-table {
    border: solid .063rem $gray-lightest;
    margin-bottom: 1rem;
    table-layout: auto;
    width: 100%;

    thead tr {
      background: $brand-primary-darkest;
      border-bottom: none;
      color: $white;
      height: 3.75rem;
    }

    td {
      font-size: var(--font-size-sm);
      padding: var(--spacing-md);
    }
  }
}
