.m-tabbed-nav {
  @include make-container();
  @include make-container-max-widths();
  background-color: $brand-primary;
  display: block;
  margin-top: $space-32;
  padding-left: 0;
  padding-right: 0;

  @include media-breakpoint-down(sm) {
    margin-left: .9375rem;
    margin-right: .9375rem;
    margin-top: $space-24;
  }

  @include media-breakpoint-only(xs) {
    margin-left: 0;
    margin-right: 0;
  }

  .m-tabbed-nav__items {
    @include make-container-max-widths();
    display: flex;
    height: 5.56rem;
    padding: 0 64px;

    @include media-breakpoint-down(md) {
      height: 5rem;
      padding: 0 40px;
    }

    @include media-breakpoint-down(sm) {
      height: 4rem;
      padding: 0 32px;
    }

    @include media-breakpoint-down(xs) {
      height: 3rem;
      justify-content: center;
      padding: 0 16px;
    }
  }

  .m-tabbed-nav__item-container {
    display: flex;

    @include hover-focus-active {
      background-color: $brand-primary-darkest;
      color: $white;
      text-decoration: none;

      .m-tabbed-nav__item {
        border-bottom: 8px solid $brand-primary-darkest;

        @include media-breakpoint-down(sm) {
          border-bottom: 4px solid $brand-primary-darkest;
        }
      }

      .m-tabbed-nav__icon-text {
        color: $white;
        text-decoration: none;
      }
    }

    @include media-breakpoint-down(md) {
      height: 5rem;
    }

    @include media-breakpoint-down(sm) {
      height: 4rem;
    }

    @include media-breakpoint-down(xs) {
      height: 3rem;
    }
  }

  .m-tabbed-nav__item {
    align-items: center;
    border-bottom: 8px solid $brand-primary;
    cursor: pointer;
    display: flex;
    font-weight: $font-weight-medium;
    justify-content: center;
    padding: 12px 24px 4px 24px;

    @include media-breakpoint-down(sm) {
      border-bottom: 4px solid $brand-primary;
      padding-bottom: 8px;
    }

    [class*='c-svg__icon'] {
      @include icon-size-inline(2em);
      flex: 0 0 auto;
      margin-right: $base-spacing;

      @include media-breakpoint-down(md) {
        display: none;
      }
    }

    .m-tabbed-nav__icon-text {
      color: $brand-primary-lightest;
      font-size: $font-size-base * 2;
      font-weight: bold;
      line-height: $headings-line-height;

      @include media-breakpoint-up(sm) {
        font-family: $headings-font-family;
      }

      @include media-breakpoint-down(md) {
        font-size: $font-size-base-sm * 2;
      }

      @include media-breakpoint-down(sm) {
        font-size: $font-size-base-sm * 1.625;
      }

      @include media-breakpoint-down(xs) {
        font-size: $font-size-base-sm;
        font-weight: $font-weight-medium;
      }
    }

    &.active {
      border-bottom: 8px solid $brand-primary-light-contrast;
      .m-tabbed-nav__icon-text {
        color: $white;
        text-decoration: none;
      }

      @include media-breakpoint-down(sm) {
        border-bottom: 4px solid $brand-primary-light-contrast;
      }

      .m-tabbed-nav__icon-text {
        @include media-breakpoint-down(xs) {
          font-weight: bold;
        }
      }
    }

    &:focus,
    &:hover,
    &:active {
      text-decoration: none;
    }
  }

  .m-tabbed-nav__content-item {
    display: none;

    &.active {
      display: block;
    }
  }

  .m-tabbed-nav__content {
    background-color: $gray-bordered-background;
    padding: 40px 64px;

    @include media-breakpoint-only(md) {
      padding: 32px 40px 40px;
    }

    @include media-breakpoint-only(sm) {
      padding: 24px 32px 32px;
    }

    @include media-breakpoint-down(xs) {
      padding: 16px 16px 24px;
    }

    hr {
      border: $border;
      margin: $base-spacing-lg 0;

      @include media-breakpoint-down(md) {
        display: none;
      }
    }
  }

  .m-tabbed-nav__content-item {
    display: none;

    &.active {
      display: block;
    }
  }
}
