.transitstar-container {
    width: 100%;
    margin: var(--spacing-1);
    background: linear-gradient(180deg, #20205a, #2f144e 20%, #be5b05);
    color: white;
    padding:  var(--spacing-4);
    position:relative;

}

.transitstar-header {
    width: 100%;
    display:flex;
    flex-direction: row;
    background: linear-gradient(315deg, #1e0a57, #1e0a57 20%, transparent 20%),
                linear-gradient(180deg, #b85b02, #4f253c);
    text-shadow: 0.125em 0.125em #000000;


}

.transitstar-logo {
    margin-top: var(--spacing-2);
    margin-left: var(--spacing-2);
    margin-right: var(--spacing-4);
    display: flex;
    height: 6em;
    align-items: center;
    justify-content: center;
    filter: invert(1);
}

.transitstar-body {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    height: 60vh;
    font-weight: bold;
}

.transitstar-blend {
    mix-blend-mode: lighten;
}

.transitstar-blend-top {
     background: linear-gradient(180deg, #244da4, #20205b);
     position: absolute;
     left: 0px;
     right: 0px;
     top: 0px;
     height: 1em;
     z-index: 0;
}

.transitstar-blend-bottom {
     background: linear-gradient(00deg, #244da4, #20205b);
     position: absolute;
     left: 0px;
     right: 0px;
     bottom: 0px;
     height: 1em;
     z-index: 0;
}

.transitstar-blend-left {
     background: linear-gradient(90deg, #244da4, #20205b);
     position: absolute;
     left: 0px;
     width: 1em;
     bottom: 0px;
     top: 0px;
     z-index: 0;
}

.transitstar-blend-right {
     background: linear-gradient(270deg, #244da4, #20205b);
     position: absolute;
     right: 0px;
     width: 1em;
     bottom: 0px;
     top: 0px;
     z-index: 0;
}

.transitstar-cc-ul {
    padding-inline-start: 0px;
    list-style: none;
    height: calc(60vh - var(--spacing-2) - var(--spacing-6) - var(--spacing-5) - 1em);
    overflow: hidden;
    margin-top: var(--spacing-2);
    li {
        svg {
            top: 0.4em;
            position: relative;
        }
    }
}

.transitstar-cc-modebox {
    background: #20205b;
    position:relative;
    width: 30vw;
    padding: var(--spacing-5);
}



.transitstar-cc-lowerbox {
    background: #1f205b;
    color: white;
    border-top: solid 2px lightgray;
    padding: var(--spacing-2);
    margin-left: calc( -1 * var(--spacing-4) );
    margin-right: calc( -1 * var(--spacing-4) );
    margin-bottom: calc( -1 * var(--spacing-4) );

}

.transitstar-fu-day-title {
    width: 100%;
    text-align: center;
    color: yellow;
    font-size: 2em;
    margin-top: 0.25em;
    margin-bottom: 0.25em;
    text-shadow: 0.125em 0.125em #000000;
}

.transitstar-fu-day {
    background: linear-gradient(#5a53c8, #0302c8);
    position:relative;
    width: 25vw;
    padding: var(--spacing-1);
    margin: var(--spacing-5);
    text-shadow: 0.125em 0.125em #000000;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}

.transitstar-fu-day-image {
    
    margin: var(--spacing-3);
    height: 30%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.transitstar-fu-day-desc {
    height: 30%;
    margin: var(--spacing-2);
    overflow: hidden;
}