@use 'sass:math';

$sm-map-height: $base-spacing * 20;
// Aspect ratios of 3:2 and 16:9
$md-map-height: map-get($container-max-widths, md) * math.div(2, 3);
$xxl-map-height: map-get($container-max-widths, xxl) * math.div(9, 16);

.transitnearmeview {
  @include media-breakpoint-down(sm) {
    padding-bottom: 0;
  }
}

.m-transit-near-me__input {
  @include media-breakpoint-up(md) {
    width: 60%;
  }
}

.m-tnm {
  display: flex;
  margin-top: 1.5 * $base-spacing;
  position: relative;

  @include media-breakpoint-down(sm) {
    flex-direction: column-reverse;
  }

  @include media-breakpoint-only(xxl) {
    @include make-container();
    max-width: map-get($container-max-widths, xxl);
    padding: 0;
  }
}

.m-tnm__map {
  flex: 1 1 auto;
  height: $md-map-height;

  @include media-breakpoint-down(sm) {
    height: $sm-map-height;
  }

  @include media-breakpoint-only(xxl) {
    height: $xxl-map-height;
  }
}

.m-tnm-sidebar {
  background-color: $gray-lightest;
  padding-bottom: $base-spacing * 2;
  position: relative;

  @include media-breakpoint-up(md) {
    height: $md-map-height;
    overflow: scroll;
    width: 28 * $base-spacing;
  }

  @include media-breakpoint-only(xxl) {
    height: $xxl-map-height;
  }

  @include media-breakpoint-only(md) {
    width: 21 * $base-spacing;
  }
}

.m-tnm-sidebar__inner {
  @include media-breakpoint-down(xs) {
    margin: 0 $base-spacing;
  }

  @include media-breakpoint-up(md) {
    margin: calc(#{$base-spacing} / 2);
  }
}

.m-tnm-sidebar__filter-header {
  display: none;
  font-weight: bold;
  margin-right: calc(#{$base-spacing} / 2);

  @include media-breakpoint-only(xxl) {
    display: inline;
  }

  @include media-breakpoint-only(sm) {
    display: inline;
  }
}

.m-tnm-sidebar__filter-btn {
  background-color: transparent;
  font-weight: $font-weight-medium;
  margin-left: calc(#{$base-spacing} / 2);

  &.active {
    background-color: $brand-primary-lightest;
  }

  // override existing rule that would make inactive but focused appear active
  &.inactive {
    &:active,
    &:focus,
    &:hover {
      background-color: transparent;
    }
  }

  &:first-of-type {
    margin-left: 0;
  }
}

.m-tnm-sidebar__fixed-header {
  background-color: $gray-lightest;
  box-shadow: 0 $space-2 $space-4 $drop-shadow-color;
  padding: calc(#{$base-spacing} / 2);
  position: sticky;
  top: 0;
  z-index: $z-index-tnm-filter-header;

  @include media-breakpoint-down(sm) {
    padding: calc(#{$base-spacing} / 2);
    width: 100%;
  }
}

.m-tnm-sidebar__separator {
  border-top: 1px solid $gray-lighter;
  margin: calc(#{$base-spacing} / 2) 0;
}

.m-tnm-sidebar__header {
  margin-top: calc(#{$base-spacing} / 2);

  h2 {
    flex-shrink: 0;
    margin-top: 0;

    @include media-breakpoint-down(sm) {
      margin: 0;
    }
  }
}

.m-tnm-sidebar__header-title {
  align-items: baseline;
  display: flex;
  justify-content: space-between;
  white-space: nowrap;
}

.m-tnm-sidebar__view-change {
  color: $brand-primary;
  margin-bottom: .75 * $base-spacing;
  margin-left: $base-spacing;
}

.m-tnm-sidebar__pill {
  border: 1px solid $brand-primary;
  border-radius: 17px;
  color: $brand-primary;
  cursor: pointer;
  display: inline-flex;
  max-width: 100%;
  padding: .2 * $base-spacing .7 * $base-spacing;
}

.m-tnm-sidebar__pill-name {
  line-height: 1.1em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.m-tnm-sidebar__pill-close {
  margin-left: calc(#{$base-spacing} / 2);
}

.m-tnm-sidebar__fixed-header-inner,
.m-tnm-sidebar__route,
.m-tnm-sidebar__stop-card,
.m-tnm-sidebar__header {
  @include media-breakpoint-only(sm) {
    @include make-col-span(8);
    margin-left: auto;
    margin-right: auto;
  }
}

.m-tnm-sidebar__route,
.m-tnm-sidebar__stop-card {
  & + & {
    margin-top: calc(#{$base-spacing} / 2);
  }
}

.m-tnm-sidebar__stop-card {
  background-color: $white;
  border-radius: $default-border-radius;
  box-shadow: 0 $space-2 $space-4 $drop-shadow-color;
  padding: $base-spacing;
}

.m-tnm-sidebar__stop-cards {
  padding: 0;
}

.m-tnm-sidebar__route-name {
  align-items: center;
  border-top-left-radius: $default-border-radius;
  border-top-right-radius: $default-border-radius;
  box-shadow: 0 $space-2 $space-4 $drop-shadow-color;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: calc(#{$base-spacing} / 2);

  // adjust icon colors and sizing based on background color
  @each $line in map-keys($mbta-line-colors) {
    &.u-bg--#{$line} {
      @include icon-mbta-colored($line, true);
      @if $line == 'bus' {
        @include icon-size-inline($base-spacing * 1.5, .275em);
      } @else {
        @include icon-size-inline($base-spacing * 1.5, .1em);
      }
    }
  }

  &.u-bg--bus  .c-link-block__inner-link {
    svg {
      margin-top: .0625rem;
    }
  }

  &.c-link-block {
    display: block;
    margin-bottom: calc(#{$base-spacing} / 2);

    .c-link-block__inner {
      display: flex;
      justify-content: space-between;

      > span {
        overflow-wrap: anywhere; // long CR line names need this to fit
      }
    }

    + .m-tnm-sidebar__route-stop,
    + .m-tnm-sidebar__route-alert-effect {
      margin-top: calc(-#{$base-spacing} / 2);
    }
  }
}

.m-tnm-sidebar__route-alert {
  display: block;
  height: $base-spacing * 1.25;
  width: $base-spacing * 1.25;
}

.m-tnm-sidebar__route-stop {
  background: $white;
  box-shadow: 0 $space-2 $space-4 $drop-shadow-color;

  & + & {
    margin-top: .3125rem;
  }
}

.m-tnm-sidebar__stop-info {
  display: flex;
  font-size: .875 * $base-spacing;
  justify-content: space-between;
  padding: calc(#{$base-spacing} / 2);
}

.m-tnm-sidebar__direction {
  margin-bottom: calc(#{$base-spacing} / 4);
  padding: calc(#{$base-spacing} / 2);
}

.m-tnm-sidebar__direction-name {
  font-weight: bold;
}

.m-tnm-sidebar__direction-destination {
  @apply h3;
  margin: 0;
}

.m-tnm-sidebar__headsign-schedule {
  border-top: $border;
  display: flex;
  justify-content: space-between;
  margin-bottom: $space-2;
  margin-top: $space-2;
}

.m-tnm-sidebar__headsign-schedule--condensed {
  border-top: 0;
}

.m-tnm-sidebar__headsign-name--large {
  @apply h3;
  margin: 0;
}

.m-tnm-sidebar__headsign-name--small {
  font-weight: bold;
  line-height: 1;
  margin-top: calc(#{$base-spacing} / 4);
}

.c-mode-filter__filter-btn-group {
  display: inline;

  &:not(:first-of-type) {
    margin-left: $base-spacing * .5;
  }
}

.m-tnm-sidebar__via {
  font-weight: $font-weight-medium;
  line-height: 1;
  margin-top: calc(#{$base-spacing} / 4);
}

.m-tnm-sidebar__schedules {
  display: flex;
}

.m-tnm-sidebar__schedule {
  font-size: .875 * $base-spacing;
  padding-left: $base-spacing;

  .m-tnm-sidebar__time-number,
  .m-tnm-sidebar__time-mins {
    font-weight: normal;
  }

  &:first-of-type {
    .m-tnm-sidebar__time-number,
    .m-tnm-sidebar__time-mins {
      font-weight: bold;
    }
  }
}

.m-tnm-sidebar__time {
  text-align: center;

  &--commuter-rail {
    text-align: right;
  }

  &--schedule {
    color: $gray;

    // double-selector required to override .m-tnm-sidebar__schedule:first-of-type selector
    .m-tnm-sidebar__time-number.m-tnm-sidebar__time-number,
    .m-tnm-sidebar__time-mins.m-tnm-sidebar__time-mins {
      font-weight: normal;
    }
  }
}

.m-tnm-sidebar__time-number {
  @apply h3;
  line-height: 1em;
  margin-bottom: 0;
  margin-top: calc(#{$base-spacing} / 4);

  &--delayed {
    font-weight: bold;
    text-decoration: line-through;
  }
}

.m-tnm-sidebar__time-mins {
  line-height: 1em;
  margin-top: $space-2;
}

.m-tnm-sidebar__stop-marker,
.m-tnm-sidebar__stop-accessible {
  svg {
    @include center-icon($base-spacing);
    margin-right: calc(#{$base-spacing} / 2);
  }
}

.m-tnm-sidebar__stop-accessible {
  margin-left: calc(#{$base-spacing} / 2);
}

.m-tnm-sidebar__mode-icon {
  svg {
    @include center-icon(1.25em);
    margin-right: calc(#{$base-spacing} / 2);
  }
}

.m-tnm-sidebar__stop-card-name {
  font-weight: bold;
}

.m-tnm-sidebar__stop-card-header {
  display: flex;
  justify-content: space-between;
}

.m-tnm-sidebar__stop-card-description {
  margin-top: calc(#{$base-spacing} / 2);
}

.m-tnm__address-marker {
  margin-right: $base-spacing * 1.5;
}

.m-tnm-sidebar__empty {
  color: $gray;
}
