.m-tnm-sidebar__filter-header {
  display: none;
  font-weight: bold;
  margin-right: calc(#{$base-spacing} / 2);

  @include media-breakpoint-only(xxl) {
    display: inline;
  }

  @include media-breakpoint-only(sm) {
    display: inline;
  }
}

.m-tnm-sidebar__filter-btn {
  background-color: transparent;
  font-weight: $font-weight-medium;
  margin-left: calc(#{$base-spacing} / 2);

  &.active {
    background-color: $brand-primary-lightest;
  }

  // override existing rule that would make inactive but focused appear active
  &.inactive {
    &:active,
    &:focus,
    &:hover {
      background-color: transparent;
    }
  }

  &:first-of-type {
    margin-left: 0;
  }
}

.c-mode-filter__filter-btn-group {
  display: inline;

  &:not(:first-of-type) {
    margin-left: $base-spacing * .5;
  }
}

.m-tnm-sidebar__mode-icon {
  svg {
    @include center-icon(1.25em);
    margin-right: calc(#{$base-spacing} / 2);
  }
}
