.trip-planner-form {
  @include media-breakpoint-up(sm) {
    &.collapse {
      display: block;
    }
  }

  .c-trip-plan-widget__submit {
    width: 100%;
  }
}

.m-trip-plan__sidebar {
  @include make-col();
  margin: 0;
  padding: 0;
  width: 100%;

  @include media-breakpoint-up(md) {
    padding-right: .9375rem;
  }

  @include media-breakpoint-only(md) {
    @include make-col-span(5);
  }

  @include media-breakpoint-up(lg) {
    @include make-col-span(4);
  }

  @media print {
    display: none;
  }
}

.m-trip-plan__reset {
  margin-top: $base-spacing;
  width: 100%;
}

.plan-date-container {
  background: $white;
  border: $border;
  display: none;

  input {
    border: 0;
    display: inline;
    text-align: center;

    &:focus {
      border: 1px solid $gray-light;
      outline: none;
    }
  }
}

.m-trip-plan__form-container {
  margin-top: 0;

  @include media-breakpoint-up(md) {
    margin-bottom: 0;
    min-height: $base-spacing * 42;
    position: sticky;
    top: 0;
    // required so that a new stacking context is defined;
    // without setting z-index, the footer's stacking context
    // is higher than this sidebar so the datepicker popup
    // is covered by the footer. -kh
    // https://philipwalton.com/articles/what-no-one-told-you-about-z-index/
    z-index: $z-index-datepicker-content;
  }
}

.m-trip-plan__error + .m-trip-plan__form-container {
  border-radius: 0 0 calc(#{$base-spacing} / 4) calc(#{$base-spacing} / 4);
  border-top: 0;
}

.m-trip-plan__form-check {
  display: flex;
}

.m-trip-plan__form-label {
  display: inline-flex;
  flex: 0 1 auto;
}

// Usually hidden by javascript
.plan-date-select {
  margin-top: $space-6;

  .c-select {
    border-radius: calc(#{$base-spacing} / 4);
    min-width: 33%;
  }
}

.plan-date-input {
  border: 2px solid $brand-primary;
  border-radius: calc(#{$base-spacing} / 4);
  font-size: inherit;
  padding: calc(#{$base-spacing} / 2);
  text-overflow: ellipsis;
}

.plan-time-select {

  > .c-select {
    border-radius: calc(#{$base-spacing} / 4);
    margin-right: 5px;
    min-width: 3.75rem;
  }

  > .plan-date-time-am-pm {
    margin: 0;
    min-width: 4.125rem;
  }
}

.m-trip-plan__time-input-label,
.m-trip-plan__calendar-input-label {
  display: block;
  max-width: 100%;
}

.m-trip-plan__calendar-input-icon {
  padding-right: $base-spacing;

  // Special "inside input" snowflake
  position: absolute;
  right: calc(-#{$base-spacing} / 4);
  top: 27.5%;

  [class*='c-svg__icon-calendar-default'] {
    height: 1rem;
    width: 1rem;
  }
}

.planner-location-box-location {
  padding-bottom: $space-8;
}

.m-trip-plan__optimize-for {
  @include icon-size-inline(1em);

  margin-bottom: .75rem;
  margin-top: $base-spacing;

  .c-svg__icon-accessible-default {
    margin-left: calc(#{$base-spacing} / 2);
  }
}

.m-trip-plan__departure-last {
  .form-group {
    margin-bottom: 0;
  }
}

.m-trip-plan__modes {
  .c-checkbox {
    display: flex;
    margin-bottom: calc(#{$base-spacing} / 2);
  }
}

.m-trip-plan__required {
  color: $error-text;
}

.m-trip-plan__hidden {
  display: none;
}

.c-trip-plan-widget__inputs {
  label {
    margin-bottom: .75rem;
  }
}

#trip-planner-form {
  .c-accordion-ui {
    border-radius: $border-radius;
    margin-top: .75rem;
  }

  .c-accordion-ui__content {
    background: white;
    border-bottom: solid 1px $brand-primary;
    border-bottom-left-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
  }

  .c-accordion-ui__target {
    border-bottom: none;
  }

  .c-accordion-ui__trigger {
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;

    &.collapsed {
      border-bottom-left-radius: $border-radius;
      border-bottom-right-radius: $border-radius;
    }
  }
}

.trip-planner-form {
  padding-top: 1rem;

  h2 {
    font-size: 16px;
    font-weight: bold;
    line-height: 1.5;
    margin-bottom: .5rem;
    margin-top: .5rem;
  }
}

#date-picker-calendar {
  .form-control[readonly] {
    background-color: $body-bg;
  }
}

#trip-planner-inputs {
  margin: .75rem 0;
  width: 100%;

  #trip-plan-datepicker {
    margin-bottom: 1rem;
    margin-top: .75rem;
  }

  .btn-group {
    width: 100%;

    .btn+.btn {
      margin-left: 0;
    }

    label:has(:checked) {
      @extend .active;
    }
  }

  input {
    padding: calc(#{$base-spacing} / 2);
  }

  label {
    border-color: $brand-primary;
    border-width: 1px 0;
    font-weight: 400;
    padding: calc(#{$base-spacing} / 2);
    text-transform: capitalize;
    width: 33.33%;
  }

  label.active {
    background-color: $brand-primary-lightest;
    color: $brand-primary;
    font-weight: 700;
  }

  label:first-child,
  label:last-child {
    border-left-width: 1px;
    border-right-width: 1px;
  }

  input[type='text'] {
    border: 1px solid $brand-primary;
    border-radius: $border-radius;
    width: 100%;
  }

  i.fa-calendar {
    color: $brand-primary;
  }

  .flatpickr {
    position: relative;

    .form-control[readonly] {
      background-color: $body-bg;
    }

    a[data-toggle] {
      position: absolute;
      right: .75rem;
      top: .5rem;
    }
  }

  .flatpickr-mobile {
    border: 1px solid $brand-primary;
    border-radius: $border-radius;
    width: calc(100% - 2.5rem);

    & ~ a[data-toggle] {
      position: unset;
    }
  }
}

.flatpickr-months {
  font-family: $headings-font-family;
  font-weight: $headings-font-weight;
  line-height: $headings-line-height;

  .flatpickr-month {
    color: inherit;
  }
}

.flatpickr-current-month {
  font-size: $font-size-base-xxl;
  font-weight: inherit;

  .flatpickr-monthDropdown-months {
    font-weight: inherit;
  }

  input.cur-year[disabled],
  input.cur-year[disabled]:hover {
    color: inherit;
  }
}

.flatpickr-time input {
  font-size: inherit;
}

.flatpickr-day {
  font-weight: $font-weight-medium;
}

.flatpickr-calendar {
  font-family: $font-family-base;
  font-size: inherit;
  line-height: inherit;
}

.flatpickr-day.selected {
  background-color: $brand-primary;
  border-color: $white;
  color: $white;

  &:hover {
    background-color: $brand-primary-lightest;
    border-color: $white;
    color: $brand-primary;
  }
}
