.trip-planner-form {
  @include media-breakpoint-up(sm) {
    &.collapse {
      display: block;
    }
  }

  .c-trip-plan-widget__submit {
    width: 100%;
  }
}

.m-trip-plan__sidebar {
  @include make-col();
  margin: 0;
  padding: 0;
  width: 100%;

  @include media-breakpoint-up(md) {
    padding-right: .9375rem;
  }

  @include media-breakpoint-only(md) {
    @include make-col-span(5);
  }

  @include media-breakpoint-up(lg) {
    @include make-col-span(4);
  }

  @media print {
    display: none;
  }
}

.m-trip-plan__reset {
  margin-top: $base-spacing;
  width: 100%;
}

.plan-date-container {
  background: $white;
  border: $border;
  display: none;

  input {
    border: 0;
    display: inline;
    text-align: center;

    &:focus {
      border: 1px solid $gray-light;
      outline: none;
    }
  }
}

.m-trip-plan__form-container {
  margin-top: 0;

  @include media-breakpoint-up(md) {
    margin-bottom: 0;
    min-height: $base-spacing * 42;
    position: sticky;
    top: 0;
    // required so that a new stacking context is defined;
    // without setting z-index, the footer's stacking context
    // is higher than this sidebar so the datepicker popup
    // is covered by the footer. -kh
    // https://philipwalton.com/articles/what-no-one-told-you-about-z-index/
    z-index: $z-index-datepicker-content;
  }
}

.m-trip-plan__error + .m-trip-plan__form-container {
  border-radius: 0 0 calc(#{$base-spacing} / 4) calc(#{$base-spacing} / 4);
  border-top: 0;
}

.m-trip-plan__form-check {
  display: flex;
}

.m-trip-plan__form-label {
  display: inline-flex;
  flex: 0 1 auto;
}

// Usually hidden by javascript
.plan-date-select {
  margin-top: $space-6;

  .c-select {
    border-radius: calc(#{$base-spacing} / 4);
    min-width: 33%;
  }
}

.plan-date-input {
  border: 2px solid $brand-primary;
  border-radius: calc(#{$base-spacing} / 4);
  font-size: inherit;
  padding: calc(#{$base-spacing} / 2);
  text-overflow: ellipsis;
}

.plan-time-select {

  > .c-select {
    border-radius: calc(#{$base-spacing} / 4);
    margin-right: 5px;
    min-width: 3.75rem;
  }

  > .plan-date-time-am-pm {
    margin: 0;
    min-width: 4.125rem;
  }
}

.m-trip-plan__time-input-label,
.m-trip-plan__calendar-input-label {
  display: block;
  max-width: 100%;
}

.m-trip-plan__calendar-input-icon {
  padding-right: $base-spacing;

  // Special "inside input" snowflake
  position: absolute;
  right: calc(-#{$base-spacing} / 4);
  top: 27.5%;

  [class*='c-svg__icon-calendar-default'] {
    height: 1rem;
    width: 1rem;
  }
}

.planner-location-box-location {
  padding-bottom: $space-8;
}

.m-trip-plan__optimize-for {
  @include icon-size-inline(1em);

  margin-bottom: 0;
  margin-top: $base-spacing;

  .c-svg__icon-accessible-default {
    margin-left: calc(#{$base-spacing} / 2);
  }
}

.m-trip-plan__departure-last {
  .form-group {
    margin-bottom: 0;
  }
}

.m-trip-plan__modes {
  .c-checkbox {
    display: flex;
    margin-bottom: calc(#{$base-spacing} / 2);
  }
}

.m-trip-plan__required {
  color: $error-text;
}

.m-trip-plan__hidden {
  display: none;
}

.trip-planner-form {
  h2 {
    font-size: 16px;
    font-weight: bold;
    line-height: 1.5;
  }
}

#trip-planner-inputs {
  margin: 10px 0 20px;
  width: 100%;

  .btn-group {
    width: 100%;

    .btn+.btn {
      margin-left: 0;
    }
  }

  label {
    border-color: $brand-primary;
    border-width: 1px 0;
    padding: 4px;
    width: 33.33%;
  }

  label.active {
    background-color: $brand-primary-lightest;
    color: $brand-primary;
    font-weight: 700;
  }

  label:first-child,
  label:last-child {
    border-left-width: 1px;
    border-right-width: 1px;
  }

  input[type='text'] {
    border: 1px solid $brand-primary;
    border-radius: $border-radius;
    padding: 4px 6px;
    width: 100%;
  }

  i.fa-calendar {
    color: $brand-primary;
    float: right;
    position: relative;
    right: 10px;
    top: -25px;
  }
}

.flatpickr-day.selected {
  background-color: $brand-primary;
  border-color: $white;
  color: $white;

  &:hover {
    background-color: $brand-primary-lightest;
    border-color: $white;
    color: $brand-primary;
  }
}
