@use 'sass:math';

.no-js .trip-plan-body .c-accordion-ui .panel {
  display: none;
}

.m-trip-plan-results__itinerary {
  margin-bottom: $base-spacing * 1.5;

  h2 {
    font-size: 1.2em;
    margin-top: 0;
  }

  .c-accordion-ui {
    margin: 0;

    &:nth-child(n + 3) {
      border-top: 0;
    }
  }

  .c-accordion-ui__trigger {
    @extend %button-primary-outline;
    border: 0;
    padding: math.div($base-spacing, 1.5) $base-spacing;

    &[aria-expanded='true'] {
      border-bottom: 1px $btn-primary-bg solid;
    }
  }

  &-tag {
    background-color: $brand-primary-darkest;
    border-radius: 0 0 8px;
    color: $white;
    font-weight: bold;
    grid-column-end: 3;
    grid-column-start: 1;
    margin-bottom: 1rem;
    margin-left: -1rem;
    margin-top: -1rem;
    padding: .5rem 1rem;
    width: fit-content;
  }

  /* stylelint-disable property-no-vendor-prefix */
  &-header {
    background-color: $brand-primary-lightest-contrast;
    border: 1px solid $brand-primary;
    border-bottom: 0;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    line-height: 1.5;
    margin-top: 0;
    padding: $base-spacing;

    .m-trip-plan-results__itinerary-header-content {
      -ms-grid-column: 1;
      grid-column: 1;
    }
    .m-trip-plan-results__itinerary-fares {
      -ms-grid-column: 2;
      grid-column: 2;
    }

    @include media-breakpoint-down(sm) {
      display: block;
    }
  }
  /* stylelint-enable property-no-vendor-prefix */

  &-accessible {
    @include icon-size-inline(1em);
    margin-top: $base-spacing;

    [class*='c-svg__icon'] {
      margin-right: calc(#{$base-spacing} / 4);
    }
  }

  &-legs {
    @include icon-size-inline(1.5em, .22em);
    align-items: center;
    display: flex;
    flex-grow: 1;

    .fa-angle-right {
      margin: 0 calc(#{$base-spacing} / 4);
    }
  }

  &-length-time {
    font-weight: bold;
    margin-right: calc(#{$base-spacing} / 2);
  }

  &-length-duration {
    white-space: nowrap;
  }

  &-length-distance {
    margin-left: $space-12;
    white-space: nowrap;

    g {
      fill: currentColor;
    }
  }

  &-body {
    padding: 0 $base-spacing;
  }

  &-alerts {
    margin-right: calc(#{$base-spacing} / 2);
  }

  &-alerts-text {
    background-color: $gray-lightest;
    margin-bottom: $base-spacing;
    padding: $base-spacing;
  }

  &-fares {
    padding-left: $base-spacing;
    padding-top: 0;

    @include media-breakpoint-down(sm) {
      padding-left: 0;
      padding-top: $base-spacing;
    }
  }

  &-fare-title {
    font-size: $font-size-h5;
    font-weight: bold;
  }

  &-fare,
  &-note {
    padding-left: $base-spacing;
  }

  &-fare + &-fare-title {
    margin-top: 1rem;
  }

  .c-svg__walk {
    display: inline-block;
    height: $base-spacing * 1.25;
    width: $base-spacing * 1.25;
  }

  .leg-summary {
    display: grid;
    gap: calc($base-spacing * .5);
    grid-template-columns: 4ch 1fr;
    line-height: 1.25;

    .c-svg__walk {
      height: $base-spacing * 1.5;
      width: $base-spacing * 1.5;
    }
  }

  .leg-summary-container {
    align-items: start;
    display: flex;
    justify-content: space-between;
  }
}
