.m-trip-plan-farecalc {
  &__main-title {
    margin-bottom: 0;
  }

  &__table {
    display: flex;
    flex-wrap: wrap;
    @include media-breakpoint-down(xs) {
      display: block;
    }

    > div:nth-of-type(odd) {
      width: 35%;
      @include media-breakpoint-down(xs) {
        width: 100%;
      }
    }
    > div:nth-of-type(even) {
      width: 15%;
      @include media-breakpoint-down(xs) {
        width: 100%;
      }
    }
  }

  &__table-cell {
    align-items: flex-start;
    box-sizing: border-box;
    display: flex;
    padding: .0625rem;
    width: 100%;
    @include media-breakpoint-down(xs) {
      margin-left: 20px;
    }

    [class*='c-svg__icon'] {
      height: $icon-size-sm;
      margin-right: .3rem;
      width: $icon-size-sm;
    }
  }

  &__label {
    display: none;
    white-space: pre;
    @include media-breakpoint-down(xs) {
      display: inline;
    }
  }

  &__header {
    margin-bottom: .625rem;
    margin-top: 1.5rem;
    @include media-breakpoint-down(xs) {
      display: none;
    }
  }

  &__subheader {
    @include h4();
    margin-bottom: .625rem;
    margin-top: 1.5rem;
    @include media-breakpoint-down(xs) {
      @include h3();
      margin-left: 0;
    }
  }

  &__mode-name,
  &__transfer-note {
    @include media-breakpoint-down(xs) {
      font-weight: bold;
    }
  }

  &__notes-block {
    margin-bottom: $space-8;
    margin-top: $space-8;
    @include media-breakpoint-down(xs) {
      margin-bottom: $space-16 * 1.2;
      margin-top: $space-16 * .75;
    }
  }

  &__title {
    font-weight: bold;
  }
}
