#date-picker-calendar {
  .form-control[readonly] {
    background-color: $body-bg;
  }
}


.c-trip-plan-widget {
  legend {
    color: $gray-dark;
    font-weight: bold;
  }

  // adjustments for when rendered from the CMS
  .m-mode-hub__trip-plan-widget & {
    background-color: $gray-bordered-background;
    border: solid 1px $gray-lightest;
    padding: 0 $base-spacing $base-spacing;
  }

  // adjustments for when rendered as a paragraph from the CMS
  .c-paragraph--trip-plan-widget & {
    h2:first-child {
      margin-top: 0;
    }

    @include media-breakpoint-down(sm) {
      padding-bottom: 1rem;
      padding-top: 1rem;

      h2:first-child {
        margin-top: .5rem;
      }
    }
  }
}
