#date-picker-calendar {
  .form-control[readonly] {
    background-color: $body-bg;
  }
}

// adjustments for when rendered as a paragraph from the CMS
.c-paragraph--trip-plan-widget .c-trip-plan-widget {
  h2:first-child {
    margin-top: 0;
  }

  button[type="submit"] {
    justify-content: start;
  }

  @include media-breakpoint-down(sm) {
    padding-bottom: 1rem;
    padding-top: 1rem;

    h2:first-child {
      margin-top: .5rem;
    }
  }
}
