// Starting 9/27/21, we're starting to set up new base-spacing numbers
$base-line-height: 1.275;

@mixin base-font__new {
  font-family: $font-family-base;
  font-size: 1.125rem;
  line-height: $base-line-height;
  @include media-breakpoint-down(lg) {
    font-size: 1rem;
  }
  @include media-breakpoint-down(sm) {
    font-size: .875rem;
  }
}

@mixin font-white {
  @include base-font__new();
  color: $white;
  font-weight: 400;
}
@mixin font-small {
  font-family: $headings-font-family;
  font-weight: $headings-font-weight;
  line-height: $base-line-height;
  font-size: 1rem;
  line-height: $base-line-height;
  text-transform: uppercase;
  @include media-breakpoint-down(lg) {
    font-size: .875rem;
  }
  @include media-breakpoint-down(sm) {
    font-size: .75rem;
  }
}

.font-white { @include font-white(); }

.font-small { @include font-small(); }

.fs-10 {
  font-size: .625rem;
}

.text-wrap {
  text-wrap: wrap;
}
