.m-whats-happening__section {
  @include media-breakpoint-down(xxl) {
    margin-top: 80px;
  }

  @include media-breakpoint-down(md) {
    margin-top: 64px;
  }

  @include media-breakpoint-down(sm) {
    margin-top: 40px;
  }

  width: 100%;

  .c-banner + &--promoted,
  .c-banner + &--promoted .page-section {
    margin-top: 0;
  }
}

.m-whats-happening__row {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 0 calc(#{$base-spacing} / 2) calc(#{$base-spacing} / 2);

  &--secondary {
    @include side-scroll(xs);
  }
}

.m-whats-happening__item {
  flex-basis: 0;
  flex-grow: 1;
  margin: 0 calc(#{$base-spacing} / 2) calc(#{$base-spacing} / 2);

  &--promoted {
    @include media-breakpoint-only(xs) {
      flex-basis: 100%;
      margin-bottom: $base-spacing;
    }
  }

  a {
    color: $black;
    text-decoration: none;

    @include hover-focus-active {
      color: $brand-primary;
    }
  }
}

.m-whats-happening__image {
  position: relative;

  img {
    max-height: 100%;
    max-width: 100%;
  }
}

.m-whats-happening__category {
  font-weight: bold;
  margin-top: calc(#{$base-spacing} / 2);
}

.m-whats-happening__title {
  margin: 0;
}
