@import 'variables';
@import 'mixins';
@import 'bootstrap';
@import 'bootstrap-extra';
@import 'vendor/fontawesome';
@import 'inter';
@import 'layout-core-shared';
@import 'footer';
@import 'header';
@import 'social';
@import 'svg';

.header,
.m-footer {
  @include base-font-size();
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  line-height: 1.5;
  margin: 0;
  min-width: 20rem;
  text-rendering: optimizeLegibility;
}

// For some reason these font icons are misaligned in the layout template
.c-social--instagram {
  .fa {
    color: $instagram;
    position: relative;
    top: .25em;
  }
}

.c-social--youtube {
  .fa {
    position: relative;
    top: .2em;
  }
}

.c-social--twitter {
  .fa {
    position: relative;
    top: .25em;
  }
}

.icon-search {
  height: 30px;
  // Another misaligned font icon, only in the layout template
  margin-right: 5px;
  width: 30px;
}
