@import 'variables';
@import 'colors';

$leaflet-transparent-white: rgba(255, 255, 255, .5);
$leaflet-transparent-black: rgba(0, 0, 0, .65);

.leaflet-pane,
.leaflet-tile,
.leaflet-marker-icon,
.leaflet-marker-shadow,
.leaflet-tile-container,
.leaflet-pane > svg,
.leaflet-pane > canvas,
.leaflet-zoom-box,
.leaflet-image-layer,
.leaflet-layer {
  left: 0;
  position: absolute;
  top: 0;
}

.leaflet-control-attribution svg { display: none; }

.leaflet-container {
  background: $gray-lighter;
  font: .875rem/1.5 'Inter', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  outline: 0;
  overflow: hidden;
}

.leaflet-active {
  outline: 2px solid $brand-secondary-dark;
}

.leaflet-control-attribution {
  background: $leaflet-transparent-white;
  margin: 0;

  a {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.leaflet-control-attribution,
.leaflet-control-scale {
  font-size: .68rem;
}

.leaflet-popup-close-button {
  background: transparent;
  border: 0;
  color: $gray-lighter;
  font: 1rem/.875rem Tahoma, Verdana, sans-serif;
  font-weight: bold;
  height: .875rem;
  padding: 4px 4px 0 0;
  position: absolute;
  right: $base-spacing * .75;
  text-align: center;
  text-decoration: none;
  top: calc(#{$base-spacing} / 2);
  width: 18px;

  &:hover,
  &:focus {
    color: $gray-light;
    text-decoration: none;
  }
}

.leaflet-tile {
  filter: inherit;
  max-height: none;
  max-width: none;
  visibility: hidden;

  .leaflet-touch-zoom {
    touch-action: pan-x pan-y;
  }

  .leaflet-touch-drag {
    touch-action: pinch-zoom;

    .leaflet-touch-zoom {
      touch-action: none;
    }
  }
}

.leaflet-tile,
.leaflet-marker-icon,
.leaflet-marker-shadow {
  user-select: none;
}

.leaflet-safari {
  .leaflet-tile {
    image-rendering: 0;
  }

  .leaflet-tile-container {
    height: 1600px;
    transform-origin: 0 0;
    width: 1600px;
  }
}

.leaflet-marker-icon,
.leaflet-marker-shadow {
  display: block;
}

.leaflet-tile-loaded {
  visibility: inherit;
}

.leaflet-zoom-box {
  background: $leaflet-transparent-white;
  border: 2px dotted $brand-primary-light;
  box-sizing: border-box;
  height: 0;
  width: 0;
  z-index: $z-index-leaflet-level-7;
}

.leaflet-pane {
  z-index: $z-index-leaflet-level-3;
}

.leaflet-tile-pane {
  z-index: $z-index-leaflet-level-2;
}

.leaflet-overlay-pane {
  z-index: $z-index-leaflet-level-3;
}

.leaflet-shadow-pane {
  z-index: $z-index-leaflet-level-4;
}

.leaflet-marker-pane {
  z-index: $z-index-leaflet-level-5;
}

.leaflet-tooltip-pane {
  z-index: $z-index-leaflet-level-6;
}

.leaflet-popup-pane {
  z-index: $z-index-leaflet-level-7;
}

.leaflet-map-pane {
  canvas {
    z-index: $z-index-leaflet-level-1;
  }

  svg {
    z-index: $z-index-leaflet-level-2;
  }
}

.leaflet-vml-shape {
  height: 1px;
  width: 1px;
}

.leaflet-control {
  clear: both;
  float: left;
  pointer-events: auto;
  position: relative;
  z-index: $z-index-leaflet-level-7;
}

.leaflet-top,
.leaflet-bottom {
  pointer-events: none;
  position: absolute;
  z-index: $z-index-leaflet-level-8;
}

.leaflet-top {
  top: 0;

  .leaflet-control {
    margin-top: 10px;
  }
}

.leaflet-right {
  right: 0;

  .leaflet-control {
    float: right;
    margin-right: 10px;
  }
}

.leaflet-bottom {
  bottom: 0;

  .leaflet-control {
    margin-bottom: 10px;
  }

  .leaflet-control-scale {
    margin-bottom: 5px;
  }
}

.leaflet-left {
  left: 0;

  .leaflet-control {
    margin-left: 10px;
  }

  .leaflet-control-scale {
    margin-left: 5px;
  }
}

.leaflet-fade-anim {
  .leaflet-tile {
    will-change: opacity;
  }

  .leaflet-popup {
    opacity: 0;
    transition: opacity .2s linear;
  }

  .leaflet-map-pane {
    .leaflet-popup {
      opacity: 1;
    }
  }
}

.leaflet-zoom-animated {
  transform-origin: 0 0;
}

.leaflet-zoom-anim {
  .leaflet-zoom-animated {
    transition: transform .25s cubic-bezier(0, 0, .25, 1);
    will-change: transform;
  }

  .leaflet-zoom-hide {
    visibility: hidden;
  }
}

.leaflet-zoom-anim .leaflet-tile,
.leaflet-pan-anim .leaflet-tile {
  transition: none;
}

.leaflet-interactive {
  cursor: pointer;
}

.leaflet-grab {
  cursor: grab;
}

.leaflet-crosshair,
.leaflet-crosshair .leaflet-interactive {
  cursor: crosshair;
}

.leaflet-popup-pane,
.leaflet-control {
  cursor: auto;
}

.leaflet-dragging .leaflet-grab,
.leaflet-dragging .leaflet-grab .leaflet-interactive,
.leaflet-dragging .leaflet-marker-draggable {
  cursor: grabbing;
}

.leaflet-marker-icon,
.leaflet-marker-shadow,
.leaflet-image-layer,
.leaflet-pane > svg path,
.leaflet-tile-container {
  pointer-events: none;
}

.leaflet-marker-icon.leaflet-interactive,
.leaflet-image-layer.leaflet-interactive,
.leaflet-pane > svg path {
  pointer-events: auto;
}

.leaflet-bar {
  border-radius: 4px;
  box-shadow: 0 1px 5px $leaflet-transparent-black;

  a {
    background-color: $gray-bordered-background;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    border-bottom: 1px solid $gray-lighter;
    color: $black;
    display: block;
    height: 26px;
    line-height: 26px;
    text-align: center;
    text-decoration: none;
    width: 26px;

    &:hover {
      background-color: $white;
    }
  }

  a:first-child {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }

  a:last-child {
    border-bottom: 0;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
  }

  .leaflet-disabled {
    background-color: $gray-lightest;
    color: $gray-lighter;
    cursor: default;
  }
}

.leaflet-control-layers-toggle {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  display: block;
  height: 36px;
  width: 36px;
}

.leaflet-touch {
  .leaflet-bar {
    a {
      height: 30px;
      line-height: 30px;
      width: 30px;

      &:first-child {
        border-top-left-radius: 2px;
        border-top-right-radius: 2px;
      }

      &:last-child {
        border-bottom-left-radius: 2px;
        border-bottom-right-radius: 2px;
      }
    }
  }

  .leaflet-control-zoom-in,
  .leaflet-control-zoom-out {
    font: bold 22px 'Lucida Console', Monaco, monospace;
    text-indent: 1px;
  }

  .leaflet-control-layers-toggle {
    height: 44px;
    width: 44px;
  }

  .leaflet-control-attribution,
  .leaflet-control-layers,
  .leaflet-bar {
    box-shadow: none;
  }

  .leaflet-control-layers,
  .leaflet-bar {
    background-clip: padding-box;
    border: 2px solid $leaflet-transparent-black;
  }
}

.leaflet-control-layers {
  background: $white;
  border-radius: 5px;
  box-shadow: 0 1px 5px $leaflet-transparent-black;

  label {
    display: block;
  }
}

.leaflet-retina .leaflet-control-layers-toggle {
  background-size: 26px 26px;
}

.leaflet-control-layers .leaflet-control-layers-list,
.leaflet-control-layers-expanded .leaflet-control-layers-toggle {
  display: none;
}

.leaflet-control-layers-expanded {
  background: $white;
  color: $gray-dark;
  padding: 6px 10px 6px 6px;

  .leaflet-control-layers-list {
    display: block;
    position: relative;
  }
}

.leaflet-control-layers-scrollbar {
  overflow-x: hidden;
  overflow-y: scroll;
  padding-right: 5px;
}

.leaflet-control-layers-selector {
  margin-top: 2px;
  position: relative;
  top: 1px;
}

.leaflet-control-layers-separator {
  border-top: 1px solid $gray-lightest;
  height: 0;
  margin: 5px -10px 5px -6px;
}

.leaflet-control-attribution,
.leaflet-control-scale-line {
  color: $gray-dark;
  padding: 0 5px;
}

.leaflet-control-scale-line {
  background: $leaflet-transparent-white;
  border: 2px solid $gray-light;
  border-top: 0;
  box-sizing: border-box;
  font-size: 11px;
  line-height: 1.1;
  overflow: hidden;
  padding: 2px 5px 1px;
  white-space: nowrap;
}

.leaflet-control-scale-line:not(:first-child) {
  border-bottom: 0;
  border-top: 2px solid $gray-light;
  margin-top: -2px;
}

.leaflet-control-scale-line:not(:first-child):not(:last-child) {
  border-bottom: 2px solid $gray-light;
}

.leaflet-popup {
  margin-bottom: 20px;
  position: absolute;
  text-align: center;
}

.leaflet-popup-content-wrapper {
  border-radius: calc(#{$base-spacing} / 4);
  overflow: hidden;
  text-align: left;
}

.leaflet-popup-tip-container {
  height: 20px;
  left: 50%;
  margin-left: -20px;
  margin-top: -1px;
  overflow: hidden;
  pointer-events: none;
  position: absolute;
  width: 40px;
}

.leaflet-popup-tip {
  height: 17px;
  margin: -10px auto 0;
  padding: 1px;
  transform: rotate(45deg);
  width: 17px;
}

.leaflet-popup-content-wrapper,
.leaflet-popup-tip {
  background: $white;
  border: 1px solid $gray-lighter;
  color: $gray-dark;
}

.leaflet-popup-content {
  overflow-y: auto;
  padding: calc(#{$base-spacing} / 2) 0 calc(#{$base-spacing} / 2) calc(#{$base-spacing} / 2);
  scrollbar-width: thin;

  &::-webkit-scrollbar {
    background-color: $gray-bordered-background;
    margin-right: 1px;
    width: 7px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $gray-lighter;
    border-radius: 4px;
  }
}

.leaflet-oldie {
  .leaflet-popup-content-wrapper {
    zoom: 1;
  }

  .leaflet-popup-tip {
    margin: 0 auto;
    width: 24px;
  }

  .leaflet-popup-tip-container {
    margin-top: -1px;
  }

  .leaflet-control-zoom,
  .leaflet-control-layers,
  .leaflet-popup-content-wrapper,
  .leaflet-popup-tip {
    border: 1px solid $gray-lightest;
  }
}

.leaflet-div-icon {
  background: $white;
  border: 1px solid $gray-light;
}

.leaflet-tooltip {
  background-color: $white;
  border: 1px solid $white;
  border-radius: 3px;
  box-shadow: 0 1px 3px $leaflet-transparent-black;
  color: $gray-dark;
  padding: 6px;
  pointer-events: none;
  position: absolute;
  user-select: none;
  white-space: nowrap;

  .leaflet-clickable {
    cursor: pointer;
    pointer-events: auto;
  }
}

.leaflet-tooltip-top::before,
.leaflet-tooltip-bottom::before,
.leaflet-tooltip-left::before,
.leaflet-tooltip-right::before {
  background: transparent;
  border: 6px solid transparent;
  content: '';
  pointer-events: none;
  position: absolute;
}

.leaflet-tooltip-bottom {
  margin-top: 6px;
}

.leaflet-tooltip-top {
  margin-top: -6px;
}

.leaflet-tooltip-bottom::before,
.leaflet-tooltip-top::before {
  left: 50%;
  margin-left: -6px;
}

.leaflet-tooltip-top::before {
  border-top-color: $white;
  bottom: 0;
  margin-bottom: -12px;
}

.leaflet-tooltip-bottom::before {
  border-bottom-color: $white;
  margin-left: -6px;
  margin-top: -12px;
  top: 0;
}

.leaflet-tooltip-left {
  margin-left: -6px;
}

.leaflet-tooltip-right {
  margin-left: 6px;
}

.leaflet-tooltip-left::before,
.leaflet-tooltip-right::before {
  margin-top: -6px;
  top: 50%;
}

.leaflet-tooltip-left::before {
  border-left-color: $white;
  margin-right: -12px;
  right: 0;
}

.leaflet-tooltip-right::before {
  border-right-color: $white;
  left: 0;
  margin-left: -12px;
}
