.m-project-page__top-container {
  @include media-breakpoint-up(lg) {
    @include make-container();
    max-width: map-get($container-max-widths, lg);
    padding: 0;
  }

  @include media-breakpoint-only(xxl) {
    max-width: map-get($container-max-widths, xxl);
  }
}

.m-project-page__col--no-padding-lg {
  @include media-breakpoint-up(lg) {
    &-left {
      padding-left: 0;
    }

    &-right {
      padding-right: 0;
    }
  }
}

.m-project-update-list__row {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;

  @include media-breakpoint-down(md) {
    flex-flow: nowrap;
    overflow-x: auto;
  }

  a {
    color: $black;
    text-decoration: none;
  }
}

.m-project-update-list__subheader {
  margin-bottom: 1em;
  margin-top: $base-spacing * 1.75;
}

.m-project-update-list {
  @include media-breakpoint-down(md) {
    display: flex;
  }
}

.m-project-update-list__item {
  @include media-breakpoint-down(md) {
    flex: 0 0 auto;
    margin-right: $base-spacing;
    width: 40%;
  }

  @include media-breakpoint-only(xs) {
    width: 60%;
  }

  &:hover {
    .m-project-update__title {
      color: $brand-primary;
    }
  }

  > .m-route-pills {
    margin-bottom: $base-spacing;
  }
}

.m-project-update__title {
  margin: 0 auto;
}

.m-project-update__photo {
  max-height: 100%;
  max-width: 100%;
  position: relative;
}

.m-project-update__date {
  font-weight: 700;
  margin-top: calc(#{$base-spacing} / 2);
}

.c-projects-header__subheader {
  margin-top: $base-spacing-lg;
}

.m-featured-project-list {
  margin-bottom: $base-spacing;
  width: 100%;

  @include media-breakpoint-only(xs) {
    margin-top: -4 * $base-spacing;
  }
}

.m-featured-project-list__row {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;

  @include media-breakpoint-up(lg) {
    margin-top: 2 * $base-spacing;
  }

  @include media-breakpoint-down(md) {
    margin-bottom: calc(#{$base-spacing} / 2);
  }

  &:first-child {
    margin-top: $base-spacing;
  }
}

.m-featured-project__route-icon {
  margin-right: $base-spacing * .5;
  margin-top: $base-spacing * .5;
  vertical-align: middle;
}

.m-featured-project {
  flex-basis: 0;
  flex-grow: 1;
  margin: 0;

  @include media-breakpoint-only(xs) {
    flex: 0 0 auto;
    width: 100%;
  }

  a {
    color: $black;
    text-decoration: none;
  }

  .m-featured-project__title {
    font-family: $font-family-base;
    font-size: $font-size-h3;
    margin: ($base-spacing * .5) 0 0;
  }

  &:first-child {
    margin-bottom: calc(#{$base-spacing} / 2);
    margin-right: calc(#{$base-spacing} / 2);

    @include media-breakpoint-up(lg) {
      margin-bottom: 0;
      margin-right: $base-spacing;
    }
  }

  &:last-child {
    @include media-breakpoint-up(sm) {
      margin-left: calc(#{$base-spacing} / 2);
    }

    @include media-breakpoint-up(lg) {
      margin-left: $base-spacing;
    }
  }

  &:hover {
    .m-featured-project__title {
      color: $brand-primary;
    }
  }

  * {
    text-decoration: inherit;
  }

  img {
    width: 100%;
  }
}

.m-featured-project__image {
  position: relative;

  img {
    max-height: 100%;
    max-width: 100%;
  }
}

.m-featured-project__date {
  font-weight: bold;
}

.m-more-projects-table {
  table-layout: fixed;
  width: 100%;
}

.m-more-projects-table__thead {
  background-color: $brand-primary-lightest;
}

.m-more-projects-table__th {
  padding-bottom: .75rem;
  padding-top: .75rem;
}

.m-more-projects-table__th-project,
.m-more-projects-table__td-project {
  width: 50%;
}

.m-more-projects-table__th-last-updated,
.m-more-projects-table__td-last-updated {
  width: 25%;
}

.m-more-projects-table__th-status,
.m-more-projects-table__td-status {
  width: 29%;
}

.m-more-projects-table__thumbnail {
  float: left;
  padding-right: calc(#{$base-spacing} / 2);

  @include media-breakpoint-up(lg) {
    height: 4rem;
  }

  @include media-breakpoint-down(md) {
    height: 107px;
  }
}

.m-more-projects-table__th-project {
  padding-left: calc(#{$base-spacing} / 2);
}

.m-more-projects-table__wrapper {
  @include media-breakpoint-up(lg) {
    display: inline-block;
    width: 70%;
  }
}

.m-more-projects-table__tr {
  @include media-breakpoint-up(lg) {
    &:first-child td {
      padding-top: $base-spacing * 1.5;
    }
  }
}

.m-more-projects-table__td {
  border-bottom: solid $gray-bordered-background 1px;
  padding-bottom: $base-spacing;
  padding-top: $base-spacing;
  vertical-align: top;
}

.m-more-projects-table__route-icon {
  margin-right: .5em;
}

.m-more-projects-table__updated-and-status {
  font-size: $font-size-base-sm;
}

.m-more-projects-table__last-updated {
  float: left;
  width: $base-spacing * 9;
}

.m-more-projects-table__internal-header {
  font-weight: bold;
}

.m-more-projects-table__title {
  margin-top: 0;
}

.m-more-projects__show-more-button {
  @include media-breakpoint-up(lg) {
    width: $base-spacing * 22;
  }

  @include media-breakpoint-between(sm, md) {
    width: $base-spacing * 18;
  }

  @include media-breakpoint-down(xs) {
    width: $base-spacing * 21;
  }
}

.m-more-projects__show-more-button-wrapper {
  text-align: center;
  width: 100%;

  @include media-breakpoint-up(sm) {
    margin-top: $font-size-base;
  }

  @include media-breakpoint-down(xs) {
    margin-top: $font-size-base-xs;
  }
}

.m-more-projects-table__status-wrapper {
  vertical-align: top;
}

.m-more-projects-table__status-text {
  vertical-align: top;
}

.m-more-projects-table__status-text--complete {
  color: $brand-success;
}

.m-more-projects-table__status-icon {
  @include media-breakpoint-up(lg) {
    font-size: $font-size-base * 1.5;
  }
}

.m-more-projects-table__status-icon--contract-awarded {

  @include fa-icon-solid($fa-var-plus-circle);
  color: $brand-primary;
}

.m-more-projects-table__status-icon--in-progress {

  @include fa-icon-solid($fa-var-circle);
  color: $brand-primary-light;
}

.m-more-projects-table__status-icon--complete {

  @include fa-icon-solid($fa-var-check-circle);
  color: $brand-success;
}

.filter-and-search {
  background-color: $gray-bordered-background;
  padding: $base-spacing $base-spacing * .9375;

  @include media-breakpoint-up(md) {
    padding-left: 0;
    padding-right: 0;
  }

  .m-tnm-sidebar__filter-bar .m-tnm-sidebar__filter-btn {
    @include media-breakpoint-only(xs) {
      width: 48%;
    }
  }

  .subway-filter .m-tnm-sidebar__filter-btn {
    @include media-breakpoint-only(xs) {
      width: 48%;
    }

    @include media-breakpoint-up(lg) {
      width: 165px;
    }
  }

  .c-mode-filter__filter-btn-group {
    @include media-breakpoint-only(xs) {
      display: block;
    }

    @include media-breakpoint-up(sm) {
      display: inline;
    }

    &:not(:first-of-type) {
      @include media-breakpoint-only(xs) {
        margin-left: 0;
        margin-top: $base-spacing * .25;
      }
    }
  }

  .m-tnm-sidebar__filter-header {
    @include media-breakpoint-up(sm) {
      display: block;
    }
  }
}

.filter-and-search__wrapper {
  @include media-breakpoint-up(md) {
    margin: 0 auto;
  }

  @include media-breakpoint-only(md) {
    max-width: 768px;
  }

  @include media-breakpoint-only(lg) {
    max-width: 960px;
  }

  @include media-breakpoint-only(xxl) {
    max-width: 1200px;
  }
}

.filter-and-search__filter-button {
  margin-bottom: $base-spacing * .5;
  position: relative;
  text-align: center;
  width: $base-spacing * 9;

  @include media-breakpoint-only(xs) {
    margin-right: $base-spacing * .25;
  }
}

.filter-and-search__filter-buttons {
  margin-top: $base-spacing * .25;
}

.subway-filter {
  margin-top: $base-spacing * .25;
}

.subway-filter__top-hairline {
  border-bottom: solid $gray-lightest 1px;
  margin: $base-spacing 0;
  width: 100%;
}
