<div class="route-branch-stop-list route-branch-stop <%= [@mode_class] %>">
  <%= SiteWeb.PartialView.StopBubbles.render_stop_bubbles(@bubble_params) %>
  <div class="itinerary-step">
  <%= @step %>
  </div>
</div>
