
<%= if @show_fares do %>

  <div class="m-trip-plan-results__itinerary-fare-title">Base Fare Estimate</div>

  <div class="m-trip-plan-results__itinerary-fare m-trip-plan-results__itinerary-fare--one-way"><%= @one_way_total %> one way</div>

  <%= if @itinerary_is_from_or_to_airport do %>
    <div class="m-trip-plan-results__itinerary-fare m-trip-plan-results__itinerary-fare--round-trip">
      <%= link to: "/destinations/logan-airport", target: "_blank" do %>
        Logan Airport destination guide
      <% end %>
    </div>
  <% else %>
    <div class="m-trip-plan-results__itinerary-fare m-trip-plan-results__itinerary-fare--round-trip"><%= @round_trip_total %> round trip</div>
    <div class="m-trip-plan-results__itinerary-note"><%= transfer_note(@itinerary) %></div>
  <% end %>

  <%= if show_monthly_passes?(@itinerary) do %>
    <div class="m-trip-plan-results__itinerary-fare-title">Monthly Pass</div>
    <div class="m-trip-plan-results__itinerary-fare m-trip-plan-results__itinerary-fare--month"><%= monthly_pass(@itinerary.passes.base_month_pass) %></div>
  <% end %>

<% else %>

  <%= if @itinerary_is_from_or_to_airport do %>
    <div class="m-trip-plan-results__itinerary-fare m-trip-plan-results__itinerary-fare--round-trip">
      <%= link to: "/destinations/logan-airport", target: "_blank" do %>
        Logan Airport destination guide
      <% end %>
    </div>
  <% end %>

<% end %>
