<%= link to: @href, class: "c-grid-button c-grid-button--static-page", target: assigns[:target] do %>
  <div class="c-grid-button__content">
    <span class="c-grid-button__name">
      <%= @text %>
    </span>
  </div>
<% end %>
