<% track_template() %>
<script data-for="projects" id="js-projects-data" type="text/plain">
  <%= raw Poison.encode!(%{banner: @banner, featuredProjects: @featured_projects, projects: @projects, projectUpdates: @project_updates, placeholderImageUrl: @placeholder_image_url}) %>
</script>

<div id="react-projects-root"></div>
