<div class="error-card">
  <h1 class="error-card-header">404</h1>
  <p class="error-card-subheader">Your stop cannot be found. This page is no longer in service.</p>
  <p class="error-card-button"><a href="/">Return to the homepage.</a></p>
  <div class="error-card-image">
    <%= svg("404.svg")%>
  </div>
</div>
