<h2>Welcome to the MBTA Web Design Standards!</h2>

<p>Here, you'll find instructions for how to use our UI components and visual styles to create beautiful, consistent experiences across Massachusetts Bay Transportation Authority websites and apps.</p>

