<%
  [{:transfer, transfer_bubbles} | steps] = bubble_params(@itinerary_row, @row_idx)
%>

<%=
  render "_itinerary_transfer_stop.html",
    Map.merge(assigns, %{mode: "personal",
                         alerts: @itinerary_row.alerts,
                         bubble_params: transfer_bubbles}) %>

<%= render_steps(@conn, steps, "personal", @itinerary_idx, @row_idx) %>
