<%= if @content.header do %>
  {ContentRewriter.rewrite(@content.header.text, @conn)}
<% end %>

{TeaserView.render("_teaser_list.html",
  teasers: @content.teasers,
  list_class: @list_class,
  fields: @fields,
  conn: @conn
)}

<%= if list_cta?(@type, @content.cta, @content.teasers, @conn.path_info) do %>
  <% cta = setup_list_cta(@content, @conn.path_info) %>
  <p>
    {link(cta.title, to: cms_static_page_path(@conn, cta.url), class: "c-call-to-action")}
  </p>
<% end %>
