{extend_width_if DescriptiveLink.alone?(@content), :cards do
  ~H"""
  <.descriptive_link href={
    if(@content.link, do: cms_static_page_path(@conn, @content.link.url), else: "")
  }>
    <:title>{ContentRewriter.rewrite(@content.title, @conn)}</:title>
    {ContentRewriter.rewrite(@content.body, @conn)}
  </.descriptive_link>
  """
end}
