<% track_template() %>
<div class="people-grid-photo">
  <%= img_tag(@person.profile_image.url, alt: @person.profile_image.alt) %>
</div>

<div>
  <div><strong><%= @person.name%></strong></div>
  <div><%= @person.position%></div>
  <div><%= link "View Bio", to: cms_static_page_path(@conn, @person.path_alias || "/node/#{@person.id}") %></div>
</div>
