<div class="alerts-section">
  <% alerts = alerts_for_project(@page, @alerts) %>
  <%= if !Enum.empty?(alerts) do %>
    <h2>Related Service Alerts</h2>
    <%= render(SiteWeb.AlertView, "summary.html", alerts: alerts) %>
    <details>
      <summary>Details</summary>
      <%= render(SiteWeb.AlertView, "group.html", alerts: alerts, date_time: @date_time, hide_urls: true) %>
    </details>
  <% end %>
</div>
