<div class="alerts-section">
  <%
    paths = MapSet.new([@page.path_alias | @page.redirects])
    alerts = Enum.filter(@alerts, & alert_related?(paths, &1))
  %>
  <%= if !Enum.empty?(alerts) do %>
    <h2>Related Service Alerts</h2>
    <details>
      <summary>Details</summary>
      <%= render(SiteWeb.AlertView, "group.html", alerts: alerts, date_time: @date_time, hide_urls: true) %>
    </details>
  <% end %>
</div>
