<p>
  To submit an ADA/Accessibility complaint or feedback, please call the number listed above or complete the feedback form to the left. The Customer Engagement Coordinator System-Wide Accessibility & Customer Liaison for The RIDE are responsible for coordinating the resolutions of ADA/Accessibility complaints once they are received.
</p>
<p>
  <%= link to: cms_static_page_path(@conn, "/accessibility/frequently-asked-questions#14"), class: "c-call-to-action" do %>
    Learn what happens after you file a complaint
  <% end %>
</p>
