<%= content_tag(:p, "The Internal Special Audit Unit within the Office of the Inspector General monitors the quality, efficiency, and integrity of MassDOT programs.") %>

<%= content_tag(:p, [
  content_tag(:a, "Report suspected fraud, waste, or abuse", href: "https://www.mass.gov/service-details/massdot-fraud-waste-and-abuse", class: "c-call-to-action", target: "_blank", class: "c-call-to-action")]) %>
