<div class="recent-news">
  <h2>{~t(Recent News on the T)}</h2>
  <div class="l-title-cards">
    <%= for teaser <- @recent_news do %>
      <%= link to: news_entry_path(@conn, :show, teaser), class: "c-title-card c-title-card--link" do %>
        <p class="news-metadata">
          {format_date(teaser.date)}
        </p>
        <div class="c-title-card__title c-title-card--link__title">
          {teaser.title}
        </div>
      <% end %>
    <% end %>
  </div>
</div>
