name: Asana Workflow

on:
  pull_request:
    types: [review_requested, closed]

jobs:
  call-workflow:
    uses: mbta/workflows/.github/workflows/asana.yml@5c46d99bcf742a09983588d30a2b3ffed710decd
    with:
      complete-on-merge: false
      review-section: "Code Review"
      merged-section: "To Be Released"
      attach-pr: true
      trigger-phrase: "\\*\\*Asana Ticket:\\*\\*"
    secrets:
      asana-token: ${{ secrets.ASANA_PERSONAL_ACCESS_TOKEN }}
      github-secret: ${{ secrets.ASANA_SECRET }}
