# Deploys released tag to production
name: "Deploy: release"

on:
  release:
    types:
      - released

jobs:
  release:
    uses: ./.github/workflows/use-deploy-ecs.yml
    with:
      deployment-env: prod
      extra-docker-tag: ${{ github.event.release.tag_name }}
    secrets:
      aws-account-id: ${{ secrets.TID_AWS_ACCOUNT_ID }}
      aws-role-arn: ${{ secrets.AWS_ROLE_ARN }}
      docker-repo: ${{ secrets.DOCKER_REPO }}

  notify:
    needs: [release]
    uses: ./.github/workflows/use-notify-slack.yml
    if: ${{ !cancelled() }}
    secrets:
      slack-webhook: ${{ secrets.SLACK_WEBHOOK }}
    with:
      job-status: ${{ needs.release.result }}
      success-message: |
        :t-intensifies: `prod` updated to release `${{ github.event.release.tag_name }}`
      failure-message: |
        release `${{ github.event.release.tag_name }}` failed to update `prod`

  sentry:
    needs: [release]
    if: ${{ !cancelled() }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - uses: getsentry/action-release@v3.5.0
        env:
          SENTRY_AUTH_TOKEN: ${{ secrets.SENTRY_AUTH_TOKEN }}
          SENTRY_ORG: mbtace
          SENTRY_PROJECT: mbta-dotcom
        with:
          environment: prod
          version: ${{ github.event.release.tag_name }}

      - uses: getsentry/action-release@v3.5.0
        env:
          SENTRY_AUTH_TOKEN: ${{ secrets.SENTRY_AUTH_TOKEN }}
          SENTRY_ORG: mbtace
          SENTRY_PROJECT: mbta-site
        with:
          environment: prod
          version: ${{ github.event.release.tag_name }}
