name: Publish docs

on:
  push:
    paths:
      - "**.ex"
      - "**.exs"
      - "**.md"
      - ".github/workflows/docs.yml"
    branches:
      - main

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/configure-pages@v4
      - uses: erlef/setup-beam@v1
        with:
          otp-version: 26.2
          elixir-version: 1.16.1
      - run: mix deps.get
      - run: mix docs --formatter html
      - uses: actions/upload-pages-artifact@v3
        with:
          path: ./doc
      - uses: actions/deploy-pages@v4

  deploy:
    concurrency:
      group: "pages"
      cancel-in-progress: true
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
