<h2 class="h5">Find nearby stops and stations</h2>
<div class="m-transit-near-me__input">
  <.algolia_autocomplete
    id="transit-near-me-locations"
    config_type="transit-near-me"
    placeholder="Enter a location"
  />
</div>
