<h2 class="h5">Find nearby stops and stations</h2>
<div class="m-transit-near-me__input">
  <.algolia_autocomplete
    id="transit-near-me-locations"
    geolocation={true}
    locations_count={5}
    locations_url_type="transit-near-me"
    placeholder="Enter a location"
    submit_handler={nil}
    initial_state={true}
  />
</div>
